<% content_for :head do %>
  <title><%= t("question.title") %></title>
<% end %>

<% content_for :javascript_includes do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places">
  </script>
<% end %>


<%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :city_name %>
      <br/>
      <%= f.text_field :city_name, :class=>"search_box", :placeholder=>"Enter A City" %>
    </div>

    <input id="lat" name="question[location][]" type="hidden" value="<%= @question.location[0] %>">
    <input id="lng" name="question[location][]" type="hidden" value="<%= @question.location[1] %>">

    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title, :size=>50 %>
    </div>

    <div class="actions" style="float:left;">
      <%= f.submit :class=>"submit" %>
    </div>
<% end %>

<% content_for :javascript do %>

  <script type="text/javascript">

    $(document).ready(function(){

        $('#question_city_name').keypress(function(e){
            if ( e.which == 13 ) return false;
        });

        $("#question_city_name").focusout(function () {
            var firstResult = $(".pac-container .pac-item:first").text();

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({"address":firstResult }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var lat = results[0].geometry.location.lat(),
                    lng = results[0].geometry.location.lng(),
                    placeName = results[0].address_components[0].long_name;

                    $("#question_city_name").val(firstResult);

                    $("#lat").val( lat );
                    $("#lng").val( lng );

                }
            });
        });

        var input = document.getElementById('question_city_name');
        var autocomplete = new google.maps.places.Autocomplete(input);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            console.debug( place );
            if ( place.geometry ){
                $("#lat").val( place.geometry.location.lat() );
                $("#lng").val( place.geometry.location.lng() );
            }
        });

     });

  </script>
<% end %>

