<div class="left_place_column" style="">
  <%= image_tag("lightbulbglyph.png", :class => "light_bulb_glyph") %>
</div>

<div class="center_place_column">
  <span class="question_title"><%= link_to question.title, question %></span>

  <div class="address_text">
    <span class="answer_num"><%= question.answers.count %></span> <%= question.answers.count <= 1 ? t('question.answer') : t('question.answer').pluralize %>
  </div>
</div>

<div class="right_place_column">
  <div class="posted_at"><%= t('question.posted_at', :created_at => question.created_at.strftime("%b %d | %Y")) %></div>
</div>

<div class="question_clear"></div>