<% content_for :head do %>
    <title><%= t 'question.questions' %></title>
<% end %>


<% content_for :javascript_includes do %>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtWBCKJwtHq7ME82vk3d7eUsRknvzgrAQ&sensor=false&libraries=places">
    </script>
<% end %>

<div id="question_header">
  <div id="header_content">
    <div id="question_index_header">
      <%= form_for(@question) do |f| %>
          <%= f.hidden_field :country_code, :id => "country_code" %>
          <input id="lat" name="question[location][]" type="hidden" value="<%= @question.location[0] %>">
          <input id="lng" name="question[location][]" type="hidden" value="<%= @question.location[1] %>">

          <div class="field" id="question_creator" style="width:100%">
            <div id="questions_bubble">
              <%= f.text_field :title, :class => "header_question_field_box", :placeholder => t('question.placeholder_question') %>
              <span class="header_question_field_box" style="margin-left:5px;margin-right:8px;"><%= t('question.in') %></span>
              <%= f.text_field :city_name, :class => "header_question_field_box", :placeholder => t('question.placeholder_city'), :size => 20 %>
            </div>
            <%= f.submit :class => "submit", :style => "float:left;margin-top:30px;", :value => t("question.ask_question") %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div id="question_index">
  <% if @myQuestions.nil? %>
      <%= render :partial => "signup_prompt" %>
  <% elsif @myQuestions.count == 0 %>
      <%= render :partial => "ask_prompt" %>
  <% else %>
      <%= render :partial => "my_questions", :locals => {:myQuestions => @myQuestions} %>
  <% end %>
  <ul id="nearby_question_list">
    <div class="question_section_title"><%= t 'question.nearby_questions' %></div>
    <% @questions.each_with_index do |question, i| %>
        <hr class="questions">
        <li id="<%= question.id %>" class="place_answer <%= i %2==1 ? "" : "colored_place_row" %>">
          <%= render :partial => "question", :locals => {:question => question} %>
        </li>
    <% end %>

    <hr class="questions">
  </ul>

  <div class="question_clear"></div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#question_city_name').keypress(function (e) {
                if (e.which == 13) return false;
            });

            $("#question_city_name").focusout(function () {
                var firstResult = $(".pac-container .pac-item:first").text();

                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({"address":firstResult }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        $("#question_city_name").val(firstResult);

                        for (var i = 0; i < results[0].address_components.length; i++) {
                            component = results[0].address_components[i];

                            if (jQuery.inArray("country", component.types) >= 0) {
                                $("#country_code").val(component.short_name);
                                break;
                            }
                        }

                        $("#lat").val(results[0].geometry.location.lat());
                        $("#lng").val(results[0].geometry.location.lng());

                    }
                });
            });

            var input = document.getElementById('question_city_name');
            var autocomplete = new google.maps.places.Autocomplete(input);

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                console.debug(place);
                if (place.geometry) {

                    for (var i = 0; i < place.address_components.length; i++) {
                        component = place.address_components[i];

                        if (jQuery.inArray("country", component.types) >= 0) {
                            $("#country_code").val(component.short_name);
                            break;
                        }
                    }


                    $("#lat").val(place.geometry.location.lat());
                    $("#lng").val(place.geometry.location.lng());
                }
            });

        });

    </script>
<% end %>