<div id="content_holder">
  <% content_for :head do %>
      <title><%= t("question.title") %></title>
  <% end %>

  <% content_for :javascript_includes do %>
      <script type="text/javascript"
              src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places">
      </script>
  <% end %>


  <%= form_for(@question) do |f| %>
      <% if @question.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h3>

            <ul>
              <% @question.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :country_code, :id => "country_code" %>
      <input id="lat" name="question[location][]" type="hidden" value="<%= @question.location[0] %>">
      <input id="lng" name="question[location][]" type="hidden" value="<%= @question.location[1] %>">

      <div class="field" id="question_creator" style="width:100%">
        <div id="questions_bubble">
          <%= f.text_field :title, :class => "header_question_field_box", :placeholder => t('question.placeholder_question') %>
          <span class="header_question_field_box" style="margin-left:5px;margin-right:8px;"><%= t('question.in') %></span>
          <%= f.text_field :city_name, :class => "header_question_field_box", :placeholder => t('question.placeholder_city'), :size => 20 %>
        </div>
        <%= f.submit :class => "submit", :style => "float:left;margin-top:30px;", :value => t("question.ask_question") %>
      </div>
  <% end %>

</div>

