
<div id="share_content" style="width:600px;margin:50px auto 0px auto;text-align: center;">
    <div id="question_title_copy"><%= @question.title %></div>
    <div>
        <span class="question_share_prompt"><%= t'question.share_prompt' %></span><br>
          <a class="social" href="https://twitter.com/share?url=https://www.placeling.com<%= question_path(@question) %>&text=<%= u @question.title + " discuss on Placeling" %>" onclick="var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document;window.open(this.href, '', 'left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"><%= image_tag asset_path("twitter/twitter_static.png"), :alt=>"tweet", :class=>"twitter_button" %></a>
          <a class="social" href="" onclick="javascript:var d=document,f='https://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1323211438&u='+e('https://www.placeling.com<%= question_path(@question) %>')+'&t='+e('<%= u @question.title %>');1;try{if (!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z) {a=function() {if (!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if (/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0);return false"><%= image_tag asset_path("facebook/facebook_Static.png"), :alt=>"share on facebook", :class=>"facebook_button" %></a>
          <a class="social" href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?title=<%= u @question.title %>&url=https://www.placeling.com<%= question_path(@question) %>'; return false;" ><%= image_tag asset_path("reddit/reddit_Static.png"), :alt=>"submit to reddit", :class=>"reddit_button" %></a>
    </div>
    <div class="all_places_holder">
      <%= link_to t('question.done'), @question, :class =>"all_places" %>
    </div>
</div>



<% content_for :javascript do %>

    <% if Rails.env.production?%>
          <script type="text/javascript">
            $(document).ready(function(){

                $("a.social").click(function() {
                    // This sends us an event every time a user clicks the button
                    mpmetrics.track("question_share_click",  {'question_id':'<%= @question.id %>'});
                });

            });
          </script>
    <% end %>
<% end %>
