<% content_for :head do %>
    <title><%= @question.title %></title>

    <meta property="og:title" content="<%= @question.title %>"/>
    <meta property="og:url" content="<%= @question.og_path %>"/>
    <meta property="og:type" content="placeling:question">
    <meta property="og:article" content="a">
    <meta property="og:image" content="<%= asset_path("Moustache.png") %>">
    <link rel="image_src" href="<%= asset_path("Moustache.png") %>">
    <META NAME="geo.position" content="<%= @question.location[0] %>;<%= @question.location[1] %>"/>
    <meta name=”ICBM” content=”<%= @question.location[0] %>,<%= @question.location[1] %>″>
<% end %>


<% content_for :javascript_includes do %>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtWBCKJwtHq7ME82vk3d7eUsRknvzgrAQ&sensor=false&libraries=places">
    </script>
<% end %>

<div id="question_header">
  <div id="header_content">
    <div id="question_member">
      <div class="question_poster_username">
        <div><%= link_to image_tag(@question.user.thumb_url, :alt => "Profile Pic", :class => "styled_question_pic"), user_path(@question.user) %>
          <span class="user_asked"><%= link_to @question.user.username, @question.user %> <%= t 'question.asked' %></span>
        </div>
        <div id="question_prompt"><%= @question.title %></div>
        <div class="question_posted_at"><%= t('question.posted_at', :created_at => @question.created_at.strftime("%b %d, %Y")) %></div>
      </div>
    </div>
    <div class="question_clear"></div>
  </div>
</div>


<div id="question_main">
  <div id="question_left_column">
    <div id="answer_publisher">
      <%= image_tag(asset_path("moustache_mini.png"), :class => "mr_moustache_img") %>
      <%= form_for(@answer, :url => question_answers_path(@question)) do |a| %>
          <div class='left_place_column answer_input'>
            <input id="answer_place" name="place_name" placeholder="<%= t('question.text_prompt') %>" size="40" type="text" value="">
            <input id="google_id_place" name="google_id_place" type="hidden" value="">
            <input id="google_ref_place" name="google_ref_place" type="hidden" value="">

            <div id="new_place_name" class="place_name" style="display: none;width:100%"></div>
            <div id="new_address" class="address_text" style="display: none;width:100%"></div>
          </div>
          <div class='right_place_column'>
            <input id="place_submit" style="display:none" class="submit" type="submit" value="<%= t('question.suggest') %>" name="commit">
            <a href="#" id="cancel_link" style="display:none"><%= t 'question.cancel' %></a>
          </div>
      <% end %>
    </div>
    <div id="tally_holder">
      <div id="suggestion_tally">
        <% if @question.answers.count == 1 %><%= t('question.place_tally_singular') %>
            <% else %><%= t('question.place_tally', :tally => @question.answers.count) %>
        <% end %></div>
      <div id="tally_clear"></div>
    </div>
    <ul id="answer_list">
      <% @question.answers.order_by([[:upvotes, :desc]]).each_with_index do |answer, i| %>
          <% if !answer.new_record? %>
              <li id="<%= answer.id %>" class="place_answer <%= i %2 == 1 ? "" : "colored_place_row" %>
                <% if i != 2 %>bottom_border
                <% end %>
                <% if i == 0 %>top_border
                <% end %>">
                <%= render :partial => "answers/answer", :locals => {:answer => answer} %>
              </li>
          <% end %>
          <% if i == 2 %>
              <li class="question_map_holder">
                <img src="<%= map_url(@question) %>" alt="map" class="question_map">
              </li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div id="question_right_column">

    <div class="right_info">

      <% if current_user && @question.subscribers.include?(current_user.id) %>
          <%= button_to t("question.unsubscribe"), {:action => "unsubscribe", :id => @question.id}, :form_class => "button_form" %>
      <% else %>
          <%= button_to t("question.subscribe"), {:action => "subscribe", :id => @question.id}, :form_class => "button_form_green" %>
      <% end %>
      <div class="address_text" style="padding-top:3px"><%= t("question.subscribe_copy") %></div>
    </div>

    <% if @other_questions.count > 0 %>
        <div class="right_info">
          <div class="right_info_title"><%= t 'question.other_questions' %></div>
          <div id="other_questions" class="right_info">
            <% @other_questions.each do |question| %>
                <%= link_to question.title, question, :class => "other_questions_detail" %>
                <br>
            <% end %>
            <p class="more_questions_spacer"><%= link_to "#{ t 'question.see_more' }...", questions_path, :class => "other_questions_detail" %></p>
          </div>
        </div>
    <% end %>
    <div class="right_info">
      <div class="right_info_title"><%= t 'question.share' %></div>
      <a class="social_share" href="https://twitter.com/share?url=https://www.placeling.com<%= question_path(@question) %>&text=<%= u @question.title + " Answer on @Placeling" %>" onclick="var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document;window.open(this.href, '', 'left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"><%= image_tag asset_path("x.gif"), :alt => "tweet", :class => "twitter_button" %></a>
      <a class="social_share" href="" onclick="javascript:var d=document,f='https://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1323211438&u='+e('https://www.placeling.com<%= question_path(@question) %>')+'&t='+e('<%= u @question.title %>');1;try{if (!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z) {a=function() {if (!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if (/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0);return false"><%= image_tag asset_path("x.gif"), :alt => "share on facebook", :class => "facebook_button" %></a>
      <a class="social_share" href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?title=<%= u @question.title %>&url=' + encodeURIComponent(window.location); return false;"><%= image_tag asset_path("x.gif"), :alt => "submit to reddit", :class => "reddit_button" %></a>
    </div>

    <div class="right_info">
      <div class="right_info_title"><%= t 'question.own_prompt' %></div>
      <div id="ask_friends_button" class="all_places_holder right_info">
        <%= link_to image_tag(asset_path("AskyourfriendsButton.png")), new_question_path %>
      </div>
    </div>

    <div class="miranda_graphic right_info">
      <%= image_tag asset_path("Miranda-01.png") %>
    </div>
  </div>
  <div class="question_clear"></div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">

        $(document).ready(function () {

            var input = document.getElementById('answer_place');
            var defaultBounds = new google.maps.LatLngBounds(
                    new google.maps.LatLng(<%= @question.location[0] %>, <%= @question.location[1] %>),
                    new google.maps.LatLng(<%= @question.location[0] %>, <%= @question.location[1] %>));

            var options = {
                bounds:defaultBounds,
                componentRestrictions:{country:'<%= @question.country_code %>'}
            };

            var autocomplete = new google.maps.places.Autocomplete(input, options);

            $(".comment_link").click(function () {
                $(this).parent().parent().find(".answer_comment").show();
                $(this).parent().parent().find(".answer_comment_textfield").focus();

                $(this).parent().find(".comment_link").hide();
                //$(this).hide();
                return false;
            });

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();

                if (place.reference) {
                    $("#google_id_place").val(place.id);
                    $("#google_ref_place").val(place.reference);
                    $("#new_address").html(place.formatted_address);
                    $("#answer_place").hide(10);
                    $("#new_address").show();
                    $("#place_submit").show(10);
                    $("#new_place_name").html(place.name);
                    $("#new_place_name").show();
                    $("#cancel_link").show();
                }
            });

            $("#cancel_link").click(function () {
                $("#answer_place").show(10);
                $("#place_submit").hide(10);
                $("#answer_place").val("");
                $("#new_address").hide();
                $("#new_address").html("");
                $("#new_place_name").html("");
                $("#new_place_name").hide();
                $("#cancel_link").hide();
            });

            $('#answer_place').keypress(function (e) {
                if (e.which == 13) return false;
            });

        });

    </script>
<% end %>