<% content_for :head do %>
  <title><%= @question.title %></title>
<% end %>


<% content_for :javascript_includes do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtWBCKJwtHq7ME82vk3d7eUsRknvzgrAQ&sensor=false&libraries=places">
  </script>
<% end %>

<p id="notice"><%= notice %></p>


<table>
  <tr>
    <td>
    <div id="member">
      <div class="profile_pic_holder">
        <a href="<%= user_path(@question.user) %>"><%= image_tag @question.user.thumb_url, :alt=>"Profile Pic", :class =>"styled_perspective_pic" %></a>
      </div>
      <div class="profile_username">
        <div><%= link_to( @question.user.username, @question.user, :class=>"username_perspective_link")%></div>
        <% if @question.user.perspective_count > 1 %>
        <div class="all_places_holder"><a href="<%= user_path(@question.user) %>?pid=<%= @question.id %>" class="all_places"><%= t('perspective.count', {:count => @question.user.perspective_count}) %></a></div>
        <% end %>
      </div>
    </div>
    <p>
      <b><%= @question.title %></b><br>
      <%= @question.description %>
    </p>

   <%= form_for( @answer, :url => question_answers_path(@question) ) do |a| %>
      <b><%= t 'question.suggest_place' %></b><br/>
      <input id="answer_place" name="place_name" placeholder="type a place" size="100" type="text" value="">
      <input id="google_id_place" name="google_id_place" type="hidden" value="">
      <input id="google_ref_place" name="google_ref_place" type="hidden" value="">

      <div class="field">
        <%= a.text_area :comment, :size =>"40x5" %>
      </div>

          <div class="actions" style="float:left;">
      <input id="place_submit" class="submit" type="submit" value="<%= t('question.suggest') %>" name="commit">
    </div>


   <% end %>

    </td>
    <td>

      <p>
        <b><%= @question.city_name %></b>
      </p>
      <div class="map_holder">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @question.location[0] %>,<%= @question.location[1] %>&zoom=12&size=258x198&sensor=false" alt="map" class="map_perspective">
      </div>

      <div class="all_places_holder">
        <a href="<%= new_question_path %>" class="all_places">
          <%= t('question.make_own') %>
        </a>
      </div>

    </td>
  </tr>
</table>


<% content_for :javascript do %>

  <script type="text/javascript">
    var main_map;

    $(document).ready(function(){

        var input = document.getElementById('answer_place');
        var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(<%= @question.location[0] %>, <%= @question.location[1] %>),
          new google.maps.LatLng(<%= @question.location[0] %>, <%= @question.location[1] %>));

        var options = {
          bounds: defaultBounds,
          types: ['establishment']

        };

        var autocomplete = new google.maps.places.Autocomplete(input, options);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            console.debug( place );
            $("#google_id_place").val( place.id );
            $("#google_ref_place").val( place.reference );

        });

     });

  </script>
<% end %>