<% content_for :head do %>
  <title><%= @question.title %></title>

    <meta name="description" content="<%= @question.title %>">
    <meta property="og:title" content="<%= @question.title %>"/>
    <meta property="og:url" content="<%= @question.og_path %>"/>
    <meta property="og:type" content="webpage">

    <META NAME="geo.position" content="<%= @question.location[0] %>;<%= @question.location[1] %>" />
    <meta name=”ICBM” content=”<%= @question.location[0] %>,<%= @question.location[1] %>″>
<% end %>


<% content_for :javascript_includes do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtWBCKJwtHq7ME82vk3d7eUsRknvzgrAQ&sensor=false&libraries=places">
  </script>
<% end %>

<div id="question_header">
  <div id="question_member">
    <div class="question_poster_username">
      <div><%= link_to image_tag(@question.user.thumb_url, :alt=>"Profile Pic", :class =>"styled_question_pic"), user_path(@question.user) %>
      <span class="user_asked"><%= link_to @question.user.username, @question.user %> <%= t'question.asked' %></span></div>
      <div id="question_prompt"><%= @question.title %></div>
    </div>
  </div>

  <div id="question_share">
      <span class="user_asked"><%= t'question.share' %></span><br>
      <span class="social">
        <a href="https://twitter.com/share?url=https://www.placeling.com<%= question_path(@question) %>&text=<%= u @question.title + " #placequery" %>" onclick="var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document;window.open(this.href, '', 'left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"><%= image_tag "twitter.png", :alt=>"tweet", :class=>"share" %></a>
      </span>
      <span class="social">
        <a href="" onclick="javascript:var d=document,f='https://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1323211438&u='+e('https://www.placeling.com<%= question_path(@question) %>')+'&t='+e('<%= u @question.title %>');1;try{if (!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z) {a=function() {if (!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if (/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0);return false"><%= image_tag "facebook.png", :alt=>"share on facebook", :class=>"share" %></a>
      </span>
      <span class="social">
        <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?title=<%= @question.title %>&url=' + encodeURIComponent(window.location); return false"> <%= image_tag "reddit.gif", :alt=>"submit to reddit", :class=>"share" %></a>
      </span>
  </div>
  <div class="question_clear"></div>
</div>


<div id="question_main">
    <div id="question_left_column">
       <div id="answer_publisher">
       <%= form_for( @answer, :url => question_answers_path(@question) ) do |a| %>
          <div class='center_place_column'>
              <input id="answer_place" name="place_name" placeholder="<%= t'question.text_prompt' %>" size="40" type="text" value="">
              <input id="google_id_place" name="google_id_place" type="hidden" value="">
              <input id="google_ref_place" name="google_ref_place" type="hidden" value="">
              <div id="new_place_name" style="display: none; font-weight: bold"></div>
              <div id="new_address" class="address_text"  style="display: none"></div>
          </div>
          <div class='right_place_column'>
              <input id="place_submit" style="display:none" class="submit" type="submit" value="<%= t('question.suggest') %>" name="commit">
              <a href="#" id="cancel_link" style="display:none"><%= t'question.cancel'%></a>
          </div>
       <% end %>
       </div>

       <div id="suggestion_tally"><%= t 'question.place_tally', :tally => @question.answers.count %></div>
       <ul id="answer_list">
        <% @question.answers.order_by([[:upvotes, :desc]]).each_with_index do |answer, i| %>
          <% if !answer.new_record? %>
            <%= render :partial => "answers/answer", :locals => {:answer =>answer, :i =>i} %>
          <% end %>
        <% end %>
         <hr class="questions">
       </ul>
    </div>
    <div id="question_right_column">
      <div class="map_holder">
        <img src="<%= map_url( @question ) %>" alt="map" class="question_map">
      </div>

      <div id="create_own_prompt" class="right_info"><%=  t'question.own_prompt' %></div>
      <div class="all_places_holder right_info">
        <a href="<%= new_question_path %>" class="all_places">
          <%= t('question.make_own') %>
        </a>
      </div>

      <div class="miranga_graphic right_info">
        <%=  image_tag asset_path("Miranda-01.png") %>
      </div>
  </div>
  <div class="question_clear"></div>
</div>

<% content_for :javascript do %>

    <% if Rails.env.production?%>
          <script type="text/javascript">
            $(document).ready(function(){
                mixpanel.track_links('a', 'clicked link');
                mixpanel.track('question_view', {'question_id':'<%= @question.id %>', 'question':"<%= u @question.title %>"});
            });
          </script>
    <% end %>

  <script type="text/javascript">

    $(document).ready(function(){

        var input = document.getElementById('answer_place');
        var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(<%= @question.location[0] %>, <%= @question.location[1] %>),
          new google.maps.LatLng(<%= @question.location[0] %>, <%= @question.location[1] %>));

        var options = {
          bounds: defaultBounds,
          types: ['establishment'],
          componentRestrictions: {country: '<%= @question.country_code %>'}
        };

        var autocomplete = new google.maps.places.Autocomplete(input, options);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();

            if ( place.reference ){
                $("#google_id_place").val( place.id );
                $("#google_ref_place").val( place.reference );
                $("#new_address").html( place.formatted_address );
                $("#answer_place").hide(10);
                $("#new_address").show();
                $("#place_submit").show(10);
                $("#new_place_name").html( place.name );
                $("#new_place_name").show();
                $("#cancel_link").show();
            }
        });

        $("#cancel_link").click( function(){
            $("#answer_place").show(10);
            $("#place_submit").hide(10);
            $("#answer_place").val("");
            $("#new_address").hide();
            $("#new_address").html( "" );
            $("#new_place_name").html( "" );
            $("#new_place_name").hide();
            $("#cancel_link").hide();
        });

        $('#answer_place').keypress(function(e){
            if ( e.which == 13 ) return false;
        });

     });

  </script>
<% end %>