<% content_for :javascript_includes do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtWBCKJwtHq7ME82vk3d7eUsRknvzgrAQ&sensor=false&libraries=places">
  </script>
<% end %>

<%= form_for @blog, :url => url_for(:controller => 'blogs', :action => @action) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <ul class="error_reasons">
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="standout">
    <p class="label emphasize">Name</p>
    <%= f.text_field :title, :class => "entry_field" %>
  </div>
  
  <div class="standout">
    <p class="label emphasize">URL</p>
    <%= f.text_field :url, :class => "entry_field" %>
  </div>
  
  <div class="standout">
    <p class="label emphasize">RSS Feed URL</p>
    <%= f.text_field :feed_url, :class => "entry_field" %>
  </div>
  
  <div class="standout">
    <p class="label emphasize">Host Name</p>
    <%= f.text_field :hostname, :class => "entry_field" %>
  </div>
  
  <div class="standout">
    <p class="label emphasize">Twitter</p>
    <%= f.text_field :twitter, :class => "entry_field" %>
  </div>
  
  <div class="standout">
    <p class="label emphasize">Email</p>
    <%= f.text_field :email, :class => "entry_field" %>
  </div>
  
  <div class="standout">
    <p class="label emphasize">City</p>
    <%= f.text_field :city_name, :class => "entry_field" %>
  </div>
  
  <div class="standout">
    <p class="label emphasize">Auto Crawl?</p>
    <%= f.radio_button :auto_crawl, "false" %><%= f.label :auto_crawl, 'No', :value => 'false' %>
    <%= f.radio_button :auto_crawl, "true" %><%= f.label :auto_crawl, 'Yes', :value => 'true' %>
  </div>
  
  <div class="field">
    <% if @blog.location %>
      <input id="blogger_lat" name="blogger[location][]" type="hidden" value="<%= @blog.location[0] %>">
      <input id="blogger_lng" name="blogger[location][]" type="hidden" value="<%= @blog.location[1] %>">
    <% else %>
      <input id="blogger_lat" name="blogger[location][]" type="hidden" value="" />
      <input id="blogger_lng" name="blogger[location][]" type="hidden" value="" />
    <% end %>
  </div>
  
  <div id="create_or_cancel">
    <span class="cancel">
      <a href="<%= blogs_path %>">Cancel</a>
    </span>
    <%= f.submit "Save", :class=>"submit" %>
  </div>
<% end %>

<% content_for :javascript do %>

  <script type="text/javascript">
    var input = document.getElementById('blogger_city_name');
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.setTypes(['geocode']);
    
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
        document.getElementById("blogger_lat").value = place.geometry.location.lat();
        document.getElementById("blogger_lng").value = place.geometry.location.lng();
    });
    
    $(document).ready(function(){
      $('#blogger_city_name').keypress(function(e) {
          if (e.which == 13) {
              return false;
          }
      });
    })
  </script>
<% end %>