<div class="blog_wrapper">
  <% if @cities.length > 0 %>
    <h2><%= link_to("Add a blog", new_blog_path) %></h2>
    <h1>Blogs</h1>
    <% @cities.each do |city| %>
      <p class="blog_listing">
        <a href="<%= blogs_place_path(city["place"]) %>"><%= city["place"].name %> (<%= city["count"] %>)</a>
      </p>
    <% end %>
    <p><%= link_to("All blogs", all_blogs_path) %></p>
  <% else %>
    <p>No blogs yet. <%= link_to("Add one", new_blog_path) %></p>
  <% end %>
</div>
