<div class="blog_wrapper">
  <% if @blogs.length > 0 %>
    <h2><%= link_to("Add a blog", new_blog_path) %></h2>
    <h1>Blogs</h1>
    <h3><%= link_to("Show all", blogs_path(:all => true))%></h3>
    <% @blogs.each do |blog| %>
      <p class="blog_listing"><%= link_to(blog.title, blog_path(blog)) %> <%= link_to("Edit", edit_blog_path(blog), :class=>"blog_action") %> <%= link_to("Delete", blog_path(blog), :method=>:delete, :confirm=>"Delete this blog?", :class=>"blog_action") %> <%= link_to("Reset RSS Feed", empty_feed_blog_path(blog), :method=> :post, :class=> "blog_action", :confirm=>"Delete all feed entries?")%>  <%= link_to("Update RSS Feed", update_feed_blog_path(blog), :method => :post, :class=>"blog_action") %></p>
    <% end %>
  <% else %>
    <p>No blogs yet. <%= link_to("Add one", new_blog_path) %></p>
  <% end %>
</div>
