<div class="blog_wrapper">
  <h1><%= @blog.title %></h1>
  <p><%= link_to("website", @blog.url, :target => :blank )%></p>
  <% if @blog.feed_url %>
  <p><%= link_to("feed", @blog.feed_url) %></p>
  <% end %>
  <% if @blog.hostname %>
  <p><%= @blog.hostname %></p>
  <% end %>
  <% if @blog.twitter %>
  <p><%= @blog.twitter %></p>
  <% end %>
  <% if @blog.email %>
  <p><%= @blog.email %></p>
  <% end %>
  <p><%= @blog.city_name %></p>

  <% if @blog.entries and @blog.entries.length > 0 %>
    <h1>Feed</h1>
    <% @blog.entries.order_by([[:published, :desc]]).each do |entry| %>
      <%= render :partial => "entry", :locals => {:entry => entry} %>
    <% end %>
  <% else %>
    No feed entries
  <% end %>
</div>