<table class="table table-striped">

  <% @perspectives.each do |perspective| %>
      <tr id="<%= perspective.place.slug %>">
        <td>
          <%= perspective.place.name %>
          <br>
          <%= perspective.place.street_address %>
          <br>

          <div style="display: block;width:100%">
            <div style="float:left; color:#ff4500;">
              <%= perspective.tags.join(" - ") %>
            </div>
          </div>
          <% if @lat && @lng %>
              <div style="color:red;float:right"><%= perspective.place.distance_to(@lat, @lng) %>m</div>
          <% end %>
        </td>
      </tr>
  <% end %>

</table>


<script type="text/javascript">

    $('.table > tbody > tr').click(function () {
        window.location.href = "/whitelabel/place/" + $(this).attr("id");
    });
</script>