<div class="grid_24">

    <div class="box_top">

        <h2 class="icon list"><%= t 'user.sign_up' %></h2>

        <h3 class="right"><a href="#contents">Top</a></h3>
    </div>

    <div class="box_content padding">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <p><%= f.label :username %><br />
      <%= f.text_field :username %></p>

      <p><%= f.label :email %><br />
      <%= f.email_field :email %></p>

      <p><%= f.label :password %><br />
      <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></p>

      <p><%= f.submit t("user.sign_up") %></p>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
    </div>
</div>




