<% content_for :javascript_includes do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtWBCKJwtHq7ME82vk3d7eUsRknvzgrAQ&sensor=false&libraries=places">
  </script>
<% end %>

<div class="blog_wrapper">
  <h2>Add a place to <%= @entry.title %></h2>
  
  <%= form_tag(place_blog_entry_path(@entry._parent._id, @entry.id), :method=>'post') do %>
    <div class="standout">
      <p class="label emphasize">Place Name</p>
      <%= text_field_tag :name, "", :class => "entry_field" %>
    </div>
    
    <div class="field">
      <%= hidden_field_tag :reference, "" %>
      <%= hidden_field_tag :gid, "" %>
    </div>
    
    <div class="label emphasize" id="no_match"><a id="no_find" href="#">Can't find place?</a></div>
    
    <div id="no_place">
      <div class="standout">
        <p class="label emphasize">Address</p>
        <div>
          <%= text_field_tag :address, "", :class => "entry_field", :placeholder => "Enter an address" %> 
          <span id="accurate_address_label" style="display:none">Approximate address</span>
        </div>
      </div>
      
      <%= hidden_field_tag :address_components, "" %>
      <%= hidden_field_tag :accurate_address, "" %>
      <%= hidden_field_tag :lat, "" %>
      <%= hidden_field_tag :lng, "" %>
      
      <div id="selector_map" class="map_style" style="height:300px; width: 488px;">
        <div id="map_canvas" style="width:100%; height:100%"></div>
        <div id="latlng_holder">Lat/Lng: <span id="latlng"></span></div>
      </div>
      
      <%= hidden_field_tag :place_venue_type, "" %>
      
    </div>
    
    <div id="create_or_cancel">
      <span class="cancel">
        <a href="<%= blog_path(@entry._parent) %>">Cancel</a>
      </span>
      <%= submit_tag "Save", :class=>"submit" %>
    </div>
    
    <div>Is it one of these recent places?</div>
    <div>Click name and then submit form</div>
    <% @recent.each do |place| %>
    <div><a href="#" gid="<%= place.gid %>" class="recent_place"><%= place.name %></a></div>
    <% end %>
  <% end %>
  
</div>

<script type="text/javascript">
  var input = document.getElementById('name');
  
  var defaultBounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(<%= @blog.location[0] %>, <%= @blog.location[1] %>),
    new google.maps.LatLng(<%= @blog.location[0] %>, <%= @blog.location[1] %>)
  );
  
  var options = {
    bounds: defaultBounds
  };
  
  var autocomplete = new google.maps.places.Autocomplete(input, options);
  
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      document.getElementById("reference").value = place.reference;
      document.getElementById("gid").value = place.id;
  });
  
  var main_map;
  var t;
  
  function updateGeocode(){
    clearTimeout( t );
    var latlng_center = main_map.getCenter();
    geocoder = new google.maps.Geocoder();
    
    geocoder.geocode({ 'latLng': latlng_center }, function (results, status) {
      
      // This is checking to see if the Geoeode Status is OK before proceeding
      if (status == google.maps.GeocoderStatus.OK && results[0]){
        $("#address_components").val( JSON.stringify( results[0].address_components ) );
        //This is placing the returned address in the 'Address' field on the HTML form
        $("#address").val( results[0].formatted_address );
        if (results[0].geometry.location_type == google.maps.GeocoderLocationType.ROOFTOP ){
          $("#accurate_address").val( true );
          $("#accurate_address_label").hide();
        } else {
          $("#accurate_address").val( false );
          $("#accurate_address_label").show();
        }
      } else {
        $("#address_components").val( "{}" );
        //This is placing the returned address in the 'Address' field on the HTML form
        $("#address").val( "" );
        $("#accurate_address_test").html("INVALID");
        $("#accurate_address").val( false );
      }
    });
  }
  
  function centerReticle(){
    clearTimeout( t );
    lat = main_map.getCenter().lat();
    lng = main_map.getCenter().lng();
    $("#lat").val(lat);
    $("#lng").val(lng);
    $("#latlng").html( lat.toFixed(4) +","+lng.toFixed(4) );
    reticleMarker.setPosition(main_map.getCenter());
    t = setTimeout("updateGeocode()",1500);
  }
  
  $(document).ready(function(){
    $('.recent_place').click(function(e) {
      e.preventDefault();
      document.getElementById("gid").value = $(this).attr('gid');
      return false;
    });
    
    $('#no_find').click(function(e){
      e.preventDefault();
      $('#no_match').hide();
      $('#no_place').show();
      
      var options = {empty_value: "", select_class: 'category_select' };
      $('#place_venue_type').optionTree(<%= raw @categories.to_json %>, options);
      
      var reticleImage = new google.maps.MarkerImage(
        '<%= asset_path('cross-hairs.gif') %>',            // marker image
        new google.maps.Size(27, 27),    // marker size
        new google.maps.Point(0,0),      // marker origin
        new google.maps.Point(13, 13));  // marker anchor point
        var reticleShape = {
          coords: [32,32,32,32],           // 1px
          type: 'rect'                     // rectangle
      };

      latlng_center = new google.maps.LatLng(<%= @blog.location[0] %>, <%= @blog.location[1] %>)

      var myOptions = {
        center: latlng_center,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      main_map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      
      var addressInput = document.getElementById('address');
      var addressAutocomplete = new google.maps.places.Autocomplete(addressInput, options);
      
      google.maps.event.addListener(addressAutocomplete, 'place_changed', function() {
        var place = addressAutocomplete.getPlace();
        if (place.geometry && place.geometry.viewport) {
          main_map.fitBounds(place.geometry.viewport);
        } else {
          main_map.setCenter(place.geometry.location);
          main_map.setZoom(18);  // Why 17? Because it looks good.
        }
        
        var image = new google.maps.MarkerImage(
          place.icon,
          new google.maps.Size(71, 71),
          new google.maps.Point(0, 0),
          new google.maps.Point(17, 34),
          new google.maps.Size(35, 35)
        );
        
        var address = '';
        if (place.address_components) {
          address = [(place.address_components[0] &&
                      place.address_components[0].short_name || ''),
                     (place.address_components[1] &&
                      place.address_components[1].short_name || ''),
                     (place.address_components[2] &&
                      place.address_components[2].short_name || '')
                    ].join(' ');
        }
      });
      
      reticleMarker = new google.maps.Marker({
        position: latlng_center,
        map: main_map,
        icon: reticleImage,
        shape: reticleShape,
        optimized: false,
        zIndex: 5
      });
      google.maps.event.addListener(main_map, 'bounds_changed',centerReticle);

      var input = document.getElementById('map_source');
    });    
   });
</script>
