<% content_for :head do %>
  <title><%= t('search.title') %></title>
<% end %>

<div id="results">
  <% if @results.length > 0 %>
    <div id="results_header"><%=t('search.results') %> <span class="search_term"><%= @input %></span></div>
    <ul>
      <% @results.each do |result|%>
        <li class="result">
          <% if result["pic"].nil? %>
            <div><%= link_to result["name"], result["url"], :class =>"result_name" %></div>
            <div class="result_location"><%= result["location"] %></div>
          <% else %>
            <div class="result_image_holder">
              <img src='<%= result["pic"] %>' class="result_image"/>
            </div>
            <div class="result_description">
              <div><%= link_to result["name"], result["url"], :class =>"result_name" %></div>
              <div class="result_location"><%= result["location"] %></div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="new_place">
      <div class="placemarker_holder">
        <%= image_tag "placemarker.png" %>
      </div>
      <div class="add_new_holder">
        <%= t('search.add_new_html', :name => @input) %> <a href="<%= new_place_path :name => @input %>"><%= t('search.add_new_2', :name => @input) %></a>
      </div>
    </div>
  <% else %>
    <% if @valid_params %>
      <div id="no_results"><%=t('search.no_results') %> <span class="search_term"><%= @input %></span>. <a href="<%= new_place_path :name => @input, :lat => @lat, :lng => @lng %>"><%= t('search.add_new_2', :name => @input) %></a></div>
    <% else %>
      <div id="no_results"><%=t('search.empty') %></div>
    <% end %>
  <% end %>
  <div class="google">
    <img src="/images/google.png">
  </div>
</div>