<div id="results">
  <% if @results.length > 0 %>
    <div id="results_header"><%=t('search.results') %> <span id="search_term"><%= @input %></span></div>
    <ul>
      <% @results.each do |result|%>
        <li class="result">
          <% if result["pic"].nil? %>
            <div><%= link_to result["name"], result["url"], :class =>"result_name" %></div>
            <div class="result_location"><%= result["location"] %></div>
          <% else %>
            <div class="result_image_holder">
              <img src='<%= result["pic"] %>' class="result_image"/>
            </div>
            <div class="result_description">
              <div><%= link_to result["name"], result["url"], :class =>"result_name" %></div>
              <div class="result_location"><%= result["location"] %></div>
            </div>
          <% end %>
        </li>
      <% end %>
      <p><a href="<%= new_place_path :name => @input %>"><%= image_tag "placemarker.png" %><%= t('search.add_new', :name => @input) %></a></p>
      <li class="google">
        <img src="/images/google.png">
      </li>
    </ul>
  <% else %>
    <% if @valid_params %>
      <div id="no_results"><%=t('search.no_results') %> <span id="search_term"><%= @input %></span></div>
    <% else %>
      <div id="no_results"><%=t('search.empty') %></div>
    <% end %>
  <% end %>
</div>