<tr style="padding: 0px;">
  <td width="100%" colspan="3" class="table_style">
    <p class="emphasize embiggen" style="margin: 5px;margin-left:0px;margin-top:25px;margin-bottom:0px;padding: 0px;font-weight: bold;font-size: 18px;color:#357A80"><%= t('weekly.explore') %></p>
  </td>
</tr>

<tr style="padding: 0px;">
  <td valign="top" colspan="1" width="220" class="table_style">
    <div class="">
      <a href="<%= vanity_track_url_for(Vanity.context.vanity_identity, :click_place, :controller => "places", :action => "show", :id => place.place.slug, :host => ActionMailer::Base.default_url_options[:host]) %>">
        <div class="venue_pic_holder email_mini_spacer">
          <% if place.pictures.length > 0 %>
            <img src="<%= place.pictures[0].main_url %>" class="email_place_pic">
          <% else %>
            <img src="https://maps.google.com/maps/api/staticmap?center=<%= place.loc[0] %>,<%= place.loc[1] %>&zoom=14&size=210x210&&markers=icon:http://www.placeling.com/images/marker.png%%7Ccolor:red%%7C<%= place.loc[0] %>,<%= place.loc[1] %>&sensor=false">
          <% end %>
        </div>
      </a>
    </div>
  </td>

  <td valign="top" width="440" class="table_style" colspan="2">
    <div class="email_place_and_testimonial">
      <div>
        <a href="<%= vanity_track_url_for(Vanity.context.vanity_identity, :click_place, :controller => "places", :action => "show", :id => place.place.slug, :host => ActionMailer::Base.default_url_options[:host]) %>" class="email_link email_embiggen_more"><%= place.place.name %></a>            
      </div>
      <div >
        <p class="email_memo"><%= simple_format(place.memo, :class=>"email_memo") %></p>
        <p class="email_mini_spacer">- <a href="<%= vanity_track_url_for(Vanity.context.vanity_identity, :click_user, :controller => "users", :action => "show", :id => place.user.username, :host => ActionMailer::Base.default_url_options[:host]) %>" class="email_link"><%= place.user.username %></a></p>
      </div>
    </div>
  </td>
</tr>