<tr style="padding: 0px;">
  <td width="100%" colspan="3" class="table_style">
    <p class="emphasize embiggen" style="margin: 5px;margin-left:0px;margin-top:25px;margin-bottom:0px;padding: 0px;font-weight: bold;font-size: 18px;color:#357A80"><%= t('weekly.explore') %></p>
  </td>
</tr>

<tr style="padding: 0px;">
  <td valign="top" colspan="1" width="220" class="table_style">
    <div class="">

      <div class="venue_pic_holder email_mini_spacer">
        <a href="<%= vanity_track_url_for(Vanity.context.vanity_identity, :click_place, :controller => "places", :action => "show", :id => place.slug, :host => ActionMailer::Base.default_url_options[:host]) %>">
          <% if place.pictures.length > 0 %>
              <img src="<%= place.pictures[0].main_url %>" style="max-height: 300px;max-width: 210px;">
              </a>
          <% else %>
              <img src="https://maps.google.com/maps/api/staticmap?center=<%= place.loc[0] %>,<%= place.loc[1] %>&zoom=14&size=210x210&&markers=icon:http://www.placeling.com/images/marker.png%%7Ccolor:red%%7C<%= place.loc[0] %>,<%= place.loc[1] %>&sensor=false">
          <% end %>
          </a>
          </div>
    </div>
  </td>

  <td valign="top" width="220" class="table_style" colspan="2">
    <div style="margin: 0px;padding-left: 5px;text-align:left;">
      <div class="username_email" style="margin:5px;<% if @pictures == false %>margin-left:0px;<% end %>padding: 0px;width:500px;margin-top:10px;">
        <%= link_to place.name, vanity_track_url_for(Vanity.context.vanity_identity, :click_place, :controller => "places", :action => "show", :id => place.slug, :host => ActionMailer::Base.default_url_options[:host]), :style => "font-weight: bold;text-decoration:none;font-size: 14pt;color: #36757C;" %>
      </div>
    </div>
    <% if place.alpha_perspective.memo.length > 5 %>
        <div style="margin: 0px;padding-left: 10px;text-align:left;">
          <p style="font-family:Georgia,'Times New Roman',serif;font-style:italic;"><%= place.alpha_perspective.memo %></p>

          <p style="margin-top: 5px;">-<span style="font-size: 12pt;color: #b7614b;"><%= place.alpha_perspective.user.username %></span>
          </p>
        </div>
    <% end %>
  </td>
</tr>

