<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <%= stylesheet_link_tag '/stylesheets/mailers/email' %>
</head>
<body style="background-color: #FAF9F7;font-size: 14px;font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;">
<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr style="padding: 0px;">
    <td align="center" valign="top" class="table_style">
      <table width="660" id="main" border="0" cellpadding="0" cellspacing="0">
        <tr style="padding: 0px;">
          <td width="100%" colspan="3" class="table_style">
            <p class="right" style="margin: 5px;padding: 0px;float: right;">
              <img src="https://www.placeling.com/assets/logo.png"><a href="<%= root_url() %>"></a>
            </p>
          </td>
        </tr>
        <!-- Intro -->
        <tr style="margin: 5px;padding: 0px;">
          <td>
            <div class="profile_pic_holder_email" style="width:60px;height:60px;">
              <a href="<%= user_url(@user) %>"><img class="profile_pic" src="<%= @user.thumb_url %>" style="max-height: 60px;max-width: 60px;"></a>
            </div>
          </td>
          <td width="100%" colspan="2" style="background-color: #FAF9F7;font-size: 14px;font-family: Helvetica,Arial,sans-serif;">
            <div style="margin: 0px;padding: 0px;">
              <div class="username">
                <a href="<%= user_url(@user) %>" class="username_link" style="color: #E08574;font-size: 24px;"><%= @user.username %></a> <%= t('question.commented', :place => @answer_comment.answer.place.name) %>
                <a href="<%= question_url(@question) %>" class="username_link" style="color: #E08574;font-size: 24px;"><%= @question.title %></a>
              </div>
            </div>

          </td>
        </tr>
        <tr style="margin: 5px; padding:0px">
          <td></td>
          <td width="100%" colspan="2">
            <div class="email_answer_comment">
              "<%= @answer_comment.comment %>"
            </div>
          </td>
        </tr>
        <!-- Legal stuff -->
        <tr style="margin: 5px;padding: 0px;">
          <td width="100%" colspan="3" style="background-color: #FAF9F7;font-size: 10px;font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif; color:#666">
            <p class="email_content" style="margin-top:20px;"><%= t('notify.sent') %> <%= @target.email %></p>

            <p class="email_content"><%= t('notify.no_more') %> <%= t('notify.change') %>
              <a href="<%= account_user_url(@target) %>" style="color: #E08574;"><%= t('notify.settings') %></a></p>

            <p class="email_content"><%= t('notify.address') %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>

