<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag '/stylesheets/mailers/email' %>
</head>
<body style="background-color: #FAF9F7;font-size: 14px;font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;">
<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr style="padding:0px;">
    <td align="center" valign="top" class="table_style">
      <table width="660" id="main" border="0" cellpadding="0" cellspacing="0">
        <tr style="padding:0px;">
          <td width="100%" colspan="6" class="table_style">
            <p class="right" style="margin: 5px;padding: 0px;float: right;">
              <img src="https://www.placeling.com/assets/logo.png"><a href="<%= root_url() %>"></a>
            </p>
          </td>
        </tr>
        <!-- Intro -->
        <tr style="padding: 0px;">
          <td width="100%" colspan="6" class="table_style">
            <p class="email_emphasize"><%= t('week_in_review.intro') %></p>
          </td>
        </tr>

        <!-- Your activity -->
        <% if @mine['count'] > 0 %>
            <tr style="padding: 0px;">
              <td width="100%" colspan="6" class="table_style">
                <p style="margin-top:10px;"><%= t('week_in_review.placemarked') %>
                  <a href="<%= url_for(:controller => "users", :action => "magazine", :id => @user.username, :host => ActionMailer::Base.default_url_options[:host]) %>" class="email_link">
                    <% if @mine['count'] > 1 %><%= @mine['count'] %> <%= t('week_in_review.locations') %>
                    <% else %><%= t('week_in_review.one_location') %>
                    <% end %></a>.</p>
              </td>
            </tr>
            <% if @mine['photos'].length > 0 %>
                <tr style="padding: 0px;" height="132px">
                  <% @mine['photos'].each do |pic| %>
                      <td colspan="1" class="table_style">
                        <div class="email_perspective_pic_holder">
                          <a href="<%= url_for(:controller => "perspectives", :action => "show", :id => pic['perp'].id, :host => ActionMailer::Base.default_url_options[:host]) %>"><img src="<%= pic['pic'].mosaic_3_1_url %>" class="email_perspective_pic"></a>
                        </div>
                      </td>
                  <% end %>
                  <% @mine_filler.each_with_index do |filler| %>
                      <td colspan="1" class="table_style">
                        <div class="email_empty_perspective_pic_holder">&nbsp;</div>
                      </td>
                  <% end %>
                </tr>
            <% end %>
        <% end %>

        <!-- People you follow -->
        <% if @top3.length > 0 %>
            <!-- New guides -->
            <tr style="padding: 0px;">
              <td colspan="6" class="table_style">
                <div class="email_spacer email_emphasize"><%= t('week_in_review.busy') %></div>
              </td>
            </tr>
            <% if @guides.length > 0 %>
                <tr style="padding: 0px;">
                  <td colspan="6" class="table_style">
                    <div class="email_mini_spacer"><%= t('week_in_review.new_guides') %></div>
                  </td>
                </tr>
                <tr style="padding: 0px;">
                  <% @guides.each do |guide| %>
                      <td colspan="2" class="table_style" valign="top" width="220px">
                        <div class="email_guide_holder">
                          <div>
                            <a href="<%= url_for(:controller => "users", :action => "show", :id => guide.username, :host => ActionMailer::Base.default_url_options[:host]) %>" class="email_link"><img src="<%= guide.thumb_url %>" class="email_profile_pic_large"><span class="email_profile_name"><%= guide.username %></span></a>
                          </div>
                          <% if guide.description && guide.description.length > 0 %>
                              <div class="email_description email_mini_spacer"><%= guide.description %></div>
                          <% end %>
                        </div>
                      </td>
                  <% end %>
                  <% @guides_filler.each do |fake| %>
                      <td colspan="2" class="table_style" width="220px">
                        <div class="email_empty_guide_holder">&nbsp;</div>
                        </div>
                  <% end %>
                </tr>
            <% end %>

            <!-- New places -->
            <% if @top3.length > 0 %>
                <tr style="padding: 0px;">
                  <td colspan="6" class="table_style">
                    <div class="email_spacer"><%= t('week_in_review.new_places') %></div>
                  </td>
                </tr>
                <!-- Split names in separate row to handle wrapping -->
                <tr style="padding: 0px;">
                  <% @top3.each do |perp| %>
                      <td colspan="2" class="table_style" valign="middle" width="220px">
                        <div class="email_guide_holder">
                          <div class="email_place_name_holder">
                            <a href="<%= url_for(:controller => "places", :action => "show", :id => perp.place.slug, :host => ActionMailer::Base.default_url_options[:host]) %>" class="email_link"><span class="email_place_name"><%= perp.place.name %>
                            </a></a>
                          </div>
                        </div>
                      </td>
                  <% end %>
                </tr>
                <tr style="padding: 0px;">
                  <% @top3.each do |perp| %>
                      <td colspan="2" class="table_style" valign="top" width="220px">
                        <div class="email_guide_holder">
                          <div class="email_venue_pic_holder">
                            <a href="<%= url_for(:controller => "places", :action => "show", :id => perp.place.slug, :host => ActionMailer::Base.default_url_options[:host]) %>">
                              <% if perp.pictures.length > 0 || perp.place.pictures.length > 0 %>
                                  <% if perp.pictures.length > 0 %>
                                      <img src="<%= perp.pictures[0].mosaic_3_2_url %>" style="max-height: 98px;max-width: 210px;">
                                  <% else %>
                                      <img src="<%= perp.place.pictures[0].mosaic_3_2_url %>" style="max-height: 98px;max-width: 210px;">
                                  <% end %>
                              <% else %>
                                  <img src="https://maps.google.com/maps/api/staticmap?center=<%= perp.place.loc[0] %>,<%= perp.place.loc[1] %>&zoom=14&size=210x98&&markers=icon:http://www.placeling.com/images/marker.png%%7Ccolor:red%%7C<%= perp.place.loc[0] %>,<%= perp.place.loc[1] %>&sensor=false">
                              <% end %>
                            </a>
                          </div>
                          <% if perp.memo && perp.memo.length > 0 %>
                              <div class="email_description"><%= perp.memo %></div>
                          <% end %>
                          <a href="<%= url_for(:controller => "users", :action => "magazine", :id => perp.user.username, :host => ActionMailer::Base.default_url_options[:host]) %>" class="email_link">
                            <div class="email_place_guide_holder">
                              <img src="<%= perp.user.thumb_url %>" class="email_profile_pic_small email_middle"><span class="email_place_guide_username"><%= perp.user.username %></span>
                            </div>
                          </a>
                        </div>
                      </td>
                  <% end %>
                  <% @top3_filler.each do |fake| %>
                      <td colspan="2" class="table_style" valign="top" width="220px">
                        <div class="email_guide_holder">
                          &nbsp;
                        </div>
                      </td>
                  <% end %>
                </tr>

                <!-- Just photos -->
                <% if @pics.length > 0 %>
                    <tr style="padding: 0px;" height="132px">
                      <% @pics.each do |pic| %>
                          <td colspan="1" class="table_style">
                            <div class="email_perspective_pic_holder">
                              <a href="<%= url_for(:controller => "perspectives", :action => "show", :id => pic['perp'].id, :host => ActionMailer::Base.default_url_options[:host]) %>"><img src="<%= pic['pic'].mosaic_3_1_url %>" class="email_perspective_pic"></a>
                            </div>
                          </td>
                      <% end %>
                      <% @pics_filler.each do |filler| %>
                          <td colspan="1" class="table_style">
                            <div class="email_empty_perspective_pic_holder">&nbsp;</div>
                          </td>
                      <% end %>
                    </tr>
                <% end %>
            <% end %>
        <% end %>

        <!-- Questions -->
        <% if @questions.length > 0 %>
            <tr style="padding: 0px;">
              <td colspan="6" class="table_style">
                <div class="email_mini_spacer"><%= t('week_in_review.advice') %></div>
              </td>
            </tr>
            <tr style="padding: 0px;">
              <td colspan="6" class="table_style">
                <% @questions.each do |question| %>
                    <p>
                      <a href="<%= url_for(:controller => "questions", :action => "show", :id => question.slug, :host => ActionMailer::Base.default_url_options[:host]) %>" class="email_link"><%= question.title %></a>
                    </p>
                <% end %>
              </td>
            </tr>
        <% end %>

        <!-- Wrap up -->
        <tr style="padding: 0px;">
          <td width="100%" colspan="6" class="table_style">
            <p class="question_content" style="margin-top:25px;font-style:italic;"><%= t('week_in_review.last_week') %></p>

            <p class="question_content" style="font-style:italic;"><%= t('weekly.team') %></p>
          </td>
        </tr>

        <!-- Legal stuff -->
        <tr style="margin: 5px;padding: 0px;">
          <td width="100%" colspan="6" style="background-color: #FAF9F7;font-size: 10px;font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif; color:#666">
            <p class="email_content" style="margin-top:20px;"><%= t('notify.sent') %> <%= @user.email %></p>

            <p class="email_content"><%= t('notify.no_more') %> <%= t('notify.change') %>
              <a href="<%= account_user_url(@user) %>" style="color: #E08574;"><%= t('notify.settings') %></a></p>

            <p class="email_content"><%= t('notify.address') %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>

