<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <%= stylesheet_link_tag "email" %>
</head>
<body style="background-color: #FAF9F7;font-size: 14px;font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;">
<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr style="padding: 0px;">
    <td align="center" valign="top" class="table_style">
      <table width="660" id="main" border="0" cellpadding="0" cellspacing="0">
        <tr style="padding: 0px;">
          <td width="100%" colspan="3" class="table_style">
            <p class="right" style="margin: 5px;padding: 0px;float: right;">
              <img src="https://www.placeling.com/assets/logo.png"><a href="<%= root_url() %>"></a>
              <%= vanity_tracking_image(Vanity.context.vanity_identity, :open_email, :host => ActionMailer::Base.default_url_options[:host]) %>
            </p>
          </td>
        </tr>
        <!-- Intro -->
        <tr style="padding: 0px;">
          <td width="100%" colspan="3" class="table_style">
            <p class="email_emphasize"><%= t('weekly.intro') %></p>

            <p class="question_content" style="font-style:italic;"><%= t('weekly.weekend') %></p>
          </td>
        </tr>
        
        <!-- Guides -->
        <% if @recos['guides'].length > 0 %>
            <tr style="margin: 5px;padding: 0px;">
              <td width="100%" colspan="3" class="table_style">
                <p class="email_emphasize" style="margin-top:20px;"><%= t('weekly.guides') %></p>
              </td>
            </tr>
            <tr style="margin: 5px;padding: 0px;">
              <% @recos['guides'].each do |guide| %>
                <td valign="top" width="220" colspan="1" class="table_style">
                  <div class="email_guide_holder">
                    <div><a href="<%= vanity_track_url_for(Vanity.context.vanity_identity, :click_user, :controller => "users", :action => "show", :id => guide.username, :host => ActionMailer::Base.default_url_options[:host]) %>" class="email_link"><img src="<%= guide.thumb_url %>" class="email_profile_pic_large"><span class="email_profile_name"><%= guide.username %></span></a></div>
                    <% if guide.description && guide.description.length > 0 %>
                      <div class="email_description email_mini_spacer"><%= guide.description %></div>
                    <% end %>
                  </div>
                </td>
              <% end %>
              <% @guides_filler.each do |guide| %>
                <td colspan="1" class="table_style" width="220px">
                  <div class="email_empty_guide_holder">&nbsp;</div>
                </div>
              <% end %>
            </tr>
        <% end %>
        
        <!-- Places -->
        <% if @recos['places'].length > 0 %>
            <% if ab_test(:single_place_mail) %>
                <%= render :partial => "single_place_suggest", :locals => {:place => @recos['places'].first} %>
            <% else %>
                <%= render :partial => "place_suggest", :locals => {:recos => @recos, :places_filler => @places_filler} %>
            <% end %>

        <% end %>

        <!-- Questions -->
        <tr style="margin: 5px;padding: 0px;">
          <td width="100%" colspan="3" class="table_style">
            <p class="email_emphasize" style="margin-top:20px;"><%= t('weekly.answers') %></p>
          </td>
        </tr>
        <tr style="margin: 5px;padding: 0px;">
          <td width="100%" colspan="3" class="table_style">
            <% if @recos['questions'].length > 0 %>
                <p class="question_content"><%= t('weekly.answers_why') %></p>
                <% @recos['questions'].each do |question| %>
                    <p class="question_content">
                      <a href="<%= vanity_track_url_for(Vanity.context.vanity_identity, :click_question, :controller => "questions", :action => "show", :id => question.slug, :host => ActionMailer::Base.default_url_options[:host]) %>" style="color: #E08574;"><%= question.title %></a>
                    </p>
                <% end %>
                <p class="question_content">
                  <a href="<%= vanity_track_url_for(Vanity.context.vanity_identity, :click_question_new, :controller => "questions", :action => "index", :host => ActionMailer::Base.default_url_options[:host]) %>" style="color: #E08574;"><img src="https://www.placeling.com/assets/AskyourfriendsButton.png" class="email_ask_image"></a><%= t('weekly.for_recos') %>
                </p>
            <% else %>
                <p class="question_content">
                  <a href="<%= vanity_track_url_for(Vanity.context.vanity_identity, :click_question_new, :controller => "questions", :action => "index", :host => ActionMailer::Base.default_url_options[:host]) %>" style="color: #E08574;"><img src="https://www.placeling.com/assets/AskyourfriendsButton.png" class="email_ask_image"></a><%= t('weekly.for_recos') %>
                </p>
            <% end %>
          </td>
        </tr>

        <!-- Wrap up -->
        <tr style="padding: 0px;">
          <td width="100%" colspan="3" class="table_style">
            <p class="question_content" style="margin-top:25px;font-style:italic;"><%= t('weekly.all') %></p>
            <p class="question_content" style="font-style:italic;"><%= t('weekly.team') %></p>
          </td>
        </tr>

        <!-- Change location -->
        <tr style="padding: 0px;">
          <td width="100%" colspan="3" class="table_style">
            <p class="change_city question_content">
              <% if @user.city && @user.city.length > 0 %>
                  <%= t('weekly.reco_info') %> <%= @user.city %>.
                  <a href="<%= location_user_url(@user) %>" style="color: #E08574;"><%= t('weekly.change_city') %></a>.
              <% else %>
                  <%= t('weekly.reco_wrong') %>
                  <a href="<%= location_user_url(@user) %>" style="color: #E08574;"><%= t('weekly.change_your_city') %></a>.
              <% end %>
            </p>
          </td>
        </tr>

        <!-- Legal stuff -->
        <tr style="margin: 5px;padding: 0px;">
          <td width="100%" colspan="3" style="background-color: #FAF9F7;font-size: 10px;font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif; color:#666">
            <p class="email_content" style="margin-top:20px;"><%= t('notify.sent') %> <%= @user.email %></p>

            <p class="email_content"><%= t('notify.no_more') %> <%= t('notify.change') %>
              <a href="<%= account_user_url(@user) %>" style="color: #E08574;"><%= t('notify.settings') %></a></p>

            <p class="email_content"><%= t('notify.address') %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>

