<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag '/stylesheets/mailers/email' %>
</head>
<body style="background-color: #FAF9F7;font-size: 14px;font-family: Helvetica,Arial,sans-serif;">
<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr style="margin: 5px;padding: 0px;">
    <td align="center" valign="top" style="background-color: #FAF9F7;font-size: 14px;font-family: Helvetica,Arial,sans-serif;">
      <table width="660" id="main" border="0" cellpadding="0" cellspacing="0">
        <tr style="padding:0px;">
          <td width="100%" colspan="3" style="background-color: #FAF9F7;font-size: 14px;font-family: Helvetica,Arial,sans-serif;">
            <p class="right" style="margin: 5px;padding: 0px;float: right;">
              <img src="https://www.placeling.com/assets/logo.png"><a href="<%= root_url() %>"></a></p>
          </td>
        </tr>
        <tr style="padding: 0px;">
          <td width="100%" colspan="3" style="background-color: #FAF9F7;font-size: 14px;font-family: Helvetica,Arial,sans-serif;">
            <p class="email_emphasize"><%= t('welcome.hey') %> <%= @user.username %> - <%= t('welcome.welcome') %></p>

            <p class="content" style="margin: 0px;padding: 0px;font-family: Georgia,&quot;Times New Roman&quot;, serif;"><%= t('welcome.thanks') %></p>
          </td>
        </tr>
        <% if @guides.length > 1 %>
            <tr style="padding: 0px;">
              <td width="100%" colspan="3" style="background-color: #FAF9F7;font-size: 14px;font-family: Helvetica,Arial,sans-serif;">
                <div class="email_spacer">
                  <p class="email_emphasize"><%= t('welcome.find_guides') %></p>

                  <p class="content" style="margin: 0px;padding: 0px;font-family: Georgia,&quot;Times New Roman&quot;, serif;"><%= t('welcome.perspective') %></p>
                </div>
              </td>
            </tr>
            <tr style="padding: 0px;">
              <% @guides.each do |guide| %>
                  <td valign="top" width="220px" colspan="1" style="background-color: #FAF9F7;font-size: 14px;font-family: Helvetica,Arial,sans-serif;">
                    <div style="margin: 0px;padding: 0px;">
                      <div class="email_guide_holder">
                        <div>
                          <a href="<%= url_for(:controller => "users", :action => "show", :id => guide.username, :host => ActionMailer::Base.default_url_options[:host]) %>" class="email_link"><img src="<%= guide.thumb_url %>" class="email_profile_pic_large"><span class="email_profile_name"><%= guide.username %></span></a>
                        </div>
                        <% if guide.description && guide.description.length > 0 %>
                            <div class="email_description email_mini_spacer"><%= guide.description %></div>
                        <% end %>
                      </div>
                    </div>
                  </td>
              <% end %>
              <% @guides_filler.each do |fake| %>
                  <td colspan="1" class="table_style" valign="top" width="220px">
                    <div class="email_guide_holder">
                      &nbsp;
                    </div>
                  </td>
              <% end %>
        <% end %>
        <tr style="padding: 0px;">
          <td width="100%" colspan="3" style="background-color: #FAF9F7;font-size: 14px;font-family: Helvetica,Arial,sans-serif;">
            <div class="email_spacer">
              <p class="email_emphasize"><%= t('welcome.web') %></p>

              <p class="content" style="margin:0px; padding: 0px;font-family: Georgia,&quot;Times New Roman&quot;, serif;">See
                a big map of all your places at
                <a href="<%= user_url(@user) %>" class="email_link">placeling.com/<%= @user.username %></a>.</p>
            </div>
          </td>
        </tr>
        <tr style="padding: 0px;">
          <td width="100%" colspan="3" class="table_style">
            <p class="question_content" style="margin-top:25px;font-style:italic;"><%= t('welcome.all') %></p>

            <p class="question_content" style="font-style:italic;"><%= t('welcome.support') %>
              <a href="mailto:support@placeling.com" class="email_link">support@placeling.com</a>.</p>

            <p class="question_content" style="font-style:italic;"><%= t('weekly.team') %></p>
          </td>
        </tr>

        <tr style="margin: 5px;padding: 0px;">
          <td width="100%" colspan="6" style="background-color: #FAF9F7;font-size: 10px;font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif; color:#666">
            <p class="email_content" style="margin-top:20px;"><%= t('notify.sent') %> <%= @user.email %></p>

            <p class="email_content"><%= t('notify.address') %></p>
          </td>
        </tr>


      </table>
    </td>
  </tr>
</table>
</body>
</html>

