<h1>Pinta Stats</h1>
<b>Pinta Placemarks:</b> <%= @perspectives.count %>
<div class="row">
  <div class="span6">
    <h2>Activated Blogs</h2>
    <table border="1">
      <thead>
      <tr>
      <th>title</th>
      <th>url</th>
      <th>Created_at</th>
      </thead>

      <% for blogger in @bloggers %>
          <tr>
            <td><%= blogger.title %></td>
            <td><%= link_to blogger.url, blogger.url, :target => "_blank" %></td>
            <td><%= blogger[:created_at] %></td>
          </tr>
      <% end %>

    </table>


  </div>

  <div class="span6">
    <h2>Recent Posts</h2>
    <table border="1">
      <thead>
      <tr>
      <th>Username</th>
      <th>Place</th>
      <th>Created_at</th>
      </thead>

      <% for perspective in @perspectives %>
          <tr>
            <td><%= link_to perspective.user.username, user_path(perspective.user), :target => "_blank" %></td>
            <td><%= link_to perspective.place.name, perspective.url, :target => "_blank" %></td>
            <td><%= perspective[:created_at] %></td>
          </tr>
      <% end %>

    </table>


  </div>

</div>