
<h1>Dashboard</h1>


<b>Users:</b> <%= @user_count %><br/>
<b>Bookmarks in past 24 hours:</b> <%= @past_day_bookmarks.count %>


<table border="1">
    <thead>
      <tr>
      <td>Username</td>
      <td>Email</td>
      <td>Confirm?</td>
      <td>FB?</td>
      <td>Location</td>
      <td>Created_at</td>
      <td>Bookmark Count</td>
    </thead>

  <% for user in @users %>
    <tr>
      <td><%= link_to user.username,  recent_user_path( user ), :target =>"_blank"%></td>
      <td><%= user.email %></td>
      <td><%= user.confirmed? ? "" : "false" %></td>
      <td><%= user.facebook.nil? ? "" : "true" %></td>
      <td><%= user.city %></td>
      <td><%= user[:created_at] %></td>
      <td><%= user.perspectives.count %></td>
    </tr>
  <% end %>

</table>