<p>
  There are <%= Place.where(:update_flag => true).count %> places needing updates.
</p>

<div class="row-fluid">
  <div class='span1 hidden-phone'></div>

  <div class="span7">
    <div class="row">
      <div class="span6">
        <div class="place_name" style="font-size: 36px;line-height: 36px;padding-bottom: 10px;">
          <%= link_to @place.name, @place %>
        </div>

        <div class="place_address" style="font-size: 18px;">
          <%= @place.street_address %>
        </div>
        <div class="place_tags" style="font-size: 14px;">
          <%= @place.tags.join(", ") %>
        </div>
      </div>

      <div class="span6">
        <img style="border:2px solid #000000;" src="<%= @place.wide_map_url %>">
      </div>
    </div>
  </div>
  <ul>
    <% @place.perspectives.each do |p| %>
        <li><%= "#{p.user.username} - #{p.memo}" %></li>
    <% end %>
  </ul>
</div>



<% unless @updatedPlace.nil? %>
    <div class="row-fluid">
      <div class='span1 hidden-phone'></div>

      <div class="span7">
        <div class="row">
          <div class="span6">
            <div class="place_name" style="font-size: 36px;line-height: 36px;padding-bottom: 10px;">
              <%= link_to @updatedPlace.name, @updatedPlace.url %>
            </div>

            <div class="place_address" style="font-size: 18px;">
              <%= @updatedPlace.formatted_address %>
            </div>
            <div class="place_tags" style="font-size: 14px;">
              <%= @updatedPlace.types.join(", ") %>
            </div>
          </div>

          <div class="span6">
            <img style="border:2px solid #000000;" src="<%= "https://maps.google.com/maps/api/staticmap?center=#{@updatedPlace.geometry.location.lat},#{@updatedPlace.geometry.location.lng}&zoom=14&size=486x150&&markers=icon:http://www.placeling.com/images/marker.png%%7Ccolor:red%%7C#{@updatedPlace.geometry.location.lat},#{@updatedPlace.geometry.location.lng}&sensor=false" %>">
          </div>
        </div>
      </div>
    </div>
<% end %>

<% if @merge_place %>
    <div class="row-fluid">
      <div class='span1 hidden-phone'></div>

      <div class="span7">
        <div class="row">
          <div class="span6">
            <div class="place_name" style="font-size: 36px;line-height: 36px;padding-bottom: 10px;">
              <%= link_to @merge_place.name, @merge_place %>
            </div>

            <div class="place_address" style="font-size: 18px;">
              <%= @merge_place.street_address %>
            </div>
            <div class="place_tags" style="font-size: 14px;">
              <%= @merge_place.tags.join(", ") %>
            </div>
          </div>

          <div class="span6">
            <img style="border:2px solid #000000;" src="<%= @merge_place.wide_map_url %>">
          </div>
        </div>
      </div>
      <ul>
        <% @merge_place.perspectives.each do |p| %>
            <li><%= "#{p.user.username} - #{p.memo}" %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% if @merge_place %>
    <%= button_to "Merge", {:action => "update_place", :pid => @place.id, :opt => :merge},
                  :class => "submit" %>
<% else %>
    <%= button_to "Update", {:action => "update_place", :pid => @place.id, :opt => :update},
                  :class => "submit" %>
<% end %>

<br>
<%= link_to "Skip", {:action => "update_place", :pid => @place.id, :opt => :skip}, :method => :post %>