<% content_for :head do %>
  <title>Placeling for Publishers: Turn Your Content Into A Sponsored Local Guide</title>
  <meta name="description" content="Take all your great local content, add some sponsorship and turn it into an iOS/Android app." />
  <meta property="og:title" content="Placeling for Publishers: Turn Your Content Into A Sponsored Local Guide" />
<% end %>

<div id="admin_header">
  <div class="component_holder">
    <div class="header_component right_spacer">
      <div><%= image_tag "home/glyphs/content.png", :alt=>"content", :class=>"image_button" %></div>
      <div class="component">content</div>
    </div>
    <div class="header_component right_spacer">
      <div><%= image_tag "home/glyphs/pin.png", :alt=>"Location", :class=>"image_button" %></div>
      <div class="component">location</div>
    </div>
    <div class="header_component">
      <div><%= image_tag "home/glyphs/iphone.png", :alt=>"Mobile", :class=>"image_button" %></div>
      <div class="component">mobile</div>
    </div>
  </div>
  <div class="header_tagline">
    Mobilize &amp; Monetize
  </div>
</div>
<div class="promise">
  Your Audience Wants Nearby Recommendations - And Brands Want Your Audience
</div>
<div id="main_content">
  <div id="feature_screenshots">
    <div id="rightcolumn_2">
      <div class="feature_headline">Go beyond listings</div>
      <div class="feature_text">Placeling lets you easily turn your local content into a beautiful mobile guide</div>
      <div>
        <div><%= image_tag "home/glyphs/pin_full.png", :alt=>"Location", :class=>"blog_glyph" %></div>
        <div class="feature_text feature_text_spacer">Geocode your content so readers can see nearby recommendations</div>
      </div>
      <div class="left_clear">
        <div><%= image_tag "home/glyphs/content_full.png", :alt=>"Content", :class=>"blog_glyph" %></div>
        <div class="feature_text feature_text_spacer">Organize your content into sponsored events, guides and tours</div>
      </div>
      <div class="left_clear">
        <div><%= image_tag "home/glyphs/iphone_full.png", :alt=>"Mobile", :class=>"blog_glyph" %></div>
        <div class="feature_text feature_text_spacer">Deploy on iOS and Android</div>
      </div>
    </div>
    <div id="contentcolumn_2">
      <%= image_tag "home/features/go_beyond_listings.png", :alt=>"SF Indie" %>
    </div>
  </div>
  <div id="feature_boxes">
    <div class="feature_holder feature_spacer">
      <div class="feature_glyph">
        <%= image_tag "home/glyphs/monetization.png", :alt=>"Monetization" %>
      </div>
      <div class="feature_name">
        Monetization
      </div>
      <div class="feature_box_text">
        <p class="feature_detail">Combine sponsorship &amp; banner ads to optimize revenue</p>
        <p class="feature_detail">Create unique opportunities for brands to reach your audience</p>
      </div>
    </div>
    <div class="feature_holder feature_spacer">
      <div class="feature_glyph">
        <%= image_tag "home/glyphs/look_and_feel.png", :alt=>"Look and Feel" %>
      </div>
      <div class="feature_name">
        Look &amp; Feel
      </div>
      <div class="feature_box_text">
        <p class="feature_detail">Use HTML &amp; CSS to make your app look exactly like you want</p>
        <p class="feature_detail">Reuse all the assets you've created for your core business</p>
      </div>
    </div>
    <div class="feature_holder">
      <div class="feature_glyph">
        <%= image_tag "home/glyphs/speed.png", :alt=>"Speed" %>
      </div>
      <div class="feature_name">
        Speed
      </div>
      <div class="feature_box_text">
        <p class="feature_detail">Continuously update your app's content: no need to re-submit to app store</p>
        <p class="feature_detail">Get an iOS and Android app in less than a week</p>
      </div>
    </div>
  </div>
</div>
<div class="clear_space">&nbsp;</div>
<div id="homepage_finish">
  <div id="publisher_finish_options">
    Let's chat about what's possible: <%= mail_to "contact@placeling.com", "contact@placeling.com", :encode => "javascript" %>
  </div>
</div>