<% content_for :javascript_includes do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#type_toggle').css({'display':'block','left':$(window).width()/2 - $('#type_toggle').outerWidth(true)/2, 'top':$('#header').outerHeight(true) + $('#userdetails').outerHeight(true) - $('#type_toggle').outerHeight(true)});
      
      $(window).resize(function() {
        $('#type_toggle').css({'left':$(window).width()/2 - $('#type_toggle').outerWidth(true)/2});
      });
      
      $('.email_user').each(function() {
        $(this).qtip({
          content: '<span class="link_holder"><span class="link_header">Link:</span><input type="text" value="'+ $(this).attr("href") + '" class="link_text"></span>',
           position: {
             my: 'bottom center',
             at: 'top center'
           },
           show: {
             event: 'click',
             solo: true
           },
           hide: {
             event: 'click'
           },
           style: {
             classes: 'ui-tooltip-rounded ui-tooltip-shadow',
           }
        });
      });
      
    });
  </script>
<% end %>

<div class="pic_plus_follow">
  <div id="profile_pic">
    <%= image_tag user.thumb_url, :alt=>"Pic", :class =>"profile_pic" %>
  </div>
</div>
<div class="summary">
  <div class="username"><%= user.username %></div>
  <% if user.city %>
    <% if user.location && user.location.length == 2 %><div><a href="" class="home"><% end %><p class="city"><%= user.city %></p><% if user.location && user.location.length == 2 %></a></div><% end %>
  <% end %>
  <div class="description"><%= user.description %></div>
</div>

<div id="user_overview">
  <div id="tombstones">
    <div id="num_places" class="tombstone">
      <a href="<%= user_path(user) %>" class="no_highlight">
        <p class="count"><%= user.perspectives.count %></p>
        <p class="measure"><%= t('user.places') %></p>
      </a>
    </div>
    <div id="num_following" class="tombstone">
      <% if user.following.count > 0 %><a href="<%= following_user_path(user) %>" class="no_highlight"><% end %>
        <p class="count"><%= user.following.count %></p>
        <p class="measure"><%= t('user.following') %></p>
      <% if user.following.count > 0 %></a><% end %>
    </div>
    <div id="num_followers" class="tombstone">
      <% if user.followers.count > 0 %><a href="<%= followers_user_path(user) %>" class="no_highlight"><% end %>
        <p class="count" id="follower_count"><%= user.followers.count %></p>
        <p class="measure"><%= t('user.followers') %></p>
      <% if user.followers.count > 0 %></a><% end %>
    </div>
    <div id="follow_status">
      <% if current_user != user %>
        <% if current_user && current_user.following.include?(user) %>
          <a class="follow_link" rel="nofollow" data-remote="true" data-method="post" href="<%= url_for(:action => 'unfollow', :controller => 'users')%>"><%= image_tag "unfollow.png", :alt=>"Unfollow" %></a>
        <% else %>
          <a class="follow_link" rel="nofollow" data-remote="true" data-method="post" href="<%= url_for(:action => 'follow', :controller => 'users') %>"><%= image_tag "follow.png", :alt=>"Follow" %></a>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="profile_share">
      <span class="social">
        <a href="https://twitter.com/share?url=http://www.placeling.com<%= user_path(user) %>&text=<%= u user.username %>" onclick="var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document;window.open(this.href, '', 'left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"><%= image_tag "twitter.png", :alt=>"tweet", :class=>"share" %></a>
      </span>
      <span class="social">
        <a href="" onclick="javascript:var d=document,f='https://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1323211438&u='+e('http://www.placeling.com<%= user_path(user) %>')+'&t='+e('<%= u user.username %>');1;try{if (!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z) {a=function() {if (!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if (/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0);return false"><%= image_tag "facebook.png", :alt=>"share on facebook", :class=>"share" %></a>
      </span>
      <span class="social">
        <a href="http://www.placeling.com<%= user_path(user) %>" onclick="javascript:return false;" class="email_user"><%= image_tag "email.png", :alt=>"email", :class=>"share" %></a>
      </span>
  </div>
</div>