<li id="user_<%=user.id %>" class="user_summary">
  <div class="user_thumb">
    <img id="<%= user.id %>_thumb" class="styled_thumb" src="<%=  user.thumb_url %>" alt ="<%= user.username %>"/>
  </div>
  <div class="user_info">
    <div class="detail_username">
      <%= link_to user.username, user_path(user) %>
    </div>
    <div class="detail_description">
      <%= user.description %>
    </div>
  </div>
</li>