<li id="user_<%=user.id %>"  class="user user_body">
    <span class="raw_thumb">
      <img id="<%= user.id %>_thumb" class="thumb_image" src="<%=  user.image_src %>" alt ="<%= user.username %>"/>
    </span>

    <span class="raw_status_body">

      <%= link_to user.username, user_path(user) %> <span class="text"><%= raw h(user.description).gsub("\n", "<br />") %></span>
      <br/>
    </span>
</li>