<% content_for :head do %>
  <title><%= t('account.title') %></title>
<% end %>

<div class="account_holder">
  <div class="account_title"><%= t('account.title') %> <a href="<%= edit_user_path(@user) %>"><%= image_tag "/images/writer.png", :alt=>"t('account.edit')", :class=>"account_edit_image" %></a></div>
  <div class="account_info_holder">
    <div class="account_label"><%= t('account.username') %></div>
    <div class="account_value"><%= @user.username %></div>
  </div>
  <div class="account_info_holder">
    <div class="account_label"><%= t('account.email') %></div>
    <div class="account_value"><%= @user.email %></div>
  </div>
  <div class="account_info_holder">
    <div class="account_label"><%= t('account.location') %></div>
    <div class="account_value">
    <% if !@user.city.nil? && @user.city.length > 0 %>
      <%= @user.city %>
    <% else %>
      <%= t('account.no_city') %>
    <% end %>
    </div>
  </div>
  <div class="account_info_holder">
    <div class="account_label"><%= t('account.description') %></div>
    <div class="account_value">
    <% if !@user.description.nil? && @user.description.length > 0 %>
      <%= @user.description %>
    <% else %>
      <%= t('account.no_description')%>
    <% end %>
    </div>
  </div>
  <div class="account_info_holder">
    <div class="account_label"><%= t('account.url') %></div>
    <div class="account_value">
      <% if @user.url.nil? || @user.url.length == 0 %>
        <%= t('account.no_url') %>
      <% else %>
        <%= link_to(@user.url, @user.url) %>
      <% end %>
    </div>
  </div>
  <div class="account_info_holder account_profile_pic">
    <div class="account_label"><%= t('account.profile_pic') %> <a href="<%= edit_avatar_user_path(@user) %>"><%= image_tag "/images/writer.png", :alt=>"t('account.change_pic')", :class=>"account_change_pic" %></a></div>
    <div class="account_value"><a href="<%= edit_avatar_user_path(@user) %>"><%= image_tag(@user.thumb_url, :class => "styled_pic", :alt => "Profile Pic") %></a></div>
  </div>
  <div class="account_info_holder">
    <div class="account_label"><%= t('account.notify') %></div>
    <div class="account_value">
    <% if @user.new_follower_notify %>
      <%= t('account.yes_new_follower_notify')%>
    <% else %>
      <%= t('account.no_new_follower_notify' )%>
    <% end %>
    </div>
    <div class="account_value">
    <% if @user.remark_notify %>
      <%= t('account.yes_remark_notify')%>
    <% else %>
      <%= t('account.no_remark_notify' )%>
    <% end %>
    </div>
    
  </div>
  <div class="account_info_holder">
    <div class="account_label"><%= t('account.authentications') %></div>
    <div class="account_value">
    <% if @facebook %>
      <%= t('account.fb_connected')%>
    <% else %>
      <a href="/auth/facebook" class="auth_provider">
        <%= image_tag "facebook/fb-connect-large.png", :width => 200, :alt => "t('basic.facebook')" %>
      </a>
    <% end %>
    </div>
  </div>

  <div class="account_info_holder">
    <div class="account_label"><%= t('account.embed') %></div>
    <div class="account_value">
      <a href="<%= embed_user_path(@user) %>"><%= t('account.embed_howto') %></a>
    </div>
  </div>
  
</div>