<% content_for :head do %>
    <title><%= t('account.confirm_delete') %></title>


    <style type="text/css">
        .title {
            font-size: 14pt;
            font-family: museoSlab;
        }
    </style>
<% end %>

<div style="width:600px;margin:50px auto 0px auto;text-align: center;">
  <div class="title"><%= t('account.confirm_deactivate') %></div>
  <div><%= t('account.confirm_copy') %></div>
  <div class="all_places_holder">
    <%= link_to t('account.yes'), @user, confirm: 'Are you sure?', method: :delete, :class => "all_places" %>
  </div>
  <div style="margin-top:10px;">
    <%= image_tag asset_path("sad_girl.png"), :width => "300" %>
  </div>
</div>

