<% content_for :head do %>
  <title><%= t('account.embed_title') %></title>
<% end %>

<% content_for :javascript_includes do %>
  <script type="text/javascript">
    document.domain = "placeling.com";
    
    var url = "<%= @url %>";
    var path = "<%= iframe_user_path(@user) %>"; 
    
    $(document).ready(function(){
      function update_iframe_code() {
        var code = '<iframe src="' + url + path + "?lat=" + $('#embed_lat').text() + "&lng=" + $('#embed_lng').text() + "&zoom=" + $('#embed_zoom').text() + "&h=" + $('#height_input').val() + "&w=" + $('#width_input').val() + '" frameborder="0" width="' + $('#width_input').val() + '" height="' + $('#height_input').val() + '"></iframe>';
        return code;
      }
      
      $('#code').val(update_iframe_code());
      
      $('#mapframe').mouseout(function() {
        $('#embed_lat').text($('#mapframe').contents().find('#lat').text());
        $('#embed_lng').text($('#mapframe').contents().find('#lng').text());
        $('#embed_zoom').text($('#mapframe').contents().find('#zoom').text());
        $('#code').val(update_iframe_code());
      });
      
      $('#height_input').blur(function() {
        $('#code').val(update_iframe_code());
      });
      
      $('#width_input').blur(function() {
        $('#code').val(update_iframe_code());
      });
      
    });
  </script>
<% end %>

<div class="embed_holder">
  <div class="account_title"><%= t('account.create_embed') %></div>
  <div id="step_1">
    <p class="step">Step 1</p>
    <p class="mini_space">Pick you map's:</p>
    <ul class="dimension_holder">
      <li class="dimension_holder">Height <span class="dimension"><input id="height_input" value="<%= @height %>"/> px</span></li>
      <li class="dimension_holder">Width <span class="dimension"><input id="width_input" value="<%= @width %>"/> px</span></li>
    </ul>
  </div>
  <div id="step_2">
    <p class="step">Step 2</p>
    <p class="mini_space">Pan and zoom the map below to center your map:</p>
    <div id="embed_lat"><%= @current_location[0] %></div>
    <div id="embed_lng"><%= @current_location[1] %></div>
    <div id="embed_zoom"><%= @zoom %></div>
    <div><iframe id="mapframe" name="map" height="<%= @height %>" width="<%= @width %>" src="<%= @url %><%= iframe_user_path(@user) %>?lat=<%= @current_location[0] %>&amp;lng=<%= @current_location[1] %>&amp;zoom=<%= @zoom %>&amp;w=<%= @width %>&amp;h=<%= @height %>" frameborder="0"></iframe></div>
  </div>  
  <div id="step_3">
    <p class="step">Step 3</p>
    <p class="mini_space">Copy and paste this code into your blog or website:</p>
    <p><textarea id="code"></textarea></p>
  </div>
</div>