<% content_for :head do %>
  <title><%= @user.username %> :: <%= @title %></title>
  <meta name="description" content="<%= t('user.list_description') %>">
<% end %>

<% content_for :javascript_includes do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(window).resize(function() {
        var height = $(window).height() - $('#header').outerHeight(true) - $('#footerbottom').outerHeight();
        var user_padding = $('#user_details').outerHeight() - $('#user_details').height();
        var perspective_padding = $('#users').outerHeight() - $('#users').height();
        $('#user_details').height(height - user_padding);
        $('#users').height(height - perspective_padding);
      });
      
      $(window).resize();
    });
  </script>
<% end %>

<div>
  <div id="user_details">
    <%= render :partial => "detail", :locals => {:user => @user} %>    
  </div>
  <div id="users">
    <div class="place_category recent"><%= @title %></div>
    <ul id="user_list">
      <% @users.each do |user|%>
        <%= render :partial => "users/user", :locals => {:user => user} %>
      <% end %>
    </ul>
  </div>
</div>