<% content_for :head do %>
  <title><%= t('account.map_center') %></title>
<% end %>

<% content_for :javascript_includes do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtWBCKJwtHq7ME82vk3d7eUsRknvzgrAQ&sensor=false">
  </script>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function(){
      <% if !@user.loc.nil? && @user.loc.length == 2 %>
      var lat = <%= @user.loc[0] %>;
      var lng = <%= @user.loc[1] %>;
      <% else %>
      var lat = 49.2;
      var lng = -123.1;
      <% end %>
      
      $('#lat').val(lat);
      $('#lng').val(lng);
      
      myOptions = {
        center: new google.maps.LatLng(lat, lng),
        zoom: 13,
        panControl: false,
        mapTypeControl: true,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false,
        keyboardShortcuts: false,
        zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER
        },
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("main_map_location"), myOptions);
      
      $('#crosshairs').offset({top: ($('#main_map_location').offset().top + parseInt($('#main_map_location').css("border-top-width")) + $('#main_map_location').outerHeight(true)/2 - $('#crosshairs').height()/2) , left: ($('#main_map_location').offset().left + parseInt($('#main_map_location').css("border-left-width")) + $('#main_map_location').outerWidth(true)/2 - $('#crosshairs').width()/2)});
      $('#crosshairs').show();
      
      $('#main_map_location').mouseout(function() {
        $('#lat').val(map.getCenter().lat());
        $('#lng').val(map.getCenter().lng());
      });
    });
  </script>
<% end %>

<div class="account_holder wider">
  <div class="account_title"><%= t('account.map_center') %></div>
  <div><%= t('account.center_instructions') %></div>
  <div><%= t('account.center_impact') %></div>
  <div id="main_map_location" style="width:800px; height:400px"></div>  
  <div id="crosshairs"><%= image_tag "crosshairs.png" %></div>
  <%= form_tag(update_location_user_path(@user), :method => "put") do %>
    <%= hidden_field_tag(:lat) %>
    <%= hidden_field_tag(:lng) %>
    <div id="map_submit_holder">
      <%= link_to(t('account.cancel'), account_user_path(@user), :class => "cancel_update") %> <%= submit_tag(t('account.update_map'), :class => "submit") %>
    </div>
  <% end %>
</div>
