<% content_for :head do %>
  <title><%= t('user.user_head', {:user => @user.username}) %></title>
  <meta name="description" content="<%= t('user.description', {:user => @user.username, :desc => @user.description}) %>">
  <meta property="og:title" content="<%= t('user.user_head', {:user => @user.username}) %>"/>
  <meta property="og:url" content="https://www.placeling.com<%= user_path(@user) %>"/>
  <meta property="og:type" content="person">
  <meta property="og:image" content="<%=  @user.thumb_url %>"/>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<% end %>

<% content_for :javascript_includes do %>
  <script type="text/javascript">
    $(document).ready(function(){
      loadState = JSON.parse($.cookie('page_state'));
      if (loadState === null) {
        loadState = {};
      }
      
      var username = $('.username').first().text();
      
      <% if !@lat.nil? && !@lng.nil? %>
        var lat = <%= @lat %>;
        var lng = <%= @lng %>;
      <% end %>
      
      $(window).resize(function() {
        var height = $(window).height() - $('#header').outerHeight(true) - $('#footerbottom').outerHeight();
        var user_padding = $('#user_details').outerHeight() - $('#user_details').height();
        var perspective_padding = $('#perspectives').outerHeight() - $('#perspectives').height();
        $('#user_details').height(height - user_padding);
        $('#perspectives').height(height - perspective_padding);
      });
      
      $(window).resize();
      
      $('.liker_list').click(function(e){
        e.preventDefault();
        var target = "#likers_" + $(this).attr('id').substring(5, $(this).attr('id').length);
        $(target).show("fast");
        return false;
      });
      
      $('.lightboxGallery').each(function(){
        $('.lightbox', this).lightBox();
      });
      
      $('.tag_link').click(function(e){
        var rawTag = $.trim($(this).children().first().text());
        var tag = rawTag.substring(1,rawTag.length);
        if ($(this).children().first().hasClass("highlighted_tag")) {
          if (typeof loadState[username] !== "undefined") {
            delete loadState[username]["filterType"];
            delete loadState[username]["filterValue"];
            loadState[username]["showFilters"] = false;
            $.cookie('page_state', JSON.stringify(loadState), {path:'/'});
          }
        } else {
          if (typeof loadState[username] !== "undefined") {
            loadState[username]["filterType"] = "tag";
            loadState[username]["filterValue"] = tag;
            loadState[username]["showFilters"] = true;
          } else {
            loadState[username] = {};
            loadState[username]["filterType"] = "tag";
            loadState[username]["filterValue"] = tag;
            loadState[username]["showFilters"] = true;
          }
          $.cookie('page_state', JSON.stringify(loadState), {path:'/'});
        }
      })
      
      $('.star_link').hover(
        function() {
          var source = $('img', this).attr('src');
          if (source.indexOf('unstarred.png') >= 0) {
            $('img', this).attr('src', '<%= asset_path('starred.png') %>');
            $('img', this).css({'opacity':'0.4'});
          }
        }, 
        function() {
          if ($('img', this).css('opacity') == '0.4') {
            $('img', this).attr('src', '<%= asset_path('unstarred.png') %>');
            $('img', this).css({'opacity':'1.0'});
          }
        }
      );
      
      $('.email').each(function() {
        $(this).qtip({
            content: '<span class="link_holder"><span class="link_header">Link:</span><input type="text" value="'+ $(this).attr("href") + '" class="link_text"></span>',
           position: {
             my: 'bottom center',
             at: 'top center'
           },
           show: {
             event: 'click',
             solo: true
           },
           hide: {
             event: 'click'
           },
           style: {
             classes: 'ui-tooltip-rounded ui-tooltip-shadow',
           }
        });
      });
      $('#loading').hide()
      
      <% if @noscroll.nil? %>
      $(window).data('ajaxready', true);
      $('#perspectives').scroll(function(){
        if ($(window).data('ajaxready') == false) return;
        
        var url = '<%= magazine_user_path(@user) %>';
        if (typeof lat !== "undefined" && typeof lng !== "undefined") {
          url = url + "?lat=" + lat + "&lng=" + lng;
        }
        
        
        if ($('#perspectives').scrollTop() >= ($('#recent_perspectives_list').height() - 1000)) {
          $('#loading').show();
          $(window).data('ajaxready', false);
          $.ajax({
            url: url,
            data: {
              start: $('#recent_perspectives_list').attr('start')
            },
            dataType: 'script',
          });
        }
      });
      <% end %>
      
      $('#nearby_map').click(function(e){
        <%# If there's a perpsective that starts in the top half of the page, take it %>
        <%# Otherwise take the perspectives that's at the top of the page %>
        var currentWinner = 0;
        var permitUpdate = true;
        var lat;
        var lng;
        
        $('.full_name').each(function(index, value){
          current = $(this).position().top - $("#header").height();
          if (index == 0 && current > 0) {
            currentWinner = 0;
            lat = $(this).attr("lat");
            lng = $(this).attr("lng");
            uid = $(this).attr("uid");
            permitUpdate = false;
          } else if (current > 0 && current < ($("#footerbottom").offset().top - $("#header").height())/2) {
            if (permitUpdate) {
              currentWinner = index;
              permitUpdate = false;
              lat = $(this).attr("lat");
              lng = $(this).attr("lng");
              uid = $(this).attr("uid");
            }
          } else if (current < 0) {
            currentWinner = index;
            lat = $(this).attr("lat");
            lng = $(this).attr("lng");
            uid = $(this).attr("uid");
          }
        });
        
        if (typeof loadState[username] === "undefined") {
          loadState[username] = {};
        }
        
        loadState[username]["lat"] = lat;
        loadState[username]["lng"] = lng;
        loadState[username]["infowindow"] = uid;
        
        $.cookie('page_state', JSON.stringify(loadState), {path:'/'});
      });
    });
    $(window).load(function(){
      callToDownload(2000);
    });
  </script>
<% end %>

<div id="user_and_content">
  <div id="user_details">
    <div class="toggle_view">
      <ul class="location_types">
        <li class="left active">
          <a class="active" href="<%= user_path(@user) %>" id="nearby_map"><span class="type"><%= t('user.nearby') %></span></a>
        </li>
        <li class="right inactive">
          <span class="type"><%= t('user.recent') %></span>
        </li>
      </ul>
    </div>
    
    <%= render :partial => "detail", :locals => {:user => @user} %>
  </div>
  <div id="perspectives">
    <% if @perspectives.length > 0 %>
      <% if !@lat.nil? && !@lng.nil? %>
        <div class="nearby">
          <div class="nearby_map"><img class="styled_map" src="https://maps.google.com/maps/api/staticmap?center=<%= @lat %>,<%= @lng %>&zoom=14&size=192x92&&markers=icon:http://www.placeling.com/images/marker.png%%7Ccolor:red%%7C<%= @lat %>,<%= @lng %>&sensor=false"></div>
          <div class="mini_recent"><a href="<%= magazine_user_path(@user) %>">Recent Places</a></div>
        </div>
      <% else %>
        <div class="place_category recent">
          <%= t('place.recent_places')%>
        </div>
      <% end %>
      <ul id="recent_perspectives_list" start="<%= @perspectives.length %>">
        <% @perspectives.each_with_index do |perspective, index|%>
          <li class="perspective_wrapper" id="perspective_<%=perspective.id %>">
            <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => "magazine"} %>
          </li>
        <% end %>
      </ul>
      <div id="loading"><img id="spinner" src='<%= asset_path('spinner.gif') %>'></div>
    <% else %>
      <div class="nothing">I haven't placemarked anything yet...</div>
    <% end %>
  </div>
</div>
<%= render :partial => "layouts/download", :locals => {:user => @user} %>