var start_count = parseInt($('#recent_perspectives_list').attr('start'));
var new_count = <%= @perspectives.length %>;

<% if @perspectives.length == 0 %>
  $('#loading').html('');
  $(window).data('ajaxready', false);
<% else %>
  <% if @noscroll.nil? %>
    $('#loading').hide();
  <% else %>
    $('#loading').html('');
    $(window).data('ajaxready', false);
  <% end %>
  var html = '';
  <% @perspectives.each do |perspective|%>
    html = '<li class="perspective_wrapper" id="perspective_<%=perspective.id %>">';
    html += '<%= escape_javascript(render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => "magazine"}) %>';
    html += '</li>';
    
    $('#recent_perspectives_list').append(html);
    // Add callback here as need to create mosaic after images load - and can't use window.load() with AJAX
    $('.photo_image', '#perspective_<%=perspective.id %>').each(function() {
      $(this).load(function() {
        var image_count = $('.photo_image', '#perspective_<%=perspective.id %>').length;
        var load_count = 0;
        $('.photo_image', '#perspective_<%=perspective.id %>').each(function() {
          if (this.complete) {
            load_count += 1;
          }
          if (load_count === image_count) {
            $('.images', '#perspective_<%=perspective.id %>').each(function() {
              mosaic(this);
            });
          }
        })
      });
    });
  <% end %>
  
  $('#recent_perspectives_list').attr('start', start_count + new_count);
  $(window).data('ajaxready', true);
  
  $('.lightboxGallery').each(function(){
    $('.lightbox', this).lightBox();
  });
  
  $('.star_link').hover(
    function() {
      var source = $('img', this).attr('src');
      if (source.indexOf('unstarred.png') >= 0) {
        $('img', this).attr('src', '<%= asset_path('starred.png') %>');
        $('img', this).css({'opacity':'0.4'});
      }
    }, 
    function() {
      if ($('img', this).css('opacity') == '0.4') {
        $('img', this).attr('src', '<%= asset_path('unstarred.png') %>');
        $('img', this).css({'opacity':'1.0'});
      }
    }
  );
  
  $('.email').each(function() {
    $(this).qtip({
        content: '<span class="link_holder"><span class="link_header">Link:</span><input type="text" value="'+ $(this).attr("href") + '" class="link_text"></span>',
       position: {
         my: 'bottom center',
         at: 'top center'
       },
       show: {
         event: 'click',
         solo: true
       },
       hide: {
         event: 'click'
       },
       style: {
         classes: 'ui-tooltip-rounded ui-tooltip-shadow',
       }
    });
  });
<% end %>