<% content_for :head do %>
  <title><%= t('user.user_head', {:user => @user.username}) %></title>
  <meta name="description" content="<%= t('user.description', {:user => @user.username, :desc => @user.description}) %>">
  <meta property="og:title" content="<%= t('user.user_head', {:user => @user.username}) %>"/>
  <meta property="og:url" content="https://www.placeling.com<%= user_path(@user) %>"/>
  <meta property="og:type" content="person">
  <meta property="og:image" content="<%=  @user.thumb_url %>"/>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<% end %>

<% content_for :javascript_includes do %>
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCtWBCKJwtHq7ME82vk3d7eUsRknvzgrAQ&sensor=false">
  </script>
  <script type="text/javascript">
    var DEFAULT_ZOOM = 15;
    
    function compare(a,b) {
      if (a.lower_name < b.lower_name)
         return -1;
      if (a.lower_name > b.lower_name)
        return 1;
      return 0;
    }
    
    function filter_term(a,b) {
      if (a.term < b.term)
        return -1;
      if (a.term > b.term)
        return 1;
      return 0;
    }
    
    function filter_count(a,b) {
      if (a.count > b.count)
        return -1;
      if (a.count < b.count)
        return 1;
      if (a.count == b.count) {
        if (a.term < b.term)
          return -1;
        if (a.term > b.term)
          return 1;
        return 0;
      }
    }
    
    function initialize() {
      var persps = {};
      var topLat;
      var bottomLat;
      var rightLng;
      var leftLng;
      var requests = 0;
      
      var loadState = JSON.parse($.cookie('page_state'));
      if (loadState === null) {
        loadState = {};
      }
      
      if (typeof loadState["<%= @user.username %>"] === "undefined") {
        loadState["<%= @user.username %>"] = {};
      }
      
      <% if @current_location.length > 0 %>
        var test = "current_location";
        var lat = <%= @current_location[0] %>;
        var lng = <%= @current_location[1] %>;
      <% else %>
        <% if @user.location && @user.location.length == 2 %>
          var test = "test";
          var lat = <%= (@user.location[0] * 100).round().to_f/100 %>;
          var lng = <%= (@user.location[1] * 100).round().to_f/100 %>;
        <% else %>
          var test = "default";
          var lat = <%= @default_location[0] %>;
          var lng = <%= @default_location[1] %>;
        <% end %>
      <% end %>
      
      var filters = {
        'categories' : [],
        'tags' : []
      }
      
      var zoom = DEFAULT_ZOOM;
      
      if (typeof loadState["<%= @user.username %>"]['zoom'] !== "undefined") {
        zoom = loadState["<%= @user.username %>"]['zoom'];
      }
      
      if (typeof loadState["<%= @user.username %>"]['sort'] === "undefined") {
        loadState["<%= @user.username %>"]['sort'] = 'count';
      }
      
      var myOptions = {
        center: new google.maps.LatLng(lat, lng),
        zoom: zoom,
        panControl: false,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false,
        zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER
        },
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("main_map"), myOptions);
            
      var placemark = new google.maps.MarkerImage(
        '/images/placemarker.png',
        new google.maps.Size(30,32),
        new google.maps.Point(0, 0),
        new google.maps.Point(9, 32)
      );
      
      var shape = {
        coord: [1,1,1,15,6,20,9,30,12,20,18,15,18,1],
        type: 'poly'
      };
      
      var infowindow = new google.maps.InfoWindow({});
      
      google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
        delete loadState["<%= @user.username %>"]['infowindow'];
        google.maps.event.trigger(map, 'idle');
      });
      
      google.maps.event.addListener(infowindow, 'closeclick', function() {
        delete loadState["<%= @user.username %>"]['infowindow'];
        google.maps.event.trigger(map, 'idle');
      })
      
      function createMarker(perspective) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(perspective.lat, perspective.lng),
          icon: placemark,
          shape: shape,
          map: map,
          title: perspective.name
        });
        google.maps.event.addListener(marker, 'click', function(){
          if (infowindow.getMap() && infowindow.getPosition() === marker.getPosition()) {
            infowindow.close();
            delete loadState["<%= @user.username %>"]['infowindow'];
          } else {
            loadState["<%= @user.username %>"]['infowindow'] = perspective['uid'];
            var infoWindowHTML = '<div class="info_window">';
            
            // Edit vs. star
            if (typeof perspective.edit === "undefined") {
              if (typeof perspective.memo !== "undefined" || perspective.photos.length > 0) {
                var action = '<div class="info_action"><a href="/" id="star"><img class="info_img" src="/images/';
                if (perspective.starred == true) {
                  action += "starred.png";
                } else {
                  action += "unstarred.png";
                }
                action += '"></a></div>';
                infoWindowHTML += action;
              }
            } else {
              var action = '<div class="info_action"><a href="' + perspective.edit + '"><img class="info_img" src="/images/pencil_24.png"></a></div>';
              infoWindowHTML += action;
            }
            
            infoWindowHTML += '<div class="info_name"><a href="' + perspective.place_url + '">' + perspective.name + '</a></div>';
            
            if (perspective.categories.length > 0 || perspective.tags.length > 0) {
              infoWindowHTML += '<div class="info_cat_and_tags">';
              if (perspective.categories.length > 0) {
                infoWindowHTML += '<span class="info_cat">';
                infoWindowHTML += perspective.categories.join('</span>, <span class="info_cat">');
                infoWindowHTML += '</span>';
                if (perspective.tags.length > 0) {
                  infoWindowHTML += ' | ';
                }
              }
              if (perspective.tags.length > 0) {
                infoWindowHTML += '<span class="info_tag">#';
                infoWindowHTML += perspective.tags.join('</span>, <span class="info_tag">#');
                infoWindowHTML += '</span>';
              }
              infoWindowHTML += '</div>';
            }
            
            if (typeof perspective.memo !== "undefined") {
              infoWindowHTML += '<div class="info_memo">' + perspective.memo + '</div>';
            }
            
            if (typeof perspective.remote_url !== "undefined") {
              infoWindowHTML += '<div class="info_url"><a href="' + perspective.remote_url + '"><%= t('perspective.web_link') %></a></div>';
            }
            
            if (perspective.photos.length > 0) {
              var pics = '<div class="info_pics lightboxGallery">';
              for (var i=0; i<perspective.photos.length; i++) {
                pics += '<span class="info_pic"><a href="'+ perspective.photos[i].main + '" class="lightbox"><img class="info_pic_thumb" src="' + perspective.photos[i].thumb + '"></a></span>';
              }
              pics += '</div>';
              infoWindowHTML += pics;
            }
            
            var share = '<div class="info_action"><span class="social"><a href="https://twitter.com/share?url=http://www.placeling.com' + perspective.url + '&text=' + perspective.name_encoded + '" onclick="var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document;window.open(this.href, \'\', \'left=\'+H+\',top=\'+G+\',width=\'+D+\',height=\'+A+\',personalbar=0,toolbar=0,scrollbars=1,resizable=1\');return false;"><img src="/images/twitter.png" class="info_icon"></a></span>';
            
            share += '<span class="social"><a href="" onclick="javascript:var d=document,f=\'https://www.facebook.com/share\',l=d.location,e=encodeURIComponent,p=\'.php?src=bm&v=4&i=1323211438&u=\'+e(\'http://www.placeling.com' + perspective.url + '\')+\'&t=\'+e(\'' + perspective.name_encoded + '\');1;try{if (!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z) {a=function() {if (!window.open(f+\'r\'+p,\'sharer\',\'toolbar=0,status=0,resizable=1,width=626,height=436\'))l.href=f+p};if (/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0);return false"><img src="/images/facebook.png" class="info_icon"></a></span>';
            
            share += '<span><a href=\"http://www.placeling.com' + perspective.url + '" onclick="javascript:return false;" class="email"><img src="/images/email.png" class="info_icon"></a></span>';
            
            share += "</div>";
            
            infoWindowHTML += share;
            
            var mod_action = '<div class="info_update"><span class="info_mod">' + perspective.modified + '</span>';
            
            if (typeof perspective.edit === "undefined") {
              mod_action += perspective.flag;
            } else {
              mod_action += perspective.delete;
            }
            
            mod_action += '</div>';
            
            infoWindowHTML += mod_action;
            
            infoWindowHTML += '</div>';
            
            infowindow.open(map, marker);
            infowindow.setContent(infoWindowHTML);
            loadState["<%= @user.username %>"]['infowindow'] = perspective["uid"];
            infowindow.setPosition(marker.getPosition());
            google.maps.event.trigger(map, 'idle');
            
            $('.lightboxGallery').each(function(){
              $('.lightbox', this).lightBox();
            });
            
            $('.email').each(function() {
              $(this).qtip({
                content: '<span class="link_holder"><span class="link_header">Link:</span><input type="text" value="'+ $(this).attr("href") + '" class="link_text"></span>',
                 position: {
                   my: 'bottom center',
                   at: 'top center'
                 },
                 show: {
                   event: 'click',
                   solo: true
                 },
                 hide: {
                   event: 'click'
                 },
                 style: {
                   classes: 'ui-tooltip-rounded ui-tooltip-shadow',
                 }
              });
            });
            
            $('#star').click(function(e){
              e.preventDefault();
              if (perspective.starred == true) {
                $.ajax({
                  url: perspective.unstar,
                  dataType:"script",
                  type:"POST",
                  success: function(data) {
                    perspective.starred = false;
                    $('.info_img').attr("src", "/images/unstarred.png");
                  },
                  error: function(request, error) {
                    console.log(error);
                    console.log(request.status);
                    if (request.status === 401) {
                      location.href = "/users/sign_in";
                    }
                  }
                });
              } else {
                $.ajax({
                  url: perspective.star,
                  dataType:"script",
                  type:"POST",
                  success: function(data) {
                    perspective.starred = true;
                    $('.info_img').attr("src", "/images/starred.png");
                  },
                  error: function(request, error) {
                    console.log(error);
                    console.log(request.status);
                    if (request.status === 401) {
                      location.href = "/users/sign_in";
                    }
                  }
                });
              }
              return false;
            });
          }
        });
        marker.setVisible(false);
        return marker;
      }
      
      function updatePerspectives(perspectiveList) {
        for (var i=0; i < perspectiveList.length; i++) {
          if (typeof persps[perspectiveList[i]['uid']] === "undefined") {
            persps[perspectiveList[i]['uid']] = perspectiveList[i];
            persps[perspectiveList[i]['uid']]['marker'] = createMarker(perspectiveList[i]);
          }
        }
        updateMap();
      }
      
      function updateMap() {
        var currentBounds = map.getBounds();
        
        loadState["<%= @user.username %>"]['lat'] = map.getCenter().lat();
        loadState["<%= @user.username %>"]['lng'] = map.getCenter().lng();
        loadState["<%= @user.username %>"]['zoom'] = map.getZoom();
        
        var filterTerm = loadState["<%= @user.username %>"]['filterValue'];
        var filterType = loadState["<%= @user.username %>"]['filterType'];
        
        for (var persp in persps) {
          if (currentBounds.contains(persps[persp]["marker"].getPosition())) {
            if (typeof filterTerm === "undefined") {
              if (persps[persp]["marker"].getVisible() === false) {
                persps[persp]["marker"].setVisible(true);
              }
            } else {
              var pass = false;
              if (filterType === 'tag') {
                if (persps[persp].tags.length > 0) {
                  for (var j=0; j<persps[persp].tags.length; j++) {
                    if (persps[persp].tags[j] === filterTerm) {
                      pass = true;
                    }
                  }
                }
              } else if (filterType === 'category') {
                if (persps[persp].categories.length > 0) {
                  for (var j=0; j<persps[persp].categories.length; j++) {
                    if (persps[persp].categories[j] === filterTerm) {
                      pass = true;
                    }
                  }
                }
              }
              if (pass === true && persps[persp]["marker"].getVisible() === false) {
                persps[persp]["marker"].setVisible(true);
              } else if (pass === false && persps[persp]["marker"].getVisible() === true) {
                persps[persp]["marker"].setVisible(false);
                if (persps[persp]["uid"] === loadState["<%= @user.username %>"]['infowindow']) {
                  infowindow.close();
                  delete loadState["<%= @user.username %>"]['infowindow'];
                }
              }
            }
          } else {
            if (persps[persp]["marker"].getVisible() === true) {
              persps[persp]["marker"].setVisible(false);
              if (persps[persp]["uid"] === loadState["<%= @user.username %>"]['infowindow']) {
                infowindow.close();
                delete loadState["<%= @user.username %>"]['infowindow'];
              }
            }
          }
        }
        
        if (infowindow.getMap()) {
          if (currentBounds.contains(infowindow.getPosition()) === false) {
            infowindow.close();
            delete loadState["<%= @user.username %>"]['infowindow'];
          }
        } else if   (typeof loadState["<%= @user.username %>"]['infowindow'] !== "undefined") {
            google.maps.event.trigger(persps[loadState["<%= @user.username %>"]['infowindow']]["marker"], 'click');
        }
        
        $.cookie('page_state', JSON.stringify(loadState), {path:'/'});
        
        if ($('#filters').height() > 0) {
          if (typeof loadState["<%= @user.username %>"]['sort'] !== "undefined") {
            if (loadState["<%= @user.username %>"]['sort'] === 'count') {
              updateFilters(true);
            } else {
              updateFilters();
            }
          }
        }
        
        if (loadState["<%= @user.username %>"]['location'] === 'places') {
          updatePlaces();
        } else if (loadState["<%= @user.username %>"]['location'] === 'photos') {
          updatePhotos();
        }        
      };
      
      google.maps.event.addListener(map, 'idle', function() {
        var callServer = false;
        var bounds = map.getBounds();
        
        if ((typeof topLat === "undefined") || (typeof bottomLat === "undefined") || (typeof rightLng === "undefined") || (typeof leftLng === "undefined")) {
          callServer = true;
        }
        
        if (callServer === false) {
          var updatedTopLat = bounds.getNorthEast().lat();
          var updatedBottomLat = bounds.getSouthWest().lat();
          var updatedRightLng = bounds.getNorthEast().lng();
          var updatedLeftLng = bounds.getSouthWest().lng();
          
          if ((updatedTopLat > topLat) || (updatedBottomLat < bottomLat)) {
            callServer = true;
          }
          
          if (callServer === false) {
            if (updatedRightLng > rightLng || updatedLeftLng < leftLng) {
              callServer = true;
            }
          }
        }
        
        if (callServer == true) {
          requests += 1;
          if (requests > 0) {
            $('#spinner').show();
          }
          
          if ((typeof topLat === "undefined") || (typeof bottomLat === "undefined") || (typeof rightLng === "undefined") || (typeof leftLng === "undefined")) {
            var updatedTopLat = bounds.getNorthEast().lat() + 2*(bounds.getNorthEast().lat() - bounds.getSouthWest().lat());
            var updatedBottomLat = bounds.getSouthWest().lat() - 2*(bounds.getNorthEast().lat() - bounds.getSouthWest().lat());
            var updatedRightLng = bounds.getNorthEast().lng() + (bounds.getNorthEast().lng() - bounds.getSouthWest().lng());
            var updatedLeftLng = bounds.getSouthWest().lng() - (bounds.getNorthEast().lng() - bounds.getSouthWest().lng());
          } else {
            var updatedTopLat = bounds.getNorthEast().lat();
            var updatedBottomLat = bounds.getSouthWest().lat();
            var updatedRightLng = bounds.getNorthEast().lng();
            var updatedLeftLng = bounds.getSouthWest().lng();
          }
          
          $.ajax({
            url:'<%= bounds_user_path(@user) %>',
            data: {
              top_lat: updatedTopLat,
              bottom_lat: updatedBottomLat,
              right_lng: updatedRightLng,
              left_lng: updatedLeftLng
            },
            dataType:"script",
            type:"GET",
            success: function(data) {
              requests -= 1;
              if (requests <= 0) {
                $('#spinner').hide();
              }
              if ((typeof topLat === "undefined") || (typeof bottomLat === "undefined") || (typeof rightLng === "undefined") || (typeof leftLng === "undefined")) {
                topLat = updatedTopLat,
                bottomLat = updatedBottomLat,
                rightLng = updatedRightLng,
                leftLng = updatedLeftLng
              } else {
                if (updatedTopLat > topLat) {
                  topLat = updatedTopLat;
                }
                if (updatedBottomLat < bottomLat) {
                  bottomLat = updatedBottomLat;
                }
                if (updatedRightLng > rightLng) {
                  rightLng = updatedRightLng;
                }
                if (updatedLeftLng < leftLng) {
                  leftLng = updatedLeftLng;
                }
              }
              
              eval(data);
            }
          });
        } else {
          updateMap();
        }
      });
      
      function updateFilters(sortDown) {
        filters['categories'] = {};
        filters['tags'] = {};
        
        var bounds = map.getBounds();
        for (var persp in persps) {
          if (bounds.contains(persps[persp]["marker"].getPosition())) {
            // Create categories
            if (persps[persp].categories.length > 0) {
              for (var j=0; j < persps[persp].categories.length; j++) {
                if (filters['categories'][persps[persp].categories[j]]) {
                  filters['categories'][persps[persp].categories[j]] += 1;
                } else {
                  filters['categories'][persps[persp].categories[j]] = 1;
                }
              }
            }
            
            if (persps[persp].tags.length > 0) {
              for (var j=0; j <persps[persp].tags.length; j++) {
                if (filters['tags'][persps[persp].tags[j]]) {
                  filters['tags'][persps[persp].tags[j]] += 1;
                } else {
                  filters['tags'][persps[persp].tags[j]] = 1;
                }
              }
            }
          }
        }
        
        var clean_filters = [];
        
        for (var cat in filters['categories']) {
          clean_filters.push({'term':cat,'type':'category','count':filters['categories'][cat]});
        }
        
        for (var tag in filters['tags']) {
          clean_filters.push({'term':tag,'type':'tag','count':filters['tags'][tag]});
        }
        
        if (typeof loadState["<%= @user.username %>"]['filterType'] !== "undefined") {
          if (loadState["<%= @user.username %>"]['filterType'] === "category") {
            if (typeof filters['categories'][loadState["<%= @user.username %>"]['filterValue']] === "undefined") {
              clean_filters.push({'term':loadState["<%= @user.username %>"]['filterValue'],'type':'category','count':0});
            }
          } else if (loadState["<%= @user.username %>"]['filterType'] === "tag") {
            if (typeof filters['tags'][loadState["<%= @user.username %>"]['filterValue']] === "undefined") {
              clean_filters.push({'term':loadState["<%= @user.username %>"]['filterValue'],'type':'tag','count':0});
            }
          }
        }
        
        var html = "";
        if (clean_filters.length == 0) {
          html += '<div class="no_places"><%= t('perspective.no_categories') %></div>';
        } else {
          var filterTerm = loadState["<%= @user.username %>"]['filterValue'];
          var filterType = loadState["<%= @user.username %>"]['filterType'];
          
          if (loadState["<%= @user.username %>"]['sort'] !== 'alpha') {
            html += '<div id="sort_type">Sort: <a href="/" id="sort_alpha">abc</a> 321</div>';
            clean_filters.sort(filter_count);            
          } else {
            html += '<div id="sort_type">Sort: abc <a href="/" id="sort_count">321</a></div>';
            clean_filters.sort(filter_term);
          }
          
          for (var i=0; i<clean_filters.length; i++) {
            var chosen = false;
            if (typeof filterTerm !== "undefined" && typeof filterType != "undefined") {
              if (clean_filters[i]["type"] === filterType && clean_filters[i]["term"] === filterTerm) {
                chosen = true;
              }
            }
            
            if (chosen === true) {
              html += '<div class="filter selected">';
            } else {
              html += '<div class="filter">'
            }
            
            html += '<a href="/" class="filter_value">';
            if (clean_filters[i]["type"] === 'tag') {
              html += "#";
            }
            html += clean_filters[i]["term"];
            html += '</a> <span class="filter_count">(';
            html += clean_filters[i]["count"];
            html += ')</span>';
            if (chosen === true) {
              html+= ' <a href="/" id="show_all_filters"><%= t("perspective.show_all") %></a>';
            }
            
            html += "</div>";
          }
        }
        
        $('#filters').html(html);
        
        $('.filter_value').each(function() {
          $(this).click(function(e) {
            e.preventDefault();
            var term = $(this).text();
            if (term.charAt(0) === "#") {
              loadState["<%= @user.username %>"]['filterType'] = 'tag';
              loadState["<%= @user.username %>"]['filterValue'] = term.substr(1,term.length-1);
            } else {
              loadState["<%= @user.username %>"]['filterType'] = 'category';
              loadState["<%= @user.username %>"]['filterValue'] = term;
            }
            google.maps.event.trigger(map, 'idle');
            return false;
          })
        })
        
        $('#sort_count').click(function(e) {
          e.preventDefault();
          loadState["<%= @user.username %>"]['sort'] = 'count';
          updateFilters(true);
          google.maps.event.trigger(map, 'idle');
          return false;
        });
        
        $('#sort_alpha').click(function(e) {
          e.preventDefault();
          loadState["<%= @user.username %>"]['sort'] = 'alpha';
          updateFilters();
          google.maps.event.trigger(map, 'idle');
          return false;
        })
        
        $('#show_all_filters').click(function(e) {
          e.preventDefault();
          delete loadState["<%= @user.username %>"]['filterType'];
          delete loadState["<%= @user.username %>"]['filterValue'];
          google.maps.event.trigger(map, 'idle');
          return false;
        });        
      }
      
      function updatePlaces() {
        var placePerspectives = [];
        var count = 0;
        var locationHTML = "";
        for (var persp in persps) {
          if (persps[persp]["marker"].getVisible() === true) {
            placePerspectives.push(persps[persp]);
            count += 1;
          }
        }
        
        if (count == 0) {
          locationHTML = '<div class="no_places"><%= t("perspective.no_places") %></div>';
        } else {
          placePerspectives = placePerspectives.sort(compare);
          for (var i=0; i<placePerspectives.length; i++) {
            var html = '<div class="map_place_holder"><a href="/" class="map_place even_link" id="' + placePerspectives[i]["uid"] + '"><div>' + placePerspectives[i]["name"];
            if (placePerspectives[i]["address"]) {
              html += '<div class="map_address">';
              html += placePerspectives[i]["address"];
              html += '</div>'
            }
            html += '</div></a></div>';
            locationHTML += html;
          }
        }
        
        $('#locations').html(locationHTML);
        
        $('.map_place').each(function(e) {
          $(this).click(function(e) {
            e.preventDefault();
            google.maps.event.trigger(persps[$(this).attr('id')]["marker"], 'click');
            return false;
          })
        });
      }
      
      function updatePhotos() {
        var count = 0;
        var locationHTML = "";
        for (var persp in persps) {
          if (persps[persp]["marker"].getVisible() === true) {
            if (persps[persp].photos.length > 0) {
              var pics = '';
              
              for (var j=0; j<persps[persp].photos.length; j++) {
                pics += '<div class="photo_view_pic"><img class="map_photo_thumb map_photo" id="' + persp + '" src="' + persps[persp].photos[j].thumb + '"></div>';
              }
              locationHTML += pics;
              count += 1;
            }
          }
        }
        
        if (count == 0) {
          locationHTML = '<div class="no_places"><%= t("perspective.no_photos") %></div>';
        }
        
        $('#locations').html(locationHTML);
        
        $('.map_photo').each(function() {
          $(this).click(function() {
            google.maps.event.trigger(persps[$(this).attr('id')]["marker"], 'click');
          })
        });
      }
      
      $('#hide_filters_click').click(function(e) {
        e.preventDefault();
        $('#filters').height(0);
        $('#filters').slideUp('fast');
        $('#hide_filters').hide();
        loadState["<%= @user.username %>"]['showFilters'] = false;
        delete loadState["<%= @user.username %>"]['filterType'];
        delete loadState["<%= @user.username %>"]['filterValue'];
        google.maps.event.trigger(map, 'idle');
        return false;
      });
      
      $('#hide_locations_click').click(function(e){
        e.preventDefault();
        $('#locations').height(0);
        $('#locations').slideUp('fast');
        $('#hide_locations').hide();
        delete loadState["<%= @user.username %>"]['location'];
        google.maps.event.trigger(map, 'idle');
        return false;
      });
      
      $('#show_filters').click(function(e) {
        loadState["<%= @user.username %>"]['showFilters'] = true;
        e.preventDefault();
        
        if ($('#hide_filters').css('display') == 'none') {
          $('#hide_filters').show();
        }
        
        if ($('#filters').height() <= 0) {
          $('#filters').height($('#main_map').height() - $('#toggle_locations').outerHeight(true));
          $('#filters').slideDown('fast');
        }
        
        //updateFilters();
        
        google.maps.event.trigger(map, 'idle');
        
        return false;
      });
      
      $('#show_places').click(function(e) {
        loadState["<%= @user.username %>"]['location'] = 'places';
        e.preventDefault();
        
        if ($('#hide_locations').css('display') == 'none') {
          $('#hide_locations').show();
        }
        
        if ($('#locations').height() <= 0) {
          updatePlaces();
          
          $('#locations').height($('#main_map').height() - $('#toggle_locations').outerHeight(true));
          $('#locations').slideDown('fast');
        } else {
          updatePlaces();
        }
        google.maps.event.trigger(map, 'idle');
        return false;
      });
      
      $('#show_photos').click(function(e) {
        loadState["<%= @user.username %>"]['location'] = 'photos';
        e.preventDefault();
        
        if ($('#hide_locations').css('display') == 'none') {
          $('#hide_locations').show();
        }
        
        if ($('#locations').height() <= 0) {
          updatePhotos();
          
          $('#locations').height($('#main_map').height() - $('#toggle_locations').outerHeight(true));
          $('#locations').slideDown('fast');
        } else {
          updatePhotos();
        }
        google.maps.event.trigger(map, 'idle');
        return false;
      });
    
      var coords = JSON.parse($.cookie('location'));
      if ((typeof coords['remote_ip'] !== "undefined") || (typeof coords['browser'] !== "undefined") || navigator.geolocation) {
        $('#map_holder').append('<div id="current_location"><a href="/" class="pan"><img class="pan_img" src="/images/pan.png"></a></div>');
        $('#current_location').width(30);
        $('#current_location').css({
          'position':'absolute',
          'z-index':'10003',
        });
        // Assign callback
        $('.pan').click(function(e) {          
          e.preventDefault();
          if (typeof coords['browser'] !== "undefined") {
            var center = new google.maps.LatLng(parseFloat(coords['browser']['lat']), parseFloat(coords['browser']['lng']));
            map.setCenter(center);
            map.setZoom(DEFAULT_ZOOM);
          } else if (typeof coords['remote_ip'] !== "undefined") {
            if (navigator.geolocation && typeof coords['denied'] === "undefined") {
              navigator.geolocation.getCurrentPosition(
                function(position) {
                  coords['browser'] = {}
                  coords['browser']['lat'] = position.coords.latitude;
                  coords['browser']['lng'] = position.coords.longitude;
                  
                  $.cookie('location', JSON.stringify(coords), {path:'/'});
                  
                  var center = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                  map.setCenter(center);
                },
                function(error) {
                  switch(error.code)
                  {
                    case error.PERMISSION_DENIED:
                      coords['denied'] = true;
                      $.cookie('location', JSON.stringify(coords), {path:'/'});
                      break;
                  }
                }
              );
            }
            
            var center = new google.maps.LatLng(parseFloat(coords['remote_ip']['lat']), parseFloat(coords['remote_ip']['lng']));
            map.setCenter(center);
            map.setZoom(DEFAULT_ZOOM);
          } else {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                coords['browser'] = {}
                coords['browser']['lat'] = position.coords.latitude;
                coords['browser']['lng'] = position.coords.longitude;
                
                $.cookie('location', JSON.stringify(coords), {path:'/'});
                
                var center = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(center);
              });
            }
          }
          return false;
        });
      }
      
    }
    
    $(document).ready(function(){
      initialize();
            
      $('#filters').css({top: $('#header').outerHeight(true) + $('#userdetails').outerHeight(true) + $('#toggle_filters').outerHeight(true)});
      
      $('#map_holder').append('<div id="spinner"><img class="spinner" src="/images/spinner.gif"></div>');
      $('#spinner').width(30);
      $('#spinner').css({
        'position':'absolute',
        'z-index':'10003',
      });
      $('#spinner').hide();
      
      $(window).resize(function() {
        $('#main_map').width($(window).width);
        $('#main_map').height($(window).height() - $('#header').outerHeight(true) - $('#footerbottom').height() - $('#userdetails').outerHeight(true));

        $('#location_drawer').css('left', $(window).width() - $('#location_drawer').outerWidth(true));
        $('#location_drawer').css('top', $('#header').outerHeight(true) + $('#userdetails').outerHeight(true));
        
        if ($('#locations').height() > 0) {
          $('#locations').height($('#main_map').height() - $('#toggle_locations').outerHeight(true));
        }
        
        if ($('#filters').height() > 0) {
          $('#filters').height($('#main_map').height() - $('#toggle_filters').outerHeight(true));
        }
        
        $('#current_location').css({
          'left': 3,
          'top': $('#header').outerHeight(true) + $('#userdetails').outerHeight(true) + $('#main_map').outerHeight(true) - $('#current_location').outerHeight(true) - 32,
        });
        
        $('#spinner').css({
          'left': 3,
          'top': $('#header').outerHeight(true) + $('#userdetails').outerHeight(true) + $('#main_map').outerHeight(true) - $('#current_location').outerHeight(true) - 62
        })
      });
      
      $(window).resize();
      $('#toggle_locations').height(23);
      $('#toggle_locations').css({padding:3,"border-left":"2px solid #C7C7C7","border-bottom":"2px solid #C7C7C7"});
      
      // Check for initial page state via delay
      var startState = JSON.parse($.cookie('page_state'));
      if (startState !== null && typeof startState["<%= @user.username %>"] !== "undefined") {
        if (typeof startState["<%= @user.username %>"]["showFilters"] !== "undefined" && startState["<%= @user.username %>"]["showFilters"] === true) {
          $(window).delay(1000).queue(function() {
            $('#show_filters').click();
            $(this).dequeue();
          });
        }
        if (typeof startState["<%= @user.username %>"]["location"] !== "undefined") {
          
          if (startState["<%= @user.username %>"]["location"] === "places") {
            $(window).delay(100).queue(function() {
              $('#show_places').click();
              $(this).dequeue();
            });
          } else if (startState["<%= @user.username %>"]["location"] === "photos") {
            $(window).delay(100).queue(function() {
              $('#show_photos').click();
              $(this).dequeue();
            });
          }
        }
      }
    });
  </script>
<% end %>

<div id="userdetails">
  <%= render :partial => "detail", :locals => {:user => @user} %>    
</div>
<div id="map_holder">
  <div id="filter_drawer">
    <div id="toggle_filters">
      <div id="hide_filters"><a href="/" id="hide_filters_click"><img src="/images/hide.png" class="hide"></a></div>
      <div>Explore <a id="show_filters" href="/">Categories</a></div>
    </div>
  </div>
  <div id="filters"></div>
  <div id="location_drawer">
    <div id="toggle_locations">
      <div id="hide_locations"><a href="/" id="hide_locations_click"><img src="/images/hide.png" class="hide"></a></div>
      <div>Explore <a id="show_places" href="/">Places</a> and <a id="show_photos" href="/">Photos</a></div>
    </div>
    <div id="locations">
    </div>
  </div>
  <div id="main_map"></div>  
</div>
