
<div class="grid_14">

    <div class="box_top">

        <h2 class="icon list"><%= @user.username %>'s <%= t("place.favorites") %></h2>

        <h3 class="right"><a href="#contents"><%= t("basic.top") %></a></h3>
    </div>

    <div class="box_content padding">
        <table class="sorting">
          <% @user.perspectives.each do |perspective|%>
                <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => :user} %>
          <% end %>
        </table>
    </div>
</div>


<div class="grid_10">

    <div class="box_top">
        <h2 class="icon user"><%= @user.username %></h2>

        <h3 class="right"><a href="#contents"><%= t("basic.top") %></a></h3>
    </div>

    <div class="box_content padding">
           <p>
              <b><%= t('basic.marks') %>:</b> <%= @user.perspectives.count %><br>
           </p>
    </div>
</div>

