
<div id="maincontent">
  <h1><%= @user.username %>'s <%= t("place.favorites") %></h1>

    <div class="box_content padding">
        <ul>
          <% @user.perspectives.each do |perspective|%>
              <li>
                <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => :user} %>
               </li>
          <% end %>
        </ul>
    </div>
</div>


<div id="nav">

  <div class="boxnav">
        <h3 class="titlenav"><%= @user.username %></h3>
        <div class="contentnav">
            <b><%= t('basic.marks') %>:</b> <%= @user.perspectives.count %><br>
          <b><%= t('user.following') %>:</b> <%= @user.following.count %><br>
          <b><%= t('user.followers') %>:</b> <%= @user.followers.count %><br>
            <div class="clear"></div>
        </div>
   </div>
</div>

