


  <table>
    <tr>
      <td>
        <%= image_tag @user.image_src %>
      </td>
      <td>
        <h1><%= @user.username %></h1>
        <%= @user.description %>
      </td>
      <td>
        <b><%= t('place.places') %>:</b> <%= @user.perspectives.count %><br>
        <a href="<%= following_user_path(@user) %>"><b><%= t('user.following') %>:</b> <%= @user.following.count %></a><br>
        <a href="<%= followers_user_path(@user) %>"><b><%= t('user.followers') %>:</b> <%= @user.followers.count %></a><br>
      </td>

    </tr>


  </table>


    <div class="box_content padding">
        <ul>
          <% @user.perspectives.order_by([:created_at, :desc]).each do |perspective|%>
              <li>
                <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => :user} %>
               </li>
          <% end %>
        </ul>
    </div>

