<% content_for :css do %>
  <style type="text/css">
  </style>
<% end %>

<% if @candidates.length == 0 %>
  Nothing to show this week
<% else %>
  <h1>Top 3</h1>
  <% @top3.each do |top| %>
    <p class="profile_pic_holder_email perspective_body"><img src="<%= top.user.thumb_url %>" class="profile_pic_email"></p>
    <p class="perspective_body"><%= top.user.username %></p>
    <p><%= top.place.name %></p>
    <p><%= top.memo %></p>
    <% top.pictures.each do |pic| %>
      <% if !pic.deleted %>
        <p><img src="<%= pic.mosaic_3_2_url %>" class="image_holder two_wide"></p>
        <% break %>
      <% end %>
    <% end %>
  <% end %>
  
  <% if @with_pics.length > 0 %>
    <h1 class="perspective_body">Have photos</h1>
    <ul>
    <% @with_pics.each do |perp| %>
      <% perp.pictures.each do |pic| %>
        <% if !pic.deleted %>
          <li><img src="<%= pic.thumb_url %>" class="info_pic_thumb"></li>
          <% break %>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  <% end %>
  
  <% if @guides.length > 0 %>
    <% @guides.each do |guide| %>
      <p><%= guide.username %></p>
    <% end %>
  <% end %>
  
  <h1 class="perspective_body">RAW DATA</h1>
  <% @candidates.each do |candidate| %>
    <h3><%= candidate[0].username %></h3>
    <% candidate[1].each do |perp| %>
      <p><%= perp["perp"].place.name %></p>
      <p>Pictures: <%= perp["pictures"] %></p>
      <p>Memo: <%= perp["memo"] %></p>
      <p>Mine: <%= perp["mine"] %></p>
      <p>Score: <%= perp["score"] %></p>
    <% end %>
    
  <% end %>
<% end %>