<% content_for :head do %>
    <title><%= t('user.change_password' )%></title>
<% end %>

<div class="auth_block" style="width:355px; float:left;">
  <div class="auth_header">
    <div class="auth_header_callout"><%= t('user.change_password' )%></div>
  </div>
  <div id="auth_form">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      
      <div class="field_group">
        <p class="auth_label emphasize"><%= f.label :password, t("user.new_password") %><br />
        <%= f.password_field :password, :class=>"auth_field" %></p>
      </div>
      <div class="field_group">
        <p class="auth_label emphasize"><%= f.label :password_confirmation, t("user.confirm_new_password") %><br />
        <%= f.password_field :password_confirmation, :class=>"auth_field" %></p>
      </div>      
      <div class="action_group">
        <p><%= f.submit t("user.change_my_password"), :class=>"submit password_submit" %></p>
      </div>
    <% end %>
  </div>
</div>