<div class="item">
  <div class="inner">
    <%= link_to image_tag(publisher_category.image_url(:thumb), :size => "150x100"), publisher_publisher_category_path(publisher_category.publisher, publisher_category), :class => "thumb" %></a>
    <div class="data">
      <h4><%= publisher_category.name %></h4>

      <p><%= publisher_category.tags.split(",").collect { |tag| raw "##{tag}" }.join(",") %></p>
      <ul class="actions">
        <li><%= link_to image_tag("publishers/led-ico/pencil.png"), publisher_publisher_category_path(publisher_category.publisher, publisher_category), :class => "ico" %></a></li>
        <li><%= link_to image_tag("publishers/led-ico/delete.png"), publisher_publisher_category_path(publisher_category.publisher, publisher_category), :method => "delete", :confirm => t("basic.are_you_sure"), :class => "ico" %></li>
      </ul>
    </div>
  </div>
</div>

