<% content_for :javascript_includes do %>
    <%= stylesheet_link_tag 'brown' %>
<% end %>


<div class="row-fluid" style="margin: 75px 0 15px 0;">

  <div id="box1" class="box box-100 span12"><!-- box full-width -->
    <div class="boxin">
      <div class="header">
        <h3>Listing publishers</h3>
      </div>
      <div id="box1-tabular" class="content"><!-- content box 1 for tab switching -->
        <form class="plain" action="" method="post" enctype="multipart/form-data">
          <fieldset>
            <table cellspacing="0">
              <thead><!-- universal table heading -->

              <tr>
                <td class="tc first">User</td>
                <td>Domain</td>
                <th>Categories</th>
                <td class="tc last">Actions</td>
              </tr>
              </thead>
              <tfoot><!-- table foot - what to do with selected items -->
              <tr>
                <td colspan="6" class="first last"><!-- do not forget to set appropriate colspan if you will edit this table -->
                  <%= link_to('New Publisher', new_publisher_path) if current_user.admin? %>
                </td>
              </tr>
              </tfoot>
              <tbody>

              <% @publishers.each_with_index do |publisher, i| %>
                  <tr <%= 'class="first"' if i==0 %> <%= 'class="even"' if i%2==0 %>>
                    <td><%= link_to publisher.user.username, publisher %></td>
                    <td><%= link_to publisher.domain, publisher.domain %></td>
                    <td><%= publisher.publisher_categories.collect { |pub| pub.name }.join(",") %></td>
                    <td class="tc last"><!-- action icons - feel free to add/modify your own - icons are located in "css/img/led-ico/*" -->
                      <ul class="actions">
                        <li><%= link_to image_tag('publishers/led-ico/magnifier.png'), publisher, :class => "ico" %>
                        <li><%= link_to image_tag('publishers/led-ico/pencil.png'), edit_publisher_path(publisher), :class => "ico" %>
                      </ul>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </fieldset>
        </form>
      </div>
      <!-- .content#box-1-holder -->
    </div>
  </div>

</div>