<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @publisher.user.username %>
</p>

<p>
  <b>Categories:</b>
  <%= @publisher.categories %>
</p>

<p>
  <b>Css:</b>
  <%= @publisher.css %>
</p>

<p>
  <b>Footerpng:</b>
  <%= @publisher.footerpng %>
</p>

<p>
  <b>Wellpng:</b>
  <%= @publisher.wellpng %>
</p>

<p>
  <b>Liquid:</b>
  <%= @publisher.liquid %>
</p>


<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
