<div class="left_place_column" style="">
  <div class="win_votes"><%= place.perspective_count %></div>
  <%= t 'place.placemarks' %>
</div>

<div class="center_place_column">
  <span class="place_name"><%= link_to place.name, place %></span>

  <div class="address_text">
    <%= place.street_address %>&nbsp;|&nbsp;<%= place.city_data %>
  </div>
</div>

<div class="right_place_column">
  <% if !current_user || !current_user.perspective_for_place(place) %>
      <div class="save_place_button" id="<%= place.id %>">
        <a rel="nofollow" data-remote="true" href="<%= new_place_perspective_path(place) %>"><%= t 'question.save_this_place' %></a>
      </div>
  <% end %>
</div>

<div class="question_clear"></div>