<% content_for :head do %>
    <title><%= t('home.marketing') %></title>
    <meta name="description" content="<%= t('home.description') %>">
    <meta property="og:title" content="Placeling"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.placeling.com"/>
    <meta property="og:image" content="<%= asset_path("screenshot.png") %>"/>
<% end %>

<% content_for :javascript do %>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#facebook").hover(
                    function () {
                        $(this).attr("src", '<%= path_to_image("home/facebook_hover.png") %>');
                    },
                    function () {
                        $(this).attr("src", '<%= path_to_image("home/facebook.png") %>');
                    }
            );
            $("#twitter").hover(
                    function () {
                        $(this).attr("src", '<%= path_to_image("home/twitter_hover.png") %>');
                    },
                    function () {
                        $(this).attr("src", '<%= path_to_image("home/twitter.png") %>');
                    }
            );
            $("#blog").hover(
                    function () {
                        $(this).attr("src", '<%= path_to_image("home/tumblr_hover.png") %>');
                    },
                    function () {
                        $(this).attr("src", '<%= path_to_image("home/tumblr.png") %>');
                    }
            );
        });
    </script>
<% end %>

<div id="admin_header">
  <div class="component_holder">
    <div class="header_component right_spacer">
      <div><%= image_tag "home/glyphs/content.png", :alt=>"Content", :class=>"image_button" %></div>
      <div class="component">content</div>
    </div>
    <div class="header_component right_spacer">
      <div><%= image_tag "home/glyphs/pin.png", :alt=>"Location", :class=>"image_button" %></div>
      <div class="component">location</div>
    </div>
    <div class="header_component">
      <div><%= image_tag "home/glyphs/iphone.png", :alt=>"Mobile", :class=>"image_button" %></div>
      <div class="component">mobile</div>
    </div>
  </div>
  <div class="header_tagline">
    Mobilize &amp; Monetize
  </div>
</div>
<div class="promise">
  Location-enable your content to win mobile readers and monetize better
</div>
<div id="main_content" class="main_spacer">
  <div id="wordpress_options">
    <div class="center_image"><a href="<%= bloggers_path %>"><%= image_tag "home/features/wordpress_iphone.png", :alt=>"WordPress" %></a></div>
    <div class="option_detail"><%= link_to 'Extend WordPress To Guide Readers To Nearby Places', bloggers_path, :class=>"option_link" %></div>
  </div>
  <div id="publishing_options">
    <div class="center_image bottom_padder"><%= image_tag "home/features/iphone_indie.png", :alt=>"Publishers" %></div>
    <div class="option_detail"><%= link_to 'Publishers: Turn Your Local Content Into A Sponsored Guide', publisher_path, :class=>"option_link" %></div>
  </div>
</div>


<div id="homepage_finish">
  <div id="finish_options">
    We'd Like To Help: <%= mail_to "contact@placeling.com", "Email us", :encode => "javascript" %>
    <span id="stay_in_touch">Stay in touch:</span>
    <span class="social_connect"><a href="http://www.facebook.com/placeling"><%= image_tag "home/facebook.png", :alt => "FB", :id => "facebook" %></a></span>
    <span class="social_connect"><a href="https://www.twitter.com/placeling"><%= image_tag "home/twitter.png", :alt => "Twitter", :id => "twitter" %></span>
    <span class="social_connect"><a href="http://blog.placeling.com"><%= image_tag "home/tumblr.png", :alt => "Blog", :id => "blog" %></a></span>
  </div>
</div>
