<% content_for :head do %>
    <title><%= t('home.marketing') %></title>
    <meta name="description" content="<%= t('home.description') %>">
    <meta property="og:title" content="Placeling"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.placeling.com"/>
    <meta property="og:image" content="<%= asset_path("screenshot.png") %>"/>
<% end %>


<div id="admin_header">
  <div class="component_holder">
    <div class="header_component right_spacer">
      <div><%= image_tag "home/glyphs/content.png", :alt=>"Content", :class=>"image_button" %></div>
      <div class="component">content</div>
    </div>
    <div class="header_component right_spacer">
      <div><%= image_tag "home/glyphs/pin.png", :alt=>"Location", :class=>"image_button" %></div>
      <div class="component">location</div>
    </div>
    <div class="header_component">
      <div><%= image_tag "home/glyphs/iphone.png", :alt=>"Mobile", :class=>"image_button" %></div>
      <div class="component">mobile</div>
    </div>
  </div>
  <div class="header_tagline">
    Mobilize &amp; Monetize
  </div>
</div>
<div class="promise">
  Thanks Everyone!
</div>
<div id="main_content" class="main_spacer">
  We out!
</div>


<div id="homepage_finish">
  <div id="finish_options">
    You can get your shit out here:
  </div>
</div>
