<% content_for :head do %>
  <title><%= t('home.marketing') %></title>
  <meta name="description" content="<%= t('home.description')%>">
  <meta property="og:title" content="Placeling" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.placeling.com" />
  <meta property="og:image" content="https://www.placeling.com/images/logo.png" />
<% end %>

<div id="promo_holder">
  <div id="blogger">
    <p class="tease"><%= t('admin.blogger')%>?</p>
    <p class="promo"><%= t('admin.tool')%>. <%= link_to(t('admin.learn'), bloggers_path) %></p>
  </div>
  <div id="promo_shot">
    <%= image_tag "iphone.png", :alt=>"iPhone"%>
  </div>
  <div id="promo_text">
    <div id="promo_logo">
      <%= image_tag "full_logo.png", :alt=>"Placeling: #{t('admin.slogan')}" %>
    </div>
    <div id="marketing_text">
      <p><%= t('admin.marketing_text_1')%></p>
      <p><%= t('admin.marketing_text_2')%></p>
      <p><%= t('admin.marketing_text_3')%></p>
    </div>
    <div id="call_to_action">
      <a href="/app"><%= image_tag "download.png", :alt=>"Download", :class=>"download_image" %></a>
    </div>
  </div>
</div>
