<% content_for :javascript do %>
    <script type="text/javascript">
        $(document).ready(function () {

            // Handling with grid views (adding first and last classes for borders and adding alternate bgs)
            $('.grid .line:even').addClass('even');
            $('.grid .line:first-child').addClass('firstline');
            $('.grid .line:last-child').addClass('lastline');
            // Tabs switching
            $('.content#box2-list').hide(); // hide content related to inactive tab by default
            $('.header ul a').click(function () {
                $('#box1 .header ul a').removeClass('active');
                $(this).addClass('active'); // make clicked tab active
                $('#box1 .content').hide(); // hide all content
                $('#box1').find('#' + $(this).attr('rel')).show(); // and show content related to clicked tab
                return false;
            });
        });
    </script>
<% end %>

<div class="row-fluid" style="margin: 75px 0 15px 0;">
  <div id="box1" class="box span12">
    <div class="boxin">
      <div class="header">
        <h3><%= t 'publisher.module' %></h3>

        <ul>
          <li><a rel="box1-basics" href="#" class="active"><%= t 'publisher.basics' %></a></li>
          <li><a rel="box2-list" href="#" class=""><%= t 'publisher.list_template' %></a></li>
        </ul>
      </div>

      <%= form_for [@publisher_category.publisher, @publisher_category.becomes(PublisherCategory)], :as => :publisher_category, :html => {:multipart => true} do |f| %>
          <% f.object = @publisher_category.becomes(@publisher_category.class) %>
          <div id="box1-basics" class="content">
            <% if @publisher_category.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@publisher_category.errors.count, "error") %> prohibited this publisher_category
                    from being
                    saved:</h2>

                  <ul>
                    <% @publisher_category.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <dl>
              <dt><%= f.label :name %></dt>
              <dd>
                <%= f.text_field :name, :class => "txt" %>
              </dd>
            </dl>

            <dl>
              <dt><%= f.label :tags %></dt>
              <dd>
                <%= f.text_field :tags, :class => "txt" %>
              </dd>
            </dl>

            <dl>
              <dt><%= f.label :description %></dt>
              <dd>
                <%= f.text_area :description, :class => "txt", :style => "width:90%;height:100px" %>
              </dd>
            </dl>


            <dl>
              <dt><%= f.label :image %></dt>
              <dd>
                <%= f.file_field :image %>
              </dd>

              <%= image_tag(@publisher_category.thumb_url) if @publisher_category.image? %>
              <p>
                <label>
                  <%= f.check_box :remove_image %>
                  <%= t 'publisher.remove_image' %>
                </label>
              </p>
            </dl>
          </div>
          <div id="box2-list" class="content">
            <dl>
              <dt><%= f.label :list_liquid_template %></dt>
              <dd>
                <%= f.text_area :list_liquid_template, :class => "txt", :style => "width:90%;height:500px" %>
              </dd>
            </dl>
          </div>

          <%= f.submit :class => "button" %>

      <% end %>

    </div>
  </div>

</div>
