<div class="left_place_column" style="">
  <%= link_to image_tag(upvote_icon(answer, current_user, request.session_options), :size => "50x50", :class=>"up_vote"), upvote_question_answer_path(answer.question, answer),
              :class => "up_vote", :remote => true, :method => :post %>
  <span class="win_votes"><%= answer.upvotes %></span>
</div>

<div class="center_place_column">
  <span class="place_name"><%= link_to answer.place.name, answer.place %></span>

  <div class="address_text">
    <% if answer.place.street_address %>
      <%= answer.place.street_address %>
    <% end %>
  </div>

  <ul class="answer_comments">
    <% answer.answer_comments.each do |answer_comment| %>
        <%= render :partial => "../answers/answer_comment", :locals => {:answer_comment => answer_comment} %>
    <% end %>
  </ul>

  <% if current_user %>
      <div class="answer_comment" style="display:none;">
        <%= form_for AnswerComment.new, :url => comment_question_answer_path(answer.question, answer) do |f| %>
            <%= image_tag current_user.thumb_url, :class => "user_pic comment_user_pic" %>
            <%= f.text_field :comment, :placeholder => t('question.type_comment'), :class => "answer_comment_textfield" %><%= f.submit :style => "display:none;" %>
        <% end %>
      </div>
      <div class="comment_button_holder">
        <%= link_to image_tag(asset_path("comment.png"), :class=>"comment_glyph"), new_user_session_path, :class=>"comment_link" %><%= link_to t('question.comment'), new_user_session_path, :class=>"comment_link comment_action" %>
      </div>
  <% else %>    
    <div class="comment_button_holder">
      <%= link_to image_tag(asset_path("comment.png"), :class=>"comment_glyph"), new_user_session_path %><%= link_to t('question.comment'), new_user_session_path, :class=>"comment_action" %>
    </div>
  <% end %>
</div>

<div class="question_clear"></div>