<li class="tour_perspective" id="p_<%= perspective.id %>">
  <div class="tour_place_count"></div>
  <div class="tour_lat"><%= perspective.place.loc[0] %></div>
  <div class="tour_lng"><%= perspective.place.loc[1] %></div>
  <div class="tour_place_name"><%= perspective.place.name %></div>
  <% if !perspective.tags.nil? && perspective.tags.length > 0 %>
  <ul class="tour_tags_holder">
    <% perspective.tags.each do |tag| %>
    <li class="tour_tags">
        #<%= tag %>
    </li>
    <% end %>
  </ul>
  <% end %>
  <% if perspective.memo %>
    <div class="clear_both"><%= simple_format_with_tags(perspective.short_memo, :class=>"tour_memo") %></div>
  <% end %>
  <% if perspective.active_photos.length > 0 %>
  <div class="tour_pics">
    <% perspective.active_photos.each_with_index do |picture, counter| %>
      <% if counter < 3 %>
      <div class="tour_info_pic"><img class="tour_info_pic_thumb" src="<%= picture.mosaic_3_1_url %>"></div>
      <% end %>
    <% end %>
    <% if perspective.active_photos.length > 3 %>
      <div class="tour_more_pics">+ <%= perspective.active_photos.length - 3 %> more</div>
    <% end %>
  </div>
  <div class="photo_clear"></div>
  <% end %>
</li>