<div><%= f.label(:name, t('tour.name'), :class=>"tour_instructions") %></div>
<div><%= f.text_field(:name, :class=>"tour_input_box") %></div>
<div class="tour_instructions"><%= f.label(:name, t('tour.describe'), :class=>"tour_instructions") %></div>
<div><%= f.text_area :description, :size => "60x3", :class=>"tour_input_box" %></div>
<div class="tour_instructions"><%= f.label(:center, t('tour.bounds'), :class=>"tour_instructions") %></div>
<div class="tour_instructions mini_tour_instructions"><%= t('tour.square') %></div>
<div id="tour_map_holder">
  <div id="tour_map"></div>
</div>
<div><%= hidden_field_tag(:center_lat) %></div>
<div><%= hidden_field_tag(:center_lng) %></div>
<div><%= f.hidden_field :zoom %></div>
<div><%= hidden_field_tag(:northeast_lat) %></div>
<div><%= hidden_field_tag(:northeast_lng) %></div>
<div><%= hidden_field_tag(:southwest_lat) %></div>
<div><%= hidden_field_tag(:southwest_lng) %></div>
<div class="tour_submit_holder">
  <% if request.path == new_user_tour_path(user) %>
  <%= f.submit t('tour.create'), :class=>"submit" %>
  <% else %>
  <%= f.submit t('tour.update'), :class=>"submit" %>
  <% end %>
</div>