<% content_for :head do %>
    <title><%= @user.username %>'<% if !(@user.username[@user.username.length - 1] == 's') %>s<% end %> <%= t('tour.tours')%></title>
    <meta name="description" content="<%= t('tour.index_description') %>"/>
    <meta property="og:title" content="<%= t('tour.og_name', {:user => @user.username }) %>"/>
    <meta property="og:url" content="<%= user_tours_url(@user) %>"/>
    <meta property="og:image" content="<%= @user.main_url %>"/>
    <meta property="og:description" content="<%= t('tour.index_description') %>"/>
<% end %>

<div id="tours_wrapper">
  <div class="index_tour_user">
    <a href="<%= user_path(@user) %>"><%= image_tag @user.thumb_url, :alt=>"Profile Pic", :class =>"styled_pic", :id=>"index_tour_avatar" %></a> <%= link_to(@user.username, user_path(@user)) %>'<% if !(@user.username[@user.username.length - 1] == 's') %>s<% end %> <%= t('tour.tours')%>
  </div>
  <div id="tour_list">
    <% if @tours.length == 0 %>
      <div class="no_tours"><%= t('tour.no_tours') %>.</div>
    <% else %>
      <% @tours.each do |tour| %>
        <div class="index_tour">
          <div class="index_tour_name"><%= link_to(tour.name, user_tour_path(tour.user, tour), :class=>"index_tour_name")%></div>
          <div class="index_tour_description"><%= tour.description %></div>
          <div class="index_tour_place_count">
          <%= tour.active_perspectives.length %> place<% if tour.active_perspectives.length != 1%>s<% end %>
          <% if @user == current_user %>
          | <%= link_to(t('tour.edit_label'), edit_user_tour_path(tour.user, tour))%> | <%= link_to(t('tour.delete'), user_tour_path(tour.user, tour), :confirm => t('tour.delete_confirm'), :method => :delete )%>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>