<% content_for :head do %>
    <title><%= t('tour.add_places_title') %></title>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    function updateMap() {
      var html = '<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @tour.center[0] %>,<%= @tour.center[1] %>&zoom=<% if @tour.zoom != 1 %><%= @tour.zoom - 1 %><% else %><% @tour.zoom %><% end %>';
      $("#selected_list .tour_perspective").each(function(index, value) {
        var counter = index + 1;
        html += '&markers=label:' + counter + '%7Ccolor:0xdd5e50%7C' + $(this).find(".tour_lat").first().text() + ',' + $(this).find(".tour_lng").first().text()
      });
      
      html += '&size=382x382&maptype=roadmap&sensor=false" class="target_map">'
      
      $('#tour_map').html(html);
      
      // Get all the relevant places and iterate over them with an index
      $('#selected_list .tour_perspective').each(function(index) {
        if (index < 9) {
          $('.tour_place_count', this).html('<%= image_tag asset_path('tours/odd_banner.png'), :class=> "tour_place_count_background" %><div class="tour_place_counter">' + (index + 1) + "</div>");
        } else {
          $('.tour_place_count', this).html('');
        }
      });
      
      // If counter < 9, prepend a div that floats left
      
      
      
      if ($("#selected_list .tour_perspective").length > 9) {
        $('#tour_warning').fadeIn(100);
      } else {
        $('#tour_warning').fadeOut(100);
      }
    }
    
    $(window).imagesLoaded(function() {
      var initHeight = $('#selected_places').height();
      $("#selected_list").height($("#available_places").height() + initHeight);
    });
    
    $(document).ready(function(){
      $("#selected_list, #available_list" ).sortable({
        connectWith: ".connectedSortable",
        stop: function(event, ui) {
          updateMap();
        }
      }).disableSelection();
      
      $('#places_map').css({'top':$('#available_places').offset().top + parseInt($('#places_map').css('border-width'))});//  - $(window).scrollTop()});
      
      $(window).scroll(function() {
        if ($('#available_places').offset().top + 9 - $(window).scrollTop() > 29) {
          $('#places_map').css({'top':$('#available_places').offset().top + 9 - $(window).scrollTop()});
        } else {
          $('#places_map').css({'top':29});
        }
      })
      
      $('#available_list').bind("sortstart", function(event, ui) {
        $('#selected_list').css({'background-image':'url(<%= asset_path 'opaque_red_tile.png' %>)'});
      });
      
      $('#available_list').bind("sortstop", function(event, ui) {
        $('#selected_list').css({'background-image':'url(<%= asset_path 'opaque_white_tile.png' %>)'});
      });
      
      $('.submit').click(function(e){
        var html = "";
        
        $('#selected_list .tour_perspective').each(function(index, value) {
          var persp = $(this).attr('id').substr(2);
          html += '<input id="perspectives_" name="perspectives[]" type="hidden" value="' + persp + '"/>'
        });
        
        $('#tour_perspective_holder').html(html);
      });
      
      $('#show_tags').click(function(e) {
        e.preventDefault();
        if ($('#show_tags_check').is(':checked')) {
          $('#show_tags_check').attr('checked', false);
          $('.tour_tags_holder').fadeOut(100);
        } else {
          $('#show_tags_check').attr('checked', true);
          $('.tour_tags_holder').fadeIn(100);
        }
        return false;
      })
      
      $('#show_tags_check').change(function() {
        if ($(this).is(':checked',false)) {
          $('.tour_tags_holder').fadeIn(100);
        } else {
          $('.tour_tags_holder').fadeOut(100);
        }
      });
      
      $('#show_photos').click(function(e) {
        e.preventDefault();
        if ($('#show_photos_check').is(':checked')) {
          $('#show_photos_check').attr('checked', false);
          $('.tour_pics').fadeOut(100);
        } else {
          $('#show_photos_check').attr('checked', true);
          $('.tour_pics').fadeIn(100);
        }
        return false;
      })
      
      $('#show_photos_check').change(function() {
        if ($(this).is(':checked',false)) {
          $('.tour_pics').fadeIn(100);
        } else {
          $('.tour_pics').fadeOut(100);
        }
      });
      
      $('#show_notes').click(function(e) {
        e.preventDefault();
        if ($('#show_notes_check').is(':checked')) {
          $('#show_notes_check').attr('checked', false);
          $('.tour_memo').fadeOut(100);
        } else {
          $('#show_notes_check').attr('checked', true);
          $('.tour_memo').fadeIn(100);
        }
        return false;
      })
      
      $('#show_notes_check').change(function() {
        if ($(this).is(':checked',false)) {
          $('.tour_memo').fadeIn(100);
        } else {
          $('.tour_memo').fadeOut(100);
        }
      });
      
      updateMap();
    });
    
  </script>
<% end %>

<div id="places_instructions">
  <h1><%= t('tour.add_places') %><span class="tour_name"><%= @tour.name %></span></h1>
  <%= t('tour.drag') %>
  <div id="places_filters"><%= t('tours.show') %>: <input type="checkbox" id="show_tags_check" checked="yes" /><a href="#" id="show_tags"><%= t('tour.tags') %></a> <input type="checkbox" id="show_photos_check" checked="yes" /><a href="#" id="show_photos"><%= t('tour.photos') %></a> <input type="checkbox" id="show_notes_check" checked="yes" /><a href="#" id="show_notes"><%= t('tour.notes') %></a></div>
</div>
<div id="available_places">
  <ul id="available_list" class="connectedSortable">
  <% @perspectives.each_with_index do |perspective, i| %>
    <%= render :partial => "perspective", :locals => {:perspective => perspective, :i => i} %>
  <% end %>
  </ul>
</div>
<div id="selected_places">
  <ul id="selected_list" class="connectedSortable">
    <% @tour.active_perspectives.each_with_index do |perspective, i| %>
      <%= render :partial => "perspective", :locals => {:perspective => perspective, :i => i} %>
    <% end %>
  </ul>
  <div>&nbsp;</div>
</div>

<div id="places_map">
  <div id="tour_map">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @tour.center[0] %>,<%= @tour.center[1] %>&zoom=<% if @tour.zoom != 1 %><%= @tour.zoom - 1 %><% else %><% @tour.zoom %><% end %>&size=382x382&maptype=roadmap&sensor=false" class="target_map">
  </div>
  <div id="tour_warning">
    <p><%= t('tour.warn_count') %></p>
    <p id="mini_warning"><%= t('tour.warn_mini') %></p>
  </div>
  
  <%= form_for @tour, :url => {:action => "update_places"} do |f| %>
    <div id="tour_perspective_holder"></div>
    <div class="tour_submit_holder tour_places_submit_holder">
      <div><%= f.submit t('tour.preview'), :class=>"submit" %></div>
      <div class="tour_edit_link_holder"><%= link_to t('tour.update_map'), edit_user_tour_path(@tour.user, @tour), :class=>"tour_edit_link" %></div>
    </div>
  <% end %>
  
  
</div>

