<% if @potential_perspective.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@potential_perspective.errors.count, "error") %> <%= t'potential_perspective.error2' %></h2>

    <ul>
    <% @potential_perspective.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
  <p class="instruction"><%= t'potential_perspective.new' %></p>
  <%= form_for ([@user, @potential_perspective], :url => user_inprogres_path) do |f|%>
    <div>
      <%= f.text_field :name, :class => "place_input"%>
    </div>
    <div id="accordion">
      <% @categories.keys().sort.each do |category| %>
        <h3><a href="#"><%= category %></a></h3>
        <div>
          <% @categories[category].keys().sort.each do |friendly_term|%>
            <p><input class="radio" type="checkbox" name="in_progress_perspective[venue_types][]" value="<%= friendly_term %>"/><span class="radio_text"><%= friendly_term %></span></p>
          <% end %>
        </div>
      <% end %>  
    </div>
    <div id="create">
      <%= f.submit :class => 'button', :value => 'create'%>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
  <script src="/javascripts/jquery-ui-1.8.13.custom.min.js" type="text/javascript"></script>
  <script type='text/javascript'>
    $(function() {
      $( "#accordion" ).accordion({ collapsible: true, autoHeight: false, active:false });
    });
  </script>
<% end %>