<% content_for :head do %>
  <title><%= t('user.sign_in') %></title>
<% end %>

<% content_for :javascript_includes do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.first_field').focus();
    });
  </script>
<% end %>

<div class="auth_block" style="width:355px">
  <div class="auth_header">
    <div class="auth_header_callout"><%= t('user.sign_in') %></div>
     <div><%= t('user.register_prompt') %> <%= link_to t('user.sign_up'), new_user_registration_path, :class=>"register_link" %></div>
  </div>
  <div id="auth_form">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="field_group">
        <p class="auth_label"><%= f.label t('basic.username'), :class=>"emphasize" %></p>
        <p><%= f.text_field :login, :class=>"auth_field first_field", :tabindex=>1 %></p>
      </div>
      <div class="field_group">
        <p class="auth_label"><%= f.label t('basic.password'), :class=>"emphasize" %> <%= link_to t('user.forgot_password'), new_user_password_path, :class => "reset_password" %></p>
        <p><%= f.password_field :password, :class=>"auth_field", :tabindex=>2 %></p>
      </div>
      <div class="action_group">
      <% if devise_mapping.rememberable? -%>
        <div class="remember_me"><%= f.check_box :remember_me, {:tabindex=>3, :checked => true} %> <%= f.label t('user.remember_me') %></div>
      <% end -%>
        <div class="action"><%= f.submit t("user.sign_in"), :class=>"button", :tabindex=>4 %></div>
      </div>
    <% end %>
  </div>
  <hr>
  <div style="padding-top: 10px;border-top: 2px black; text-align: center">
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook/fb-connect-large.png", :width => 200, :alt => "Connect with Facebook" %>
    </a>
  </div>
</div>