<% content_for :head do %>
  <title><%= t("oauth.auth_access_account") %></title>
<% end %>

<% content_for :css do %>
  li.permission_list{
    margin-left: 20px;
  }

<% end %>

<div id="content_holder">
    <div class="title"><%= t("oauth.auth_access_account") %></div>
    <%= raw t("oauth.would_you_authorize", {:app_name=>link_to( @token.client_application.name,@token.client_application.url )}) %>
    <p><%= t("oauth.access_to") %></p>
    <ul style="list-style-type:disc;">
        <li class="permission_list"><%= t("oauth.access.edit_placemarks") %></li>
        <li class="permission_list"><%= t("oauth.access.followers") %></li>
    </ul>

    <%= form_tag authorize_url do %>
      <%= hidden_field_tag "oauth_token", @token.token %>
      <%- if params[:oauth_callback] -%>
      <%= hidden_field_tag "oauth_callback", params[:oauth_callback] %>
      <%= hidden_field_tag "authorize", '1' %>
    <%- end -%>

    <div class="actions" style="float:left;">
      <input id="user_submit" type="submit" value="<%= t("oauth.authorize_access") %>" name="commit">
    </div>
    <% end %>
</div>

