<li id="perspective_<%=perspective.id %>">
  <ul class="newsinfo">
    <li class="first"><%= link_to perspective.user.username, user_path(perspective.user)   %></li>
    <li><%= perspective.updated_at %></li>
    <li class="last"> <%= perspective.tags.join(",") unless perspective.tags.nil? %></li>
   </ul>

    <p><%= perspective.memo %></p>

</li>