<div class="interact star">
  <% if current_user != perspective.user %>
    <% if !perspective.memo.nil? && perspective.memo.length > 0 || perspective.pictures.length > 0 %>
      <% if source == "place_page" %>
        <div class="placemark_it">
      <% end %>
        <% if current_user && perspective.su.include?(current_user.id) %>
          <a rel="nofollow" data-remote="true" data-method="post" href="<%= unstar_perspective_path(perspective) %>" class="star_link">
            <%= image_tag "starred.png", :alt=>"Unstar", :class=>"star_image"%>
          </a>
        <% else %>
          <a rel="nofollow" data-remote="true" data-method="post" href="<%= star_perspective_path(perspective) %>" class="star_link">
            <%= image_tag "unstarred.png", :alt=>"Star", :class=>"star_image" %>
          </a>
        <% end %>
      <% if source == "place_page" %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <a href="<%= edit_perspective_path(perspective) %>"><img src="/images/writer.png"></a>
  <% end %>
</div>
<div class="detail">
  <div class="name">
    <% if source == "place_page" %>
      <% if current_user != perspective.user %>
        <%= image_tag perspective.user.thumb_url, :alt=>"Pic", :class =>"styled_mini" %>
        <%= link_to perspective.user.username, user_path(perspective.user), :class => "username_link" %>
      <% end %>
    <% elsif source == "place_page_empty" %>
<%
=begin
Edge case here: we use the :back symbol to get the user to prior page after an edit
If user has added text from place page, source will still be "place_page_empty" but content will no longer be empty
=end
%>
      <% if (perspective.memo.nil? || perspective.memo.length == 0) && perspective.pictures.length == 0 %>
        <%=h t("perspective.enter_text") %> <%=h perspective.place.name %>
      <% end %>
    <% else %>
      <%= link_to perspective.place.name, place_path(perspective.place) %>
      <div class="geo_info">
        <p class="latitude"><%= perspective.place.location[0] %></p>
        <p class="longitude"><%= perspective.place.location[1] %></p>
        <p class="distance"></p>
      </div>
    <% end %>
  </div>
  <% if !perspective.memo.nil? && perspective.memo.length > 0 %>
    <div class="memo_wrapper">
      <%= simple_format(perspective.memo, :class=>"memo") %>
    </div>
  <% end %>
  <% if perspective.pictures.length > 0 %>
    <div class="lightboxGallery perspective_gallery">
    <% perspective.pictures.each_with_index do |photo, i| %>
      <% if !photo.deleted %>
        <div class="photo"><a href="<%= photo.main_url %>" class="lightbox"><%= image_tag photo.thumb_url, :class => "styled_pic perspective_photo" %></a></div>
      <% end %>
    <% end %>
    </div>
    <div class="image_clear"></div>
  <% end %>
  <div class="perspective_footer <% if !perspective.memo.nil? && perspective.memo.length > 0 || perspective.pictures.length > 0 %>footer_spacer<% end %>">
    <span class="footer_elements footer_text_elements updated">
      <%=t('perspective.last_updated') %> <%= perspective.updated_at.strftime('%B %d, %Y') %>
    </span>
    <% if !perspective.memo.nil? && perspective.memo.length > 0 || perspective.pictures.length > 0 %>
    <span class="twitter footer_elements">
      <a href="https://twitter.com/share?url=http://www.placeling.com<%= perspective_path(perspective) %>&text=<%= u perspective.place.name %>%20by%20<%= u perspective.user.username %>" onclick="var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document;window.open(this.href, '', 'left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"><%= image_tag "twitter.png", :alt=>"tweet", :class=>"share" %></a>
    </span>
    <span class="facebook footer_elements">
      <a href="<%= perspective_path(perspective) %>" onclick="javascript:var d=document,f='https://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1323211438&u='+e('http://www.placeling.com<%= perspective_path(perspective) %>')+'&t='+e('<%= u perspective.place.name %>%20by%20<%= u perspective.user.username %>');1;try{if (!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z) {a=function() {if (!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if (/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0);return false"><%= image_tag "facebook.png", :alt=>"share on facebook", :class=>"share" %></a>
    </span>
    <span class="footer_elements">
      <a href="http://www.placeling.com<%= perspective_path(perspective) %>" onclick="javascript:return false;" class="email"><%= image_tag "email.png", :alt=>"email", :class=>"share" %></a>
    </span>
    <% end %>
    <span class="footer_elements footer_text_elements">
      <% if current_user == perspective.user %>
          <%= link_to 'Delete', perspective, :confirm => 'Are you sure?', :method => :delete %>
      <% else %>
          <%= link_to(t('perspective.flag'), flag_perspective_path(perspective), :confirm =>t('perspective.flag_confirm'), :method=>"post", :remote=>"true")%>
      <% end %>
    </span>
  </div>
</div>