<% content_for :head do %>
  <title><%= t('perspective.edit_title') %></title>
<% end %>

<% content_for :javascript_includes do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.hidden_image').each(function(){
        if ($('.hidden_status', this).attr("value") == "false") {
          $(this).prepend('<img src="'+ $('.hidden_url', this).attr("value") + '" class="styled_pic perspective_photo">')
        }
        if ($('.hidden_status', this).attr("value") == "true") {
          $(this).remove();
        }
      });
      $('#add_picture').click(function(e){
        e.preventDefault();
        
        var exists = false;
        var entry_field = $('.new_pic');
        
        if (entry_field.length > 0) {
          var last = $('.new_pic').last();
          if ($('.new_pic').last().val() == "") {
            exists = true;
          }
        }
        
        if (exists === false) {
          var now = new Date().getTime();
          $('#new_pictures').append('<p class="added_photo"><input class="new_pic" id="perspective_pictures_attributes_' + now + '_image" type="file" name="perspective[pictures_attributes]['+ now + '][image]"> <a href="/" id="' + now + '_remove">' + "<%= t('perspective.remove') %>" + '</a></p>');
          var remove = '#' + now + '_remove';
          $(remove).click(function(e) {
            e.preventDefault();
            $(this).parent().empty();
          })
        }
      });
      $('input:submit').click(function() {
        $('input:submit').attr("disabled", true);
        $(this).parents('form').submit();
      });
    });
  </script>
<% end %>

<div class="edit_block">
  <div class="edit_action"><%= t('perspective.edit_call_to_action') %> <span class="emphasize"><%= @perspective.place.name %></span></div>
  <%= form_for @perspective, :html => {:multipart => true} do |f| %>
    <div class="field">
      <%= f.text_area :memo, :class => "edit_area" %>
    </div>
    <input type="hidden" name="url" value="<%= request.referer %>">
    <div class="picture_holder">
      <div id="existing_pictures">
        <% f.fields_for :pictures do |builder| %>
            <div class="hidden_image narrow_photo"><%= builder.hidden_field :deleted, :class => "hidden_status" %><%= builder.hidden_field :thumb_url, :class => "hidden_url" %>
              <p class="center"><%= builder.check_box :_destroy %> <%= builder.label :_destroy, "Remove" %></p>
            </div>
        <% end %>
      </div>
      <div class="image_clear"></div>
      <div id="new_pictures">
        <p><a href="/" id="add_picture">Add a photo</a></p>
      </div>
    </div>
    <div class="actions">
      <span class="cancel"><a href="<%= request.referer %>"><%= t ('perspective.cancel') %></a></span> <input id="user_submit" type="submit" value="<%= t('perspective.save_changes') %>" name="commit">
    </div>
  <% end %>
</div>