<div id="user_<%= perspective.user.id %>" class="user_summary">
  <div class="preview_user_thumb">
    <img id="<%= perspective.user.id %>_thumb" class="tiny_styled_thumb" src="<%= perspective.user.thumb_url %>" alt="<%= perspective.user.username %>"/>
  </div>
  <div class="tiny_user_info">
    <div class="perspective_text" style="width:100%">
      <%= raw t('aggregation.says', :name => link_to(perspective.user.username, user_path(perspective.user))) %>
    </div>
    <div class="perspective_text">
      <%= perspective.memo %>
    </div>
  </div>
</div>