<div id="user_<%= user.id %>" class="user_summary">
  <div class="user_thumb">
    <img id="<%= user.id %>_thumb" class="styled_thumb" src="<%= user.thumb_url %>" alt="<%= user.username %>"/>
  </div>
  <div class="user_info">
    <div class="detail_username" style="width:100%">
      <%= link_to user.username, user_path(user) %>
    </div>
    <div>
      <%= t 'aggregation.places_here', :pc => user.perspective_count %>
    </div>
    <div>
      <%= user.description %>
    </div>
  </div>
</div>