<div class="row-fluid">
  <div class='span3 hidden-phone'></div>
  <div class="span5">
    <table class="table table-striped">

      {% for place in places %}
          <tr id="{{ place.slug }}">
            <td style="border-top:1px solid black;">
              <span class="place_name">{{ place.name }}</span>
              <br>
              <span class="place_address">{{ place.street_address }}</span>
              <br>

              <div style="display: block;width:100%">
                <div class="place_tags" style="float:left;">
                  {{ place.tags }}
                </div>
              </div>
                  <div class="place_tags hidden-desktop" style="float:right">{{ place.distance }}</div>
              <% end %>
            </td>
          </tr>
      {% endfor %}

    </table>
  </div>
</div>

<script type="text/javascript">

    $('.table > tbody > tr').click(function () {
        window.location.href = "/places/" + $(this).attr("id");
    });
</script>
