<div class="row-fluid">
  <div class='span1 hidden-phone'></div>

  <div class="span7">
    <div class="row">
      <div class="span6">
        <div class="place_name" style="font-size: 36px;line-height: 36px;padding-bottom: 10px;">
          {{ place.name }}
        </div>

        <div class="place_address" style="font-size: 18px;">
          {{ place.street_address }}
        </div>
        <div class="place_tags" style="font-size: 14px;">
          {{ place.tags }}
        </div>
      </div>

      <div class="span6">
        <img style="border:2px solid #000000;" src="{{ place.map_url | resize:"320x150" | terrainmap }}">
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <div>
          {{ place.memo }}
        </div>

        <div style="padding:5px 0">
          {% if place.google_url %}
              <a href="{{ place.google_url }}" target="#" class="btn btn-primary">Hours & Directions</a>&nbsp;
          {% endif %}
          {% if place.phone_number %}
              <a href="tel:{{ place.phone_number }}" class="btn visible-phone">Call</a>&nbsp;
          {% endif %}
        </div>
      </div>
      <div class="span6">
        {% for photo in place.photos %}
            <a href="{{ photo.main_url }}" class="lightbox">
              <div class="image_holder">
                 <img src="{{ photo.square_url }}" class="img-polaroid">
              </div>
            </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
