<div class="grid_24">

     <div class="box_top">

         <h2 class="icon list"><%= t("oauth.oauth_access_token", {:username =>@user.username, :app_name => @client_application.name} ) %></h2>

         <h3 class="right"><a href="#contents"><%= t("basic.top") %></a></h3>
     </div>

     <div class="box_content padding">
        <p>
          <strong><%= t('oauth.consumer_key') %>:</strong>
          <code><%=@client_application.key %></code>
        </p>
        <p>
          <strong><%= t('oauth.consumer_secret') %>:</strong>
          <code><%=@client_application.secret %></code>
        </p>
        <p>
          <strong><%= t('oauth.access_token_key') %>:</strong>
          <code><%=@access_token.token %></code>
        </p>
        <p>
          <strong><%= t('oauth.access_token_secret') %>:</strong>
          <code><%=@access_token.secret %></code>
        </p>

     </div>
 </div>
