<h1><%= t("oauth.edit_application") %></h1>
<% form_for :client_application, @client_application, :url => oauth_client_path(@client_application), :html => {:method => :put}  do |f| %>
       <%= render :partial => "form", :locals => { :f => f } %>
       <%= submit_tag t("basic.edit") %>
<% end %>
<%= link_to t("basic.show"), oauth_client_path(@client_application) %> |
<%= link_to t("basic.back"), oauth_clients_path %>
