<div class="grid_24">

    <div class="box_top">

        <h2 class="icon list"><%= t "oauth.client_applications" %></h2>

        <h3 class="right"><a href="#contents">Top</a></h3>
    </div>

    <div class="box_content padding">

       <p><%= t"applications.all_applications" %></p>
        <table class="sorting">
          <thead>
            <tr><th><%= t("oauth.application") %></th></tr>
          </thead>
          <tbody>
              <% @all_client_applications.each do |application|%>
                <tr>
                  <td><%= link_to application.name, oauth_client_path(application) %></td>
                <% end %>
                 </tr>
          </tbody>
        </table>
      <br /><br /><br />
        <h3><%= link_to t('oauth.register_new_app'), :action => :new %></h3>

        <% unless @tokens.empty? %>
        <p><%= t('oauth.authorized_apps') %></p>
          <table class="sorting">
          <thead>
            <tr><th><%= t("oauth.application") %></th><th><%= t("oauth.issued") %></th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
              <% @tokens.each do |token|%>
                <% content_tag_for :tr, token do %>
                  <td><%= link_to token.client_application.name, token.client_application.url %></td>
                  <td><%= token.authorized_at %></td>
                  <td>
                    <% form_tag :controller => 'oauth', :action => 'revoke' do %>
                    <%= hidden_field_tag 'token', token.token %>
                    <%= submit_tag "Revoke!" %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
          </tbody>
        </table>
          <br/><br/><br/>
        <% end %>


    </div>
</div>



