<div id="maincontent">
  <h1><%= t("oauth.oauth_details", :app_name => @client_application.name)%></h1>

     <div class="box_content padding">
        <p>
          <strong><%= t('oauth.consumer_key') %>:</strong>
          <code><%=@client_application.key %></code>
        </p>
        <p>
          <strong><%= t('oauth.consumer_secret') %>:</strong>
          <code><%=@client_application.secret %></code>
        </p>
        <p>
          <strong><%= t('oauth.request_token_url') %>:</strong>
          <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.request_token_path %></code>
        </p>
        <p>
          <strong><%= t('oauth.access_token_url') %>:</strong>
          <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.access_token_path %></code>
        </p>
        <p>
          <strong><%= t('oauth.authorize_url') %>:</strong>
          <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.authorize_path %></code>
        </p>
           <p>
             <strong><%= t('oauth.description') %>:</strong>
             <%= @client_application.description %>
           </p>
        <p>
          <%= t("oauth.we_support_hmac") %>
        </p>

       <hr>
       <br/>

        <% if admin_user? %>
            <%= form_tag access_token_oauth_client_path(@client_application) do |f| %>
                <p>
                  <strong><%= t("oauth.generate_user_token") %></strong>
                  <%= text_field_tag :username %><%= submit_tag t("basic.submit") %>
                </p>


            <% end %>

        <% end %>


        <%= link_to t("basic.edit"), edit_oauth_client_path(@client_application) %> |
        <%= link_to t("basic.back"), oauth_clients_path %>
     </div>
 </div>



