<% if @potential_perspective.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@potential_perspective.errors.count, "error") %> <%= t'potential_perspective.error2' %></h2>

    <ul>
    <% @potential_perspective.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="pick_existing">
  <% if @places.nil? or @places.length == 0 %>
    <p class="instruction"><%= t'potential_perspective.unknown' %></p>
  <% else %>
    <p class="instruction"><%= t'potential_perspective.question_1' %> <span class="emphasize"><%= @potential_perspective.name %></span> <%= t'potential_perspective.question_2' %></p>
    <ul>
    <% @places.each do |place| %>
      <!-- Mix of our place objects and Google Place objects -->
      <li class="existing">
      <% if place.is_a? Place %>
        <%= link_to place.name, potential_perspective_path(:id => @potential_perspective.id, :place => place.gid, :ref => place.google_ref), :method => :put, :class => "existing" %> (int)
        <%= haversine_distance(place.loc[0], place.loc[1], @potential_perspective.loc[0], @potential_perspective.loc[1])['m'].round %>
      <% else %>
        <%= link_to place.name, potential_perspective_path(:id => @potential_perspective.id, :place => place.id, :ref => place.reference), :method => :put, :class => "existing" %> 
        <%= haversine_distance(place.geometry.location.lat, place.geometry.location.lng, @potential_perspective.loc[0], @potential_perspective.loc[1])['m'].round %>
      <% end %>
      m</li>
      <% if !place.is_a? Place %>
        <% if place.types %>
          <li class="away">
          <% place.types.each do |type| %>
            <% if type != "establishment" %>
              <%= type %>,
            <% end %> 
          <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  <% end %>
  <div class="instruction"><%= t'potential_perspective.wrong' %> <%= link_to "Forget it", potential_perspective_path(:id => @potential_perspective.id, :address => "forget"), :method => :put %>
  </div>
</div>

<div class="new_place">
  <p class="instruction"><%= t'potential_perspective.new' %></p>
  <%= form_for @potential_perspective do |f|%>
    <div>
      <%= f.text_field :name, :class => "place_input"%>
    </div>
    <div id="accordion">
      <% @categories.keys().sort.each do |category| %>
        <h3><a href="#"><%= category %></a></h3>
        <div>
          <% @categories[category].keys().sort.each do |friendly_term|%>
            <p><input class="radio" type="checkbox" name="potential_perspective[venue_types][]" value="<%= friendly_term %>"/><span class="radio_text"><%= friendly_term %></span></p>
          <% end %>
        </div>
      <% end %>  
    </div>
    <div id="create">
      <%= f.submit :class => 'button', :value => 'create'%>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
  <script src="/javascripts/jquery-ui-1.8.13.custom.min.js" type="text/javascript"></script>
  <script type='text/javascript'>
    $(function() {
      $( "#accordion" ).accordion({ collapsible: true, autoHeight: false, active:false });
    });
  </script>
<% end %>