<div id="map">
  <%= image_tag place.map_url, :alt=>"map", :class=>"styled_pic" %>
</div>
<div id="place_overview">
  <div id="tombstones_and_share">
    <div id="tombstones" class="place_tombstones">
      <div id="num_perspectives" class="tombstone">
        <a href="<%= place_path(place) %>" class="no_highlight">
          <p class="count" id="placemark_count"><%= place.perspectives.count %></p>
          <p class="measure placemark" id="placemark_text">
            <% if place.perspectives.count == 1 %>
              <%= t('place.placemark') %>
            <% else %>
              <%= t('place.placemarks') %>
            <% end %>
          </p>
        </a>
      </div>
      <div class="tombstone_clear"></div>
    </div>
    <div id="profile_share">
        <span class="social">
          <a href="https://twitter.com/share?url=http://www.placeling.com<%= place_path(place) %>&text=<%= u place.name %>" onclick="var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document;window.open(this.href, '', 'left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"><%= image_tag "twitter.png", :alt=>"tweet", :class=>"share" %></a>
        </span>
        <span class="social">
          <a href="" onclick="javascript:var d=document,f='https://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1323211438&u='+e('http://www.placeling.com<%= place_path(place) %>')+'&t='+e('<%= u place.name %>');1;try{if (!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z) {a=function() {if (!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if (/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0);return false"><%= image_tag "facebook.png", :alt=>"share on facebook", :class=>"share" %></a>
        </span>
        <span class="social">
          <a href="http://www.placeling.com<%= place_path(place) %>" onclick="javascript:return false;" class="email"><%= image_tag "email.png", :alt=>"email", :class=>"share" %></a>
        </span>
    </div>
  </div>
  <div id="summary">
    <div class="placename_holder">
      <div class="placename"><%= place.name %></div>
      <% if current_user && my_perspective %>
        <div id="placemark" class="placemark_it">
          <span class="placemarked"><%= t('place.placemarked') %></span>
        </div>
      <% else %>
        <div id="placemark">
        <a rel="nofollow" data-remote="true" href="<%= new_place_perspective_path(place) %>">
          <%= image_tag "placemark.png", :alt=>"placemark" %>
        </a>
        </div>
      <% end %>
    </div>
    <% if place.street_address || place.city_data %>
      <p class="address"><%= place.street_address %><% if place.city_data && place.street_address %>, <% end %><% if place.city_data %><%= place.city_data %><% end %></p>
    <% end %>
    <% if place.google_url %>
      <div>
        <a href="<%= place.google_url %>" class="google_url"><%= t('place.google_url') %></a>
      </div>
    <% end %>
  </div>
</div>