<% content_for :head do %>
  <title><%= t('place.confirm_place') %></title>
<% end %>

<div id="new_place_holder">
  <div class="callout"><%= t('place.confirm_place') %></div>
  <div>
    <%= form_for @place do |f| %>
      <% if @place.errors.any? %>
        <div id="error_explanation">
          <p><%= t('place.fix') %></p>
          <ul class="error_reasons">
          <% @place.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <input id="lat" name="place[location][]" type="hidden" value="<%= @place.location[0] %>">
      <input id="lng" name="place[location][]" type="hidden" value="<%= @place.location[1] %>">
      
      <div class="standout">
        <p class="label emphasize"><%= t'place.name' %></p>
        <%= f.text_field :name, :class => "entry_field" %>
      </div>
      <div class="standout form_spacer">
        <p class="label emphasize"><%= t('place.address') %></p>
        <%= f.text_field :street_address, :class => "entry_field" %>
      </div>
      <div class="standout form_spacer">
        <p class="label emphasize"><%= t('place.city_data') %></p>
        <%= f.text_field :city_data, :class => "entry_field" %>
      </div>
      <div class="standout form_spacer">
        <p class="label emphasize"><%= t('place.location') %></p>
        <div class="new_place_map_holder"><%= image_tag @place.wide_map_url, :class => "map_style"  %></div>
      </div>
      <div class="standout form_spacer">
        <div class="label emphasize"><%= t('place.category_label') %></div>
        <input id="venue_type" name="place[venue_types][]" type="hidden" value="<%= @place.venue_types[0] %>">
        <div><%= @place.venue_types.join(",") %></div>
      </div>
      <div id="captcha_holder">
        <%= recaptcha_tags %>
      </div>
      <div id="create_or_cancel">
        <span class="cancel">
          <a href="<%= request.referer %>"><%= t ('place.edit') %></a>
        </span>
        <input id="save_place_button" class="submit" name="commit" type="button" value="Save">
      </div>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">
    $(document).ready(function(){
        $("#save_place_button").click(function(){
            $("#new_place").submit();
        });
    });

  </script>

<% end %>