<div id="maincontent">
  <div id="search_form">
    <h1><%= t'place.search_name' %></h1>
    <%= form_tag({:controller => "places", :action => "search"}, :method => "get") do %>
      <%= text_field_tag(:query, @query) %>
      <%= hidden_field_tag(:lat, @user.loc[0]) %>
      <%= hidden_field_tag(:long, @user.loc[1]) %>
      <%= submit_tag("search", :class => "button") %>
    <% end %>
  </div>
  
  <% if @places %>
    <div id="results">
    <% if @places.length == 0 %>
      <p><%= t'place.search_no_result' %> <span class="emphasize">"<%= @query %>"</span></p>
      <ul><%= t'place.search_tip' %>:
        <li><%= t'place.search_tip_1' %></li>
        <li><%= t'place.search_tip_2' %></li>
      </ul>
      <% if admin_user? %>
      <div id="new_place">
        <%= t'place.search_missing' %> "<%= @query %>"? <%= link_to 'Add it as a new location', new_place_path %>
      </div>
      <% end %>
    <% else %>
      <% @places.each_with_index do |place, index|%>
        <div>
          <p class="name"><%= link_to place.name, place %>
            <% if admin_user? %>
              <a class="new_perspective" href=""><%= t'place.add_perspective' %></a>
            <% end%>
          </p>
          <p class="address"><%= place.street_address %> <a class="map<%= index %>" href="http://maps.googleapis.com/maps/api/staticmap?center=<%= place.loc[0] %>,<%= place.loc[1] %>&zoom=16&size=800x600&sensor=false&markers=color:red%7C<%= place.loc[0] %>,<%= place.loc[1] %>">map</a></p>
        </div>
      <% end %>
      <% if admin_user? %>
      <div id="new_place">
        <%= t'place.add_1' %> "<%= @query %>" <%= t'place.add_2' %>? <%= link_to 'Add it as a new location', new_place_path %>
      </div>
      <% end %>
    <% end %>
    </div>
  <% end %>  
</div>

<% content_for :javascript do %>
  <script src="/javascripts/lightbox.js" type="text/javascript"></script>
  <script type='text/javascript'>
     <% if @places %>
       <% @places.each_with_index do |place, index|%>
         $('a.map<%= index %>').lightBox();
       <% end %>
     <% end %>
  </script>
<% end %>