
<div id="maincontent">
  <h1><%= @place.name %>'s <%= t("basic.marks") %></h1>

    <table class="sorting">
        <% @place.perspectives.each do |perspective|%>
            <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => :place} %>
        <% end %>
    </table>
</div>


<div id="nav">

  <div class="boxnav">
    <h2 class="titlenav"><%= @place.name %></h2>


   <%= render :partial => "home/google_static_map", :locals => {:location =>@place.location} %>

   <p>
     <strong><%= t("basic.location")%>:</strong>
     <code><%= @place.location[0].to_s + "," + @place.location[1].to_s  %></code>
   </p>

   </div>
</div>



</div>


