<% content_for :head do %>
  <title><%= @place.name %></title>
  <meta name="description" content="<%= t('place.description', {:name => @place.name})%>">
  <meta property="og:title" content="<%= @place.name %>"/>
  <meta property="og:url" content="https://www.placeling.com<%= place_path(@place) %>"/>
  <meta property="og:type" content="place">
  <meta property="og:image" content="https://www.placeling.com/images/logo.png"/>

  <META NAME="geo.placename" content="<%= @place.name %>" />
  <META NAME="geo.position" content="<%= @place.location[0] %>;<%= @place.location[1] %>" />
  <meta name=”ICBM” content=”<%= @place.location[0] %>,<%= @place.location[1] %>″>
<% end %>

<% content_for :javascript_includes do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.lightboxGallery').each(function(){
        $('.lightbox', this).lightBox();
      });
      
      $('.email').each(function() {
        $(this).qtip({
          content: '<span class="link_holder"><span class="link_header">Link:</span><input type="text" value="'+ $(this).attr("href") + '" class="link_text"></span>',
           position: {
             my: 'bottom center',
             at: 'top center'
           },
           show: {
             event: 'click',
             solo: true
           },
           hide: {
             event: 'click'
           },
           style: {
             classes: 'ui-tooltip-rounded ui-tooltip-shadow',
           }
        });
      });
    });
  </script>
<% end %>

<div id="placedetails">
  <%= render :partial => "detail", :locals => {:place => @place, :my_perspective => @my_perspective} %>    
</div>
<div id="perspectives">
  <div>
    <div class="image_lead">
      <%= image_tag "plane.png", :alt=>"Plane" %>
    </div>
    <div class="content_type">
      <span><%=t('place.notes_and_photos') %></span>
    </div>
    <% if current_user.nil? %>
      <div class="call_to_action perspective_group header_group">
        <%= link_to t("user.sign_in"), new_user_session_path, :class=>"users" %><%= t'place.call_to_action'%>
      </div>
    <% else %>
      <% if @my_perspective %>
        <div id="my_perspective" class="perspective_group">
          <div id="you_header" class="header_group">
            <%= image_tag "green_tab.png", :alt=>"you", :class=>"tab" %>
            <div class="group_title me"><%= t('place.your_notes') %></div>
          </div>
          <% if (!(@my_perspective.memo.nil? || @my_perspective.memo.length == 0) && !(@my_perspective.pictures.nil? || @my_perspective.pictures.length == 0))%>
            <%= render :partial => "perspectives/show", :locals => {:perspective => @my_perspective, :source => "place_page"} %>
          <% else %>
            <%= render :partial => "perspectives/show", :locals => {:perspective => @my_perspective, :source => "place_page_empty"} %>
          <% end %>
        </div>
      <% end %>
      <% if @follow_perspectives_count > 0 %>
      <div id="following_perspectives" class="perspective_group">
        <div id="follow_header" class="header_group">
          <%= image_tag "red_tab.png", :alt=>"following", :class=>"tab" %>
          <div class="group_title">
            <div class="others"><%= t('place.following_notes') %></div>
            <div class="others_count"><%= t('place.place_lead') %><%= @follow_perspectives_count %><% if @follow_perspectives_count == 1 %><%= t('place.singular') %><% else %><%= t('place.plural') %><% end %><%= t('place.place_trail') %></div>
          </div>
        </div>
        <ul>
        <% @following_perspectives.each do |perspective|%>
            <li class="tombstone_clear" id="perspective_<%=perspective.id %>"><%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => "place_page"} %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
    <% end %>
    <% if @else_perspective_count > 0 %>
    <div id= "all_perspectives" class="perspective_group">
      <div id="all_header" class="header_group">
        <%= image_tag "red_tab.png", :alt=>"everyone",:class=>"tab" %>
        <% if current_user %>
          <div class="group_title others"><%= t('place.everyone_else_notes') %></div>
        <% else %>
          <div class="group_title others"><%= t('place.everyone_notes') %></div>
        <% end %>
      </div>
      <ul>
      <% @all_perspectives.each do |perspective|%>
          <li class="tombstone_clear" id="perspective_<%=perspective.id %>"><%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source =>"place_page"} %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>