
    <table>
        <tr>
          <td>
            <%= render :partial => "home/google_static_map", :locals => {:location =>@place.location} %>
          </td>

          <td>
            <h2><%= @place.name %></h2>
            <div id="address_line"><%= @place.street_address %></div>
            <div id="city_line"><%= @place.city_data %></div>
            <div id="loc_line"><%= @place.location[0].to_s + "," + @place.location[1].to_s  %> </div>
          </td>
        </tr>
    </table>

    <h2>Your Network</h2>
        <% if @following_perspectives %>
            <ul id="network_perspectives">
                <% @following_perspectives.each do |perspective|%>
                    <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source =>:place} %>
                <% end %>
            </ul>
        <% end %>

    <h2>Everyone</h2>
    <ul id="everyone_perspectives">
        <% @all_perspectives.each do |perspective|%>
            <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source =>:place} %>
        <% end %>
    </ul>
