<% content_for :head do %>
    <title><%= @place.name %></title>
    <meta property="og:description" content="<%= t('place.description', {:name => @place.name}) %>">
    <meta property="og:title" content="<%= @place.name %>"/>
    <meta property="og:url" content="<%= @place.og_path %>"/>
    <meta property="og:type" content="placeling:location">
    <meta property="og:image" content="<%= @place.og_picture %>"/>
    <meta property="place:location:latitude" content="<%= @place.location[0] %>">
    <meta property="place:location:longitude" content="<%= @place.location[1] %>">


    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="<%= @place.og_path %>"/>
    <meta name="twitter:title" content="<%= @place.name %>"/>
    <meta name="twitter:description" content="<%= t('place.description', {:name => @place.name}) %>"/>
    <meta name="twitter:image" content="<%= @place.og_picture %>"/>

    <meta name="twitter:site" content="@placeling">
    <meta name="twitter:site:id" content="248750993">

    <META NAME="geo.placename" content="<%= @place.name %>"/>
    <META NAME="geo.position" content="<%= @place.location[0] %>;<%= @place.location[1] %>"/>
    <meta name=”ICBM” content=”<%= @place.location[0] %>,<%= @place.location[1] %>″>

<% end %>

<% content_for :javascript_includes do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.lightboxGallery').each(function () {
                $('.lightbox', this).lightBox();
            });

            $('.email').each(function () {
                $(this).qtip({
                    content:'<span class="link_holder"><span class="link_header">Link:</span><input type="text" value="' + $(this).attr("href") + '" class="link_text"></span>',
                    position:{
                        my:'bottom right',
                        at:'top center'
                    },
                    show:{
                        event:'click',
                        solo:true
                    },
                    hide:{
                        event:'click'
                    },
                    style:{
                        classes:'ui-tooltip-rounded ui-tooltip-shadow'
                    }
                });
            });
        });
    </script>
<% end %>

<%= render :partial => "detail", :locals => {:place => @place, :my_perspective => @my_perspective} %>

<% if @place.perspectives.count == 0 %>
    <div class="unplacemarked">
      <%= image_tag "plane.png", :alt => "Plane" %>
      <span><%= t('place.no_notes') %></span>
    </div>
<% else %>
    <% if current_user.nil? %>
        <div class="place_category centered_place_mini"><%= t('place.popular') %></div>
        <div class="perspectives_holder">
          <% @all_perspectives.each do |perspective| %>
              <div id="perspective_<%= perspective.id %>">
                <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => "place_page"} %>
              </div>
          <% end %>
        </div>
        <% if @all_perspectives_empty.length > 0 %>
            <div class="empty_perspectives centered_place">
              <div class="more_placemarks"><%= t('place.more') %></div>
              <% @all_perspectives_empty.each do |perspective| %>
                  <div class="empty_perspective">
                    <a href="<%= user_path(perspective.user, :pid => perspective.id) %>" title="<%= perspective.user.username %>"><%= image_tag perspective.user.thumb_url, :alt => "Thumb", :class => "styled_mini" %></a>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% else %>
        <% if @my_perspective %>
            <div id="my_perspective" class="perspective_group">
              <% if !@my_perspective.empty_perspective? %>
                  <%= render :partial => "perspectives/show", :locals => {:perspective => @my_perspective, :source => "place_page"} %>
              <% else %>
                  <%= render :partial => "perspectives/show", :locals => {:perspective => @my_perspective, :source => "place_page_empty"} %>
              <% end %>
            </div>
        <% end %>
        <% if @follow_perspectives_count > 0 || (@follow_perspectives_count == 0 && @else_perspective_count > 0) %>
            <div id="following_perspective" class="place_category_spacer">
              <div class="place_category centered_place_mini"><%= t('place.following') %></div>
              <% if @follow_perspectives_count > 0 %>
                  <div class="perspectives_holder">
                    <% @following_perspectives.each do |perspective| %>
                        <div id="perspective_<%= perspective.id %>">
                          <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => "place_page"} %>
                        </div>
                    <% end %>
                  </div>
                  <% if @following_perspectives_empty.length > 0 %>
                      <div class="empty_perspectives centered_place">
                        <div class="more_placemarks"><%= t('place.more') %></div>
                        <% @following_perspectives_empty.each do |perspective| %>
                            <div class="empty_perspective">
                              <a href="<%= user_path(perspective.user, :pid => perspective.id) %>" title="<%= perspective.user.username %>"><%= image_tag perspective.user.thumb_url, :alt => "Thumb", :class => "styled_mini" %></a>
                            </div>
                        <% end %>
                      </div>
                  <% end %>
              <% else %>
                  <div class="no_following centered_place_mini"><%= t('place.no_following') %></div>
              <% end %>
            </div>
        <% end %>
        <% if @else_perspective_count > 0 %>
            <div id="popular_perspective" class="place_category_spacer">
              <div class="place_category centered_place_mini"><%= t('place.popular') %></div>
              <div class="perspectives_holder">
                <% @all_perspectives.each do |perspective| %>
                    <div id="perspective_<%= perspective.id %>">
                      <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => "place_page"} %>
                    </div>
                <% end %>
              </div>
              <% if @all_perspectives_empty.length > 0 %>
                  <div class="empty_perspectives centered_place">
                    <div class="more_placemarks"><%= t('place.more') %></div>
                    <% @all_perspectives_empty.each do |perspective| %>
                        <div class="empty_perspective">
                          <a href="<%= user_path(perspective.user, :pid => perspective.id) %>" title="<%= perspective.user.username %>"><%= image_tag perspective.user.thumb_url, :alt => "Thumb", :class => "styled_mini" %></a>
                        </div>
                    <% end %>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>
<div class="place_bottom_spacer">&nbsp;</div>