
<div id="maincontent">
  <h1><%= @place.name %>'s <%= t("basic.marks") %></h1>
      <ul id="listteamnav">
        <li style="height: 200px;text-align: center"><%= render :partial => "home/google_static_map", :locals => {:location =>@place.location} %><br>
        </li>
        <li> <b><%= t('place.location') %>:</b> <%= @place.location[0].to_s + "," + @place.location[1].to_s  %><br>
        </li>

    </ul>

    <ul id="listnews">
        <% @place.perspectives.order_by([:created_at, :desc]).each do |perspective|%>
            <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source =>:place} %>
        <% end %>
    </ul>
</div>


