<div id="footerbottom">
  <p>&copy; <%= t('home.copyright')  %><%= link_to(t('home.about_us'), about_us_path, :class => "horizontal_spacer") %> <a href="http://blog.placeling.com" class="horizontal_spacer"><%= t('home.blog') %></a><%= link_to(t('home.bloggers'), bloggers_path, :class => "horizontal_spacer") %><%= link_to(t('home.investors'), investors_path, :class => "horizontal_spacer") %><%= link_to(t('home.privacy_policy'), privacy_policy_path, :class => "horizontal_spacer") %><%= link_to(t('home.terms_of_service'), terms_of_service_path, :class => "horizontal_spacer") %></p>
</div>
