<div id="header">
    <div id="search">
      <form accept-charset="UTF-8" ><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <a href="/" id="logo"><img src="/images/logo.png"></a>
        <input id="term" type="text" class="search_box">
        <input type="image" src="/images/search.png" value="submit" id="search_submit">
      </form>
    </div>
    <div id="user_controls">
      <% user_location %>
      <ul>
        <% if current_user %>
          <li><a href="<%= user_path(current_user) %>"><%= image_tag current_user.thumb_url, :class=>"you", :alt=>"you" %></a></li>
          <li><p class="holder"><%= link_to t("user.you"), (user_path :id=>current_user), :class=>"users" %></p></li>
          <li><p class="mini_holder"><%= image_tag 'divider.png' %></p></li>
          <li><p class="holder"><%= link_to t("user.log_out"), destroy_user_session_path, :method=>:delete, :class=>"users" %></p></li>
        <% else %>
          <li><p class="holder"><%= link_to t("user.sign_in"), new_user_session_path, :class=>"users" %></p></li>
        <% end %>
      </ul>
  </div>
</div>