<div id="header">
    <!-- Logo: Start -->
    <a href="/" id="logo"><span></span></a>
    <!-- Logo: End -->
    <!-- Navigation: Start -->
    <div id="user_controls">
        <ul>
            <% if current_user %>
                <li><a href="<%= user_path(current_user) %>"><%= image_tag current_user.thumb_url, :class=>"you", :alt=>"you" %></a></li>
                <li><p class="holder"><%= link_to t("user.you"), (user_path :id=>current_user), :class=>"users" %></p></li>
                <li><p class="mini_holder"><%= image_tag 'divider.png' %></p></li>
                <li><p class="holder"><%= link_to t("user.log_out"), destroy_user_session_path, :method=>:delete, :class=>"users" %></p></li>
            <% else %>
                <li><p class="holder"><%= link_to t("user.sign_in"), new_user_session_path, :class=>"users" %></p></li>

            <% end %>
        </ul>
    </div>
    <!-- Navigation: End -->
</div>