
<div id="header">

    <!-- Logo: Start -->
    <a href="/" id="logo" class="replace"><span></span></a>
    <!-- Logo: End -->

    <!-- Navigation: Start -->
    <div id="placemainmenu">
        <ul id="mainmenu">

          <li><%= link_to t("home.contact_us"), contact_us_path %></li>
          <li><%= link_to t("home.about_us"), about_us_path %></li>
            <% if current_user %>
                <li><%= link_to t("user.log_out"), destroy_user_session_path, :method=>:delete, :class=>"users" %></li>
            <% else %>
                <li><%= link_to t("user.sign_in"), new_user_session_path, :class=>"users" %></li>
            <% end %>

            <% if admin_user? %>
                <ul id="admin_links" class="dropdown right">
                    <li class="topnav">
                        <a href="#" class="top icon pen"><%= t("home.admin_links") %></a>

                        <!-- Style (Themes) Switcher Content: Start -->
                        <ul class="subnav">
                            <%= render(:partial =>"home/admin_links") %>
                        </ul>
                        <!-- Style (Themes) Switcher Content: End -->
                    </li>
                </ul>
            <% end %>
        </ul>
    </div>
    <!-- Navigation: End -->
</div>
