<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta property="og:site_name" content="Placeling"/>
  <title>Placeling</title>

  <%= favicon_link_tag %>
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <!-- Social widgets -->

  <%= javascript_include_tag "application" %>

  <% if notice %>
      <script type="text/javascript">
          $(document).ready(function () {
              noty({
                  text:'<%= notice unless notice.blank? %>',
                  layout:'topRight',
                  type:"information",
                  timeout:15000
              });
          });
      </script>

  <% end %>
  <% if alert %>
      <script type="text/javascript">
          $(document).ready(function () {
              noty({
                  text:'<%= alert unless alert.blank? %>',
                  layout:'topRight',
                  type:"error",
                  timeout:5000
              });
          });
      </script>

  <% end %>

  <%= yield :javascript_includes %>

  <style type="text/css">
      .ui-autocomplete {
          font-size: 62.5%;
      }

      <%= yield :css %>
  </style>
</head>
<body>
<!--[if lte IE 7]>
<script src="javascripts/ie6/warning.js"></script>
<script>window.onload = function () {
    e("javascripts/ie6/")
}</script><![endif]-->
<div id="container">
  <div id="wrapper">
    <div id="header">
      <div id="search">
        <form accept-charset="UTF-8">
          <% if current_user %>
              <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/></div>
          <% end %>
          <a href="/" id="logo"><%= image_tag "logo.png" %></a>
        </form>
      </div>
      <div id="user_controls">
      </div>
    </div>
    <div id="content">
      <div id="maincontent">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<div id="footerbottom">
  <p>&copy; 2011 - 2013 Placeling (Internet Services) Inc.</p>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25331124-1']);
    _gaq.push(['_setDomainName', 'placeling.com']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
