<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <%= javascript_include_tag "externals" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <style type="text/css">
      .ui-autocomplete {
          font-size: 62.5%;
      }

      <%= yield :css %>
  </style>
</head>
<body>
  <%= yield %>
  <%= yield :javascript %>
</body>
</html>
